<div class="hb-card clearfix">

	<div ng-show="!elfins">
		<h5>
			<div class="loading"></div>
			Chargement des informations
		</h5>
	</div>

	<div class="table-responsive">
		<!-- make table scroll horizontally up to small devices (under 768px) -->
		<table class="table table-condensed table-bordered table-striped"
			ng-show="elfins">
			<thead>
				<tr>
					<th colspan="6"><span class="badge">{{elfinsCount}}</span> acteur{{ elfinsCount | plural }} trouvé{{
						elfinsCount | plural }}</th>
				</tr>
				<tr>
					<th />
					<th>Groupe</th>
					<th>Rôle</th>
					<th>N° de téléphone</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="elfin in elfins">
					<td><a
						href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}">Détail</a></td>
					<td>{{elfin.GROUPE}}</td>
					<td>{{elfin.IDENTIFIANT.QUALITE}}</td>
					<td>{{elfin.CARACTERISTIQUE.CAR4.VALEUR}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

