<div>
	<div class="modal-header">
		<h3 class="modal-title">Sélectionnez l'ACTEUR de votre choix</h3>
	</div>
	<div class="modal-body" style="height: 450px;">

<!-- Dev. draft testing scope behaviour. TODO: Remove -->
<!-- 		<form name="actorSearchForm" class="form-horizontal" role="form" novalidate >  novalidate prevents HTML5 automated validation  -->
<!-- 			<div class="col-sm-12">searchText: {{searchText}}</div> -->
<!-- 			<div class="col-sm-12" ><input id="searchTextInput" type="text" class="form-control" ng-model="searchText" ></div> -->
		<div class="col-sm-12" ng-show="!selectedActors || selectedActors.length === 0">Aucune sélection effectuée</div>
		<div ng-show="selectedActors && selectedActors.length > 0" class="col-sm-4">Sélection courrante: </div><div class="col-sm-8" ng-show="selectedActors && selectedActors.length > 0">{{selectedActors[0].GROUPE}}</div>
		<div class="modalGridStyle col-sm-12" ng-grid="gridOptions"></div>
<!-- 		</form> -->
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Annuler</button>
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</div>