<div>
	<div class="modal-header">
		<h3 class="modal-title">Renseigner le{{ itemDefinition.parameters.length | plural }}
			paramètre{{ itemDefinition.parameters.length | plural }}</h3>
	</div>
	<div class="modal-body" ui-keypress="{13:'keypressCallback($event)'}">
		<form name="chooseParamForm" class="form-horizontal" role="form" novalidate > <!--  novalidate prevents HTML5 automated validation  -->
				<div class="form-group" ng-repeat="field in modalModel">
				<label for="field{{$index}}" class="col-sm-4 control-label">{{field.label}} : </label>
				<div class="col-sm-8">
					<input id="field{{$index}}" type="text" class="form-control" ng-model="field.value" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Annuler</button>
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
	
</div>