<div>
	<div class="modal-header">
		<h3 class="modal-title">Sélectionnez l'ACTEUR de votre choix</h3>
	</div>
	<div class="modal-body">
	<!-- TODO: try ng-grid -->
	
	<div class="gridStyle" ng-grid="gridOptions"></div>
	
<!-- 		<table class="table table-condensed table-bordered table-striped" -->
<!-- 			ng-show="actors"> -->
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th /> -->
<!-- 					<th>Groupe</th> -->
<!-- 					<th>Rôle</th> -->
<!-- 					<th>N° de téléphone</th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
<!-- 			<tbody> -->
<!-- 				<tr ng-repeat="elfin in actors"> -->
<!-- 					<td><a -->
<!-- 						href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}">Détail</a></td> -->
<!-- 					<td>{{elfin.GROUPE}}</td> -->
<!-- 					<td>{{elfin.IDENTIFIANT.QUALITE}}</td> -->
<!-- 					<td>{{elfin.CARACTERISTIQUE.CAR4.VALEUR}}</td> -->
<!-- 				</tr> -->
<!-- 			</tbody> -->
<!-- 		</table> -->
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Annuler</button>
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</div>