<div hb-card-container>
	<div class="col-xs-12">
		<tabset>
		<!-- CONSTAT tab --> 
		<tab>
			<tab-heading>Constat</tab-heading>
			<div class="hb-tab">
				<div class="form-group">
					<label for="goal" class="col-sm-2 control-label">Numéro de gérance</label> 
					<div class="col-sm-4">
						<input id="goal" type="text" class="form-control" ng-model="elfin.IDENTIFIANT.OBJECTIF" tooltip="elfin.IDENTIFIANT.OBJECTIF">
					</div> 
	
					<label for="author" class="col-sm-2 control-label">Numéro ECAP</label>
					<div class="col-sm-4"> 
							<input id="author" type="text" class="form-control" ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR" tooltip="elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR">
						</div> 
	
					<label for="name" class="col-sm-2 control-label">N° de construction</label>
					<div class="col-sm-4">
						<input id="name" type="text" class="form-control" ng-model="elfin.IDENTIFIANT.NOM" tooltip="elfin.IDENTIFIANT.NOM">
					</div>
	
					<label for="address" class="col-sm-2 control-label">Adresse</label>
					<div class="col-sm-4"> 
						<input id="address" type="text" class="form-control" ng-model="elfin.IDENTIFIANT.ALIAS" tooltip="elfin.IDENTIFIANT.ALIAS">
					</div>
	
					<label for="address" class="col-sm-2 control-label">Numéro cadastral</label>
					<div class="col-sm-4"> 
						<input id="address" type="text" class="form-control" ng-model="elfin.CARACTERISTIQUE.CAR4.VALEUR" tooltip="elfin.CARACTERISTIQUE.CAR4.VALEUR">
					</div>
				</div>
	
				<div class="form-group">
					<label for="manager" class="col-sm-2 control-label">Propriétaire</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input id="manager"	type="text" class="form-control" ng-model="elfin.PARTENAIRE.PROPRIETAIRE.VALUE" tooltip="elfin.PARTENAIRE.PROPRIETAIRE.VALUE">
					    	<span class="input-group-btn">
	        					<button class="btn btn-default" type="button" ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE)">Choix</button>
	      					</span>						
						</div>
					</div>
	
					<label for="managerName" class="col-sm-2 control-label">Nom du propriétaire</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input id="managerName" type="text" class="form-control" ng-model="elfin.PARTENAIRE.PROPRIETAIRE.NOM" tooltip="elfin.PARTENAIRE.PROPRIETAIRE.NOM">
					    	<span class="input-group-btn">
	        					<button class="btn btn-default" type="button" ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE.NOM)">Choix</button>
	      					</span>						
						</div>
					</div>
					<label for="alias" class="col-sm-2 control-label">Architecte</label>
					<div class="col-sm-4">
						<input id="alias" type="text" class="form-control" ng-model="elfin.PARTENAIRE.FOURNISSEUR.VALUE" tooltip="elfin.PARTENAIRE.FOURNISSEUR.VALUE">
					</div>
				</div>
	
				<div class="form-group">
					<label for="address" class="col-sm-2 control-label">Lieu-dit</label>
					<div class="col-sm-10">
						<input id="address" type="text" class="form-control" ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR" tooltip="elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR">
					</div>
					<label for="address" class="col-sm-2 control-label">Remarque</label>
					<div class="col-sm-10">
						<input id="address" type="text" class="form-control" ng-model="elfin.DIVERS.REMARQUE" tooltip="elfin.DIVERS.REMARQUE">
					</div>
				</div>
	
				<div class="form-group">
					<div ng-show="elfin.IDENTIFIANT.MOTCLE.length > 0" class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
								<tr>
									<th>
										<div class="input-group">
											<div>Mots clés</div>
											<span class="input-group-btn">
	        									<button class="btn btn-default" type="button" ng-click="addRow(elfin, 'IDENTIFIANT.MOTCLE', { VALUE: '' })"><i class="icon-plus-sign"></i> Nouveau</button>
	      									</span>
										</div>								
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="motcle in elfin.IDENTIFIANT.MOTCLE">
									<td>
										<div class="input-group">
											<input type="text" class="form-control" ng-model="motcle.VALUE" tooltip="elfin.IDENTIFIANT.MOTCLE" placeholder="Saisissez un nouveau mot clé">
											<span class="input-group-btn">
												<button class="btn btn-default" ng-click="removeKeyword($index)"><i class="icon-remove-sign" ></i> Supprimer</button>
											</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-show="constats" class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
								<tr>
									<th>Constat</th>
									<th>Date</th>
									<th>Nom</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="constat in constats">
									<td><a href="/elfin/{{constat.ID_G}}/CONSTAT/{{constat.Id}}">Détail</a></td>
									<td><span tooltip="constat.IDENTIFIANT.DE">{{constat.IDENTIFIANT.DE}}</span></td>
									<td><span tooltip="constat.IDENTIFIANT.NOM">{{constat.IDENTIFIANT.NOM}}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>			
			</div>
		</tab> 
		<!-- SURFACE tab --> 
		<tab>
			<tab-heading>Surfaces locatives</tab-heading>
			<div class="hb-tab">
			</div>
		</tab> 
		<!-- PRESTATION tab -->
		<tab>
			<tab-heading>Prestations</tab-heading>
			<div class="hb-tab">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th>Date</th>
							<th>Utilisateur</th>
							<th>Rôle</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mutation in elfin.MUTATIONS">
							<td>{{mutation.DATE}}</td>
							<td>{{mutation.UTILISATEUR}}</td>
							<td>{{mutation.ROLE}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</tab> 
		<!-- CONTRAT tab --> 
		<tab>
			<tab-heading>Contrats</tab-heading>
			<div class="hb-tab">	
				<div class="form-group">	
					<label for="groupe" class="col-sm-2 control-label">Groupe</label> 
					<div class="col-sm-4" >
						<input id="groupe" type="text" class="form-control" ng-model="elfin.GROUPE">
					</div> 
						
					<label for="type" class="col-sm-2 control-label">Type</label>
					<div class="col-sm-4" > 
						<select
							id="type" 
							chosen 
							class="form-control"
							ng-model="elfin.TYPE"
							ng-options="value as label for (value, label) in elfinTypes">
						</select> 
					</div>
					
					<label for="nature" class="col-sm-2 control-label">Nature</label> 
					<div class="col-sm-4" >
						<input id="nature" type="text" class="form-control" ng-model="elfin.NATURE"> 
					</div>
					
					<label for="source" class="col-sm-2 control-label">Source</label>
					<div class="col-sm-4" >
						<input id="source" type="text" class="form-control"  ng-model="elfin.SOURCE">
					</div>
				</div>
			</div>
		</tab> 
		<!-- EQUIPEMENT tab --> 
		<tab heading="Equipement">
			<tab-heading>Equipement</tab-heading>
			<div class="hb-tab">	
				<h5>Centroïdes</h5>
				<table class="table table-condensed table-bordered table-striped" >
					<thead>
						<tr>
							<th style="padding-right:5em;">Type</th>
							<th>Xm</th>
							<th>Ym</th>
							<th>Zm</th>
							<th>Rm</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="centroide in elfin.GEOSELECTION.CENTROIDE">
							<td><select chosen data-placeholder="Choisir un type" 
								class="form-control"
								ng-model="centroide.TYPE"
								ng-options="value as label for (value, label) in typeTypes">
							</select></td>
							<td><input type="text" class="form-control" ng-model="centroide.XM"></td>
							<td><input type="text" class="form-control" ng-model="centroide.YM"></td>
							<td><input type="text" class="form-control" ng-model="centroide.ZM"></td>
							<td><input type="text" class="form-control" ng-model="centroide.RM"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</tab> 
	</tabset>
	</div>
</div>
