<div class="card clearfix">
    <!-- Error -->
    <div ng-show="errorMessage" class="notice error"><i class="icon-remove-sign icon-large"></i> {{errorMessage}}</div>
    <!-- Info TODO: should disappear after n seconds: built in with ngStrap alert. -->
    <div ng-show="statusMessage" class="notice info"><i class="icon-info-sign icon-large"></i> {{statusMessage}}</div>

    <div ng-show="!elfin && !errorMessage">
        <h3>Chargement des informations</h3>
        <div class="loading"></div>
    </div>

    <div ng-show="elfin">
        <div class="col_8">
            <ul class="button-bar ">            
                <li><a ng-click="putElfin(elfin)" href=""><i class="icon-save"></i></a></li>
                <li><a href=""><i class="icon-copy"></i></a></li>
                <li><a href=""><i class="icon-trash"></i></a></li>
                <li><a href=""><i class="icon-paper-clip"></i></a></li>
                <li><a href=""><i class="icon-map-marker"></i></a></li>
                <li><a href=""><i class="icon-print"></i></a></li>
                <li><a href=""><i class="icon-cogs"></i></a></li>
                <li><a href=""><i class="icon-folder-open"></i></a></li>
            </ul>
        </div>

        <div class="col_4 right">
            <i class="icon-tag"></i> {{elfin.CLASSE}}<br/>
            <i class="icon-folder-close"></i> {{elfin.ID_G}}<br/>
            <i class="icon-file"></i> {{elfin.Id}}
        </div>
        <div class="clear"></div>

        <div class="col_12">
            <tabset>
                <!-- ATTRIBUTS -->
                <tab heading="Attributs">
                    <div class="col_4">
                        <h5>Attributs</h5>
                        <form class="vertical">
                            <label for="groupe">Groupe</label>
                            <input id="groupe" type="text" ng-model="elfin.GROUPE">

                            <label for="type">Type</label>
                            <select id="type" chosen  data-placeholder="Choisir un type" ng-model="elfin.TYPE"
                                    ng-options="value as label for (value, label) in elfinTypes">
                            </select>

                            <label for="nature">Nature</label>
                            <input id="nature" type="text" ng-model="elfin.NATURE">
                            <label for="source">Source</label>
                            <input id="source" type="text" ng-model="elfin.SOURCE">
                        </form>
                    </div>
                </tab>

                <!-- MUTATIONS -->
                <tab heading="Mutations">
                    <table class="striped tight sortable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Utilisateur</th>
                                <th>Rôle</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="mutation in elfin.MUTATIONS">
                            <td>{{mutation.DATE}}</td>
                            <td>{{mutation.UTILISATEUR}}</td>
                            <td>{{mutation.ROLE}}</td>
                        </tr>
                    </table>
                </tab>


                <!-- GEOSELECTION -->
                <tab heading="Géosélection">
                    <h5>Centroïdes</h5>

                    <table class="striped tight sortable">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Xm</th>
                            <th>Ym</th>
                            <th>Zm</th>
                            <th>Rm</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="centroide in elfin.GEOSELECTION.CENTROIDE">
                            <td>
                                <select chosen  data-placeholder="Choisir un type" ng-model="centroide.TYPE"
                                        ng-options="value as label for (value, label) in typeTypes">
                                </select>
                            </td>
                            <td><input type="text" ng-model="centroide.XM"></td>
                            <td><input type="text" ng-model="centroide.YM"></td>
                            <td><input type="text" ng-model="centroide.ZM"></td>
                            <td><input type="text" ng-model="centroide.RM"></td>
                        </tr>
                    </table>

                </tab>


                <tab heading="Identifiant">
                    <div class="col_4">
                        <form class="vertical">
                            <label for="author">Auteur</label>
                            <input id="author" type="text" ng-model="elfin.IDENTIFIANT.AUT">

                            <label for="name">Nom</label>
                            <input id="name" type="text" ng-model="elfin.IDENTIFIANT.NOM">

                            <label for="goal">Objectif</label>
                            <input id="goal" type="text" ng-model="elfin.IDENTIFIANT.OBJECTIF">

                            <label for="from">De</label>
                            <input id="from" type="text" ng-model="elfin.IDENTIFIANT.DE">

                            <label for="value_new">Valeur à neuf</label>
                            <input id="value_new" type="text" ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF">
                        </form>
                    </div>

                    <div class="col_4">
                        <form class="vertical">
                            <label for="manager">Gérant</label>
                            <input id="manager" type="text" ng-model="elfin.IDENTIFIANT.GER">

                            <label for="alias">Alias</label>
                            <input id="alias" type="text" ng-model="elfin.IDENTIFIANT.ALIAS">

                            <label for="quality">Qualité</label>
                            <input id="quality" type="text" ng-model="elfin.IDENTIFIANT.QUALITE">

                            <label for="to">A</label>
                            <input id="to" type="text" ng-model="elfin.IDENTIFIANT.A">

                            <label for="value">Valeur</label>
                            <input id="value" type="text" ng-model="elfin.IDENTIFIANT.VALEUR">
                        </form>
                    </div>

                    <div class="col_4">
                        <form class="vertical">
                            <label for="responsible">Responsable</label>
                            <input id="responsible" type="text" ng-model="elfin.IDENTIFIANT.RES">

                            <label for="origin">Origine</label>
                            <input id="origin" type="text" ng-model="elfin.IDENTIFIANT.ORIGINE">

                            <label for="account">Compte</label>
                            <input id="account" type="text" ng-model="elfin.IDENTIFIANT.COMPTE">

                            <label for="by">Par</label>
                            <input id="by" type="text" ng-model="elfin.IDENTIFIANT.PAR">
                        </form>
                    </div>

                    <div class="clear"></div>


                    <div class="col_8">
                        <h5>Mots clés</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'IDENTIFIANT.MOTCLE', 'Mot clé')"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <div class="col_12">
                        <form class="vertical">
                            <table class="striped tight sortable">
                                <thead>
                                <tr>
                                    <th>Mot clé</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tr ng-repeat="motcle in elfin.IDENTIFIANT.MOTCLE">
                                    <td><input type="text" ng-model="motcle"></td>
                                    <td class="right"><a ng-click="elfin.IDENTIFIANT.MOTCLE.splice($index, 1)"><i class="icon-remove-sign"></i></a></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </tab>


                <!-- CARACTERISTIQUE -->

                <tab heading="Caractéristiques">
                    <h5>Caractéristiques</h5>
                    <form class="vertical">
                        <table class="striped tight sortable" ng-init="carIndexes = [1, 2, 3, 4, 5, 6]">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Unité</th>
                                <th>Valeur</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="carIndex in carIndexes">
                                <td>{{'CAR' + carIndex}}</td>
                                <td><input type="text" ng-model="elfin.CARACTERISTIQUE['CAR' + carIndex].NOM"></td>
                                <td><input type="text" ng-model="elfin.CARACTERISTIQUE['CAR' + carIndex].UNITE"></td>
                                <td><input type="text" ng-model="elfin.CARACTERISTIQUE['CAR' + carIndex].VALEUR"></td>
                            </tr>
                        </table>
                    </form>



                    <div class="col_8">
                        <h5>Carset</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'CARACTERISTIQUE.CARSET', {POS: elfin.CARACTERISTIQUE.CARSET.length, NOM:'', UNITE:'', VALEUR:''})"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <form class="vertical">
                        <table class="striped tight sortable" >
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Unité</th>
                                <th>Valeur</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr  ng-repeat="carset in elfin.CARACTERISTIQUE.CARSET">
                                <td><input type="text" ng-model="carset.POS"></td>
                                <td><input type="text" ng-model="carset.NOM"></td>
                                <td><input type="text" ng-model="carset.UNITE"></td>
                                <td><input type="text" ng-model="carset.VALEUR"></td>
                                <td class="right"><a ng-click="elfin.CARACTERISTIQUE.CARSET.splice($index, 1)"><i class="icon-remove-sign"></i></a></td>
                            </tr>

                        </table>
                    </form>

                    <h5>Etats</h5>

                    <form class="vertical">
                        <table class="striped tight sortable" ng-init="etatIndexes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>A</th>
                                <th>B</th>
                                <th>C</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="carIndex in etatIndexes">
                                <td>{{'ETAT' + carIndex}}</td>
                                <td><input type="text" ng-model="elfin.CARACTERISTIQUE['ETAT' + carIndex].A"></td>
                                <td><input type="text" ng-model="elfin.CARACTERISTIQUE['ETAT' + carIndex].B"></td>
                                <td><input type="text" ng-model="elfin.CARACTERISTIQUE['ETAT' + carIndex].C"></td>
                            </tr>
                        </table>
                    </form>



                    <div class="col_8">
                        <h5>Calcul - Dimensions</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'CARACTERISTIQUE.CALCUL.DIMENSION', {NOM: 'LONGUEUR', TYPE:'GEOGRAPHIE', VALEUR:'0.0'})"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <form class="vertical">
                        <table class="striped tight sortable">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Valeur</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="dimension in elfin.CARACTERISTIQUE.CALCUL.DIMENSION">
                                <td><select chosen  data-placeholder="Choisir un nom" ng-model="dimension.NOM"
                                        ng-options="value as label for (value, label) in dimensionNames">
                                </select></td>

                                <td><select chosen  data-placeholder="Choisir un type" ng-model="dimension.TYPE"
                                            ng-options="value as label for (value, label) in typeTypes">
                                </select></td>
                                <td><input type="text" ng-model="dimension.VALEUR"></td>

                                <td class="right"><a ng-click="elfin.CARACTERISTIQUE.CALCUL.DIMENSION.splice($index, 1)"><i class="icon-remove-sign"></i></a></td>
                            </tr>
                        </table>
                    </form>

                    <div class="col_8">
                        <h5>Calcul - Matrice</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'CARACTERISTIQUE.CALCUL.L', {POS: '', C: [{POS:'1', VALEUR:''}, {POS:'2', VALEUR:''}, {POS:'3', VALEUR:''}, {POS:'4', VALEUR:''}, {POS:'5', VALEUR:''}, {POS:'6', VALEUR:''}, {POS:'7', VALEUR:''}]})"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <form class="vertical">
                        <table class="striped tight sortable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>C1</th>
                                <th>C2</th>
                                <th>C3</th>
                                <th>C4</th>
                                <th>C5</th>
                                <th>C6</th>
                                <th>C7</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="l in elfin.CARACTERISTIQUE.CALCUL.L">
                                <td><input type="text" ng-model="l.POS"></td>
                                <td><input type="text" ng-model="l.C[0].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[1].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[2].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[3].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[4].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[5].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[6].VALEUR"></td>

                                <td class="right"><a ng-click="elfin.CARACTERISTIQUE.CALCUL.L.splice($index, 1)"><i class="icon-remove-sign"></i></a></td>
                            </tr>
                        </table>
                    </form>
                </tab>

                <!-- PARTENAIRES -->


                <tab heading="Partenaires">
                    <form class="vertical">
                        <table class="striped tight sortable" ng-init="partenaires = ['GERANT', 'USAGER', 'FOURNISSEUR', 'PROPRIETAIRE']">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Id</th>
                                <th>ID_G</th>
                                <th>Nom</th>
                                <th>Groupe</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="partenaire in partenaires">
                                <td>{{partenaire}}</td>
                                <td><input type="text" ng-model="elfin.PARTENAIRE[partenaire].Id"></td>
                                <td><input type="text" ng-model="elfin.PARTENAIRE[partenaire].ID_G"></td>
                                <td><input type="text" ng-model="elfin.PARTENAIRE[partenaire].NOM"></td>
                                <td><input type="text" ng-model="elfin.PARTENAIRE[partenaire].GROUPE"></td>
                                <td class="right"><a><i class="icon-zoom-in"></i></a></td>

                            </tr>
                        </table>
                    </form>

                </tab>

                <!-- ACTIVITE -->


                <tab heading="Activité">
                    <div class="col_8">
                        <h5>Echéances</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'ACTIVITE.EVENEMENT.ECHEANCE', {DATE: '', ACTION: '', PAR_QUI: '', POUR_QUI: '', E_DATE: '', E_ACTION: '', E_PAR_QUI: '', E_POUR_QUI: '', E_STATUT: '', REMARQUE: ''})"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <form class="vertical">
                        <table class="striped tight sortable" >
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Action</th>
                                <th>Par Qui</th>
                                <th>Pour Qui</th>
                                <th>E. Date</th>
                                <th>E. Action</th>
                                <th>E. Par Qui</th>
                                <th>E. Pour Quoi</th>
                                <th>E. Statut</th>
                                <th>Remarque</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="echeance in elfin.ACTIVITE.EVENEMENT.ECHEANCE">
                                <td><input type="text" ng-model="echeance.DATE"></td>
                                <td><input type="text" ng-model="echeance.ACTION"></td>
                                <td><input type="text" ng-model="echeance.PAR_QUI"></td>
                                <td><input type="text" ng-model="echeance.POUR_QUI"></td>
                                <td><input type="text" ng-model="echeance.E_DATE"></td>
                                <td><input type="text" ng-model="echeance.E_ACTION"></td>
                                <td><input type="text" ng-model="echeance.E_PAR_QUI"></td>
                                <td><input type="text" ng-model="echeance.E_POUR_QUI"></td>
                                <td><input type="text" ng-model="echeance.E_STATUT"></td>
                                <td><input type="text" ng-model="echeance.E_REMARQUET"></td>

                                <td class="right"><a ng-click="elfin.ACTIVITE.EVENEMENT.ECHEANCE.splice($index, 1)"><i class="icon-remove-sign"></i></a></td>

                            </tr>
                        </table>
                    </form>

                    <div class="col_8">
                        <h5>Gestion</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'ACTIVITE.GESTION.L', {POS: '', C: [{POS:'1', VALEUR:''}, {POS:'2', VALEUR:''}, {POS:'3', VALEUR:''}, {POS:'4', VALEUR:''}, {POS:'5', VALEUR:''}, {POS:'6', VALEUR:''}, {POS:'7', VALEUR:''}]})"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <form class="vertical">
                        <table class="striped tight sortable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>C1</th>
                                <th>C2</th>
                                <th>C3</th>
                                <th>C4</th>
                                <th>C5</th>
                                <th>C6</th>
                                <th>C7</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="l in elfin.ACTIVITE.GESTION.L">
                                <td><input type="text" ng-model="l.POS"></td>
                                <td><input type="text" ng-model="l.C[0].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[1].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[2].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[3].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[4].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[5].VALEUR"></td>
                                <td><input type="text" ng-model="l.C[6].VALEUR"></td>

                                <td class="right"><a ng-click="elfin.ACTIVITE.GESTION.L.splice($index, 1)"><i class="icon-remove-sign"></i></a></td>
                            </tr>
                        </table>
                    </form>


                </tab>

                <!-- FORME -->

                <tab heading="Forme">

                    <div class="col_8">
                        <h5>Points</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'FORME.POINT', {POS: '', X: '', Y: '', Z: '', KSI: '', ANGLE: '', ALPHA: '', XS: '', YS: '', ZS: '', KSIS: '', ANGLES: '', ALPHAS: '', Id: '', ID_G:'', FONCTION:'LIBRE', CLASSE: '', GROUPE: '', REMARQUE: ''})"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <form class="vertical">
                        <table class="striped tight sortable" >
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>X</th>
                                <th>Y</th>
                                <th>Z</th>
                                <th>Ksi</th>
                                <th>Angle</th>
                                <th>Alpha</th>
                                <th>X-s</th>
                                <th>Y-s</th>
                                <th>Z-s</th>
                                <th>Ksi-s</th>
                                <th>Angle-s</th>
                                <th>Alpha-s</th>
                                <th>Id</th>
                                <th>ID_G</th>
                                <th>Fonction</th>
                                <th>Classe</th>
                                <th>Groupe</th>
                                <th>Remarque</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="point in elfin.FORME.POINT">
                                <td><input type="text" ng-model="point.POS"></td>
                                <td><input type="text" ng-model="point.X"></td>
                                <td><input type="text" ng-model="point.Y"></td>
                                <td><input type="text" ng-model="point.Z"></td>
                                <td><input type="text" ng-model="point.KSI"></td>
                                <td><input type="text" ng-model="point.ANGLE"></td>
                                <td><input type="text" ng-model="point.ALPHA"></td>
                                <td><input type="text" ng-model="point.XS"></td>
                                <td><input type="text" ng-model="point.YS"></td>
                                <td><input type="text" ng-model="point.ZS"></td>
                                <td><input type="text" ng-model="point.KSIS"></td>
                                <td><input type="text" ng-model="point.ANGLES"></td>
                                <td><input type="text" ng-model="point.ALPHAS"></td>
                                <td><input type="text" ng-model="point.Id"></td>
                                <td><input type="text" ng-model="point.ID_G"></td>
                                <td>
                                    <select chosen  data-placeholder="Choisir une fonction" ng-model="point.FONCTION"
                                            ng-options="value as label for (value, label) in formFunctions">
                                    </select>
                                </td>
                                <td><input type="text" ng-model="point.CLASSE"></td>
                                <td><input type="text" ng-model="point.GROUPE"></td>
                                <td><input type="text" ng-model="point.REMARQUE"></td>


                                <td class="right">
                                    <a ng-click="elfin.FORME.POINT.splice($index, 1)"><i class="icon-remove-sign"></i></a>
                                    <a><i class="icon-zoom-in"></i></a>
                                </td>

                            </tr>
                        </table>
                    </form>


                    <div class="col_8">
                        <h5>Lignes</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'FORME.LIGNE', {POS: '', DIRECTION:'AVAL', Id: '', ID_G: '', CLASSE: '', FONCTION: 'FRONTIERE',  REMARQUE: ''})"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                   <div class="col_12" ng-repeat="line in elfin.FORME.LIGNE" style="border: 1px dotted dimgrey">
                       <div class="col_4">
                           <form class="vertical">
                               <label for="linePos">Auteur</label>
                               <input id="linePos" type="text" ng-model="line.POS">

                               <label for="lineId">Id</label>
                               <input id="lineId" type="text" ng-model="line.Id">
                           </form>
                       </div>
                       <div class="col_4">
                           <form class="vertical">
                               <label for="lineDirection">Direction</label>
                               <select id="lineDirection" chosen data-placeholder="Choisir une direction" ng-model="line.DIRECTION"
                                       ng-options="value as label for (value, label) in lineDirections">
                               </select>

                               <label for="lineIdG">ID_G</label>
                               <input id="lineIdG" type="text" ng-model="line.ID_G">
                           </form>
                       </div>
                       <div class="col_4">
                           <form class="vertical">
                               <label for="lineFunction">Auteur</label>
                               <select id="lineFunction" chosen data-placeholder="Choisir une direction" ng-model="line.FONCTION"
                                       ng-options="value as label for (value, label) in lineFunctions">
                               </select>

                               <label for="lineClasse">Classe</label>
                               <input id="lineClasse" type="text" ng-model="line.CLASSE">
                           </form>
                       </div>

                       <div class="col_12">
                           <form class="vertical">
                               <label for="lineRemark">Remarque</label>
                               <input id="lineRemark" type="text" ng-model="line.REMARQUE">
                           </form>
                       </div>
                   </div>


                </tab>

                <!-- ANNEXE -->

                <tab heading="Annexe">

                    <div class="col_8">
                        <h5>Annexes</h5>
                    </div>

                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'ANNEXE.RENVOI', {POS: '', LIEN:''})"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <form class="vertical">
                        <table class="striped tight sortable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Lien</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="renvoi in elfin.ANNEXE.RENVOI">
                                <td><input type="text" ng-model="renvoi.POS"></td>
                                <td><a href="{{renvoi.LIEN}}">{{renvoi.LIEN}}</a></td>

                                <td class="right">
                                    <a ng-click="uploadFile(renvoi)"><i class="icon-upload"></i></a>
                                    <a ng-click="elfin.ANNEXE.RENVOI.splice($index, 1)"><i class="icon-remove-sign"></i></a>
                                </td>
                            </tr>
                        </table>
                    </form>

                </tab>

                <!-- DIVERS -->

                <tab heading="Divers"></tab>
            </tabset>
        </div>

    </div>

</div>

<div>
    <script type="text/ng-template" id="defaultUploadFile.html">
        <div class="modal-header">
            <h3>Téléverser un document</h3>
        </div>
        <div class="modal-body">
            <form action="/uploads" ng-upload="complete(content)">
                <input type="file" name="attachment"></input>
                <input type="submit" value="Téléverser" ng-disabled="$isLoading"></input>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Fermer</button>
        </div>
    </script>
</div>
