<div hb-card-header>
	<!-- Custom validation message to be defined here -->
	<span ng-show="elfinForm.goal.$error.required">Le champs <strong>No
			de gérance</strong> est obligatoire!
	</span>
	<span ng-show="elfinForm.author.$error.required">Le champs <strong>No
			ECAP</strong> est obligatoire!
	</span>
	<span ng-show="elfinForm.nom.$error.required">Le champs <strong>No
			de construction</strong> est obligatoire!
	</span>
	<span ng-show="elfinForm.address.$error.required">Le champs <strong>Adresse</strong>
		est obligatoire!
	</span>
	<span ng-show="elfinForm.cadastralNb.$error.required">Le champs
		<strong>No cadastral</strong> est obligatoire!
	</span>
	<span ng-show="elfinForm.manager.$error.required">Le champs <strong>Propriétaire</strong>
		est obligatoire!
	</span>
	<span ng-show="elfinForm.managerName.$error.required">Le champs
		<strong>Nom du propriétaire</strong> est obligatoire!
	</span> 
	<span ng-show="elfinForm.alias.$error.required">Le champs <strong>Architecte</strong>
		est obligatoire!
	</span>
	
</div>
<!-- Short AMENAGEMENT_SPORTIF summary intended for display side by side with a map 
     Note: Using ng-show instead of ng-if leads to validation problems -->
<div ng-if="isMapToggled() && mapDisplayType === 'SPLIT' " class="row summary">
	<div class="form-group has-feedback"
		ng-class="getCssHasFeedback(elfinForm.goal)">
		<label for="goal" class="control-label" style="text-align:left;">No de
			gérance </label>
		<div >
			<input id="goal" name="goal" type="text" class="form-control"
				ng-model="elfin.IDENTIFIANT.OBJECTIF" ng-readonly="!canEdit"
				required>
		</div>
	</div>
	<div class="form-group has-feedback"
		ng-class="getCssHasFeedback(elfinForm.author)">
		<label for="author" class="control-label">No
			ECAP</label>
		<div>
			<input id="author" name="author" type="text"
				class="form-control"
				ng-model="CARSET_CAR_POS_3.VALEUR"
				ng-readonly="!canEdit"
				
				required>
		</div>
	</div>
	<div class="form-group has-feedback"
		ng-class="getCssHasFeedback(elfinForm.nom)">
		<label for="nom" class="control-label">No de
			constr.</label>
		<div >
			<input id="nom" name="nom" type="text" class="form-control"
				ng-model="elfin.IDENTIFIANT.NOM" ng-readonly="!canEdit"
				required>
		</div>
	</div>
	<div class="form-group has-feedback"
		ng-class="getCssHasFeedback(elfinForm.address)">
		<label for="address" class="control-label">Adresse</label>
		<div >
			<input id="address" name="address" type="text"
				class="form-control" ng-model="elfin.IDENTIFIANT.ALIAS" ng-readonly="!canEdit"
				required>
		</div>
	</div>
	<div class="form-group has-feedback"
		ng-class="getCssHasFeedback(elfinForm.cadastralNb)">
		<label for="cadastralNb" class="control-label">No
			cadastral</label>
		<div >
			<input id="cadastralNb" name="cadastralNb" type="text"
				class="form-control"
				ng-model="elfin.CARACTERISTIQUE.CAR4.VALEUR" ng-readonly="!canEdit"
				required>
		</div>
	</div>
	<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.manager)">
		<label for="manager" class="control-label">Propriétaire</label>
		<div>
			<div 
				hb-choose-actor 
				hb-choose-actor-id-name="manager" 
				hb-choose-actor-elfin-form="elfinForm"
				hb-choose-actor-model="elfin.PARTENAIRE.PROPRIETAIRE"
				hb-choose-actor-tooltip="Recherche de propriétaire"
				hb-choose-actor-role="Propriétaire"
				hb-choose-actor-editable="{{canEdit}}"
				></div>
			<!-- Pending: hb-choose-actor-default-by-name="SDS"	-->
		</div>
	</div>
	<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.alias)">
		<label for="alias" class="control-label">Architecte</label>
		<div>
			<input id="alias" name="alias" type="text" class="form-control"
				ng-model="elfin.PARTENAIRE.FOURNISSEUR.VALUE" ng-readonly="!canEdit"
				required>
		</div>
	</div>
	<div class="form-group" ng-repeat="otherPartnerLine in elfin.CARACTERISTIQUE.FRACTION.L | fractionElfinRefFilter:'ACTEUR':false">
		<!-- Provides converted.actor -->
<!-- 		TODO: Check hb-actor-line-converter-actor-role is not used -->
<!-- 		<div hb-actor-line-converter hb-actor-line-converter-line-model="otherPartnerLine" hb-actor-line-converter-actor-model="convertedActor" hb-actor-line-converter-actor-role="actorRole"> -->
		<div hb-actor-line-converter hb-actor-line-converter-line-model="otherPartnerLine" hb-actor-line-converter-actor-model="convertedActor" >
			<label for="otherPartner-{{$index}}" class="control-label">{{convertedActorElfin.IDENTIFIANT.QUALITE}}</label>
			<div>
				<div 
					hb-choose-actor 
					hb-choose-actor-id-name="otherPartner-{{$index}}" 
					hb-choose-actor-elfin-form="elfinForm"
					hb-choose-actor-model="convertedActor"
					hb-choose-actor-elfin-model="convertedActorElfin"
					hb-choose-actor-tooltip="Recherche de partenaire"
					hb-choose-actor-role="!Entreprise,!Collaborateur,!Propriétaire"
					hb-choose-actor-editable="{{canEditParteners}}"
					></div>
			</div>
			<div>
				<p id="telCellphone" class="form-control-static">{{convertedActorElfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR}} <span ng-if="convertedActorElfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR.length > 0 && convertedActorElfin.CARACTERISTIQUE.CAR4.VALEUR.length > 0"> / </span>{{convertedActorElfin.CARACTERISTIQUE.CAR4.VALEUR}}</p>
			</div>								
		</div>
	</div>
	<div class="form-group has-feedback"
		ng-class="getCssHasFeedback(elfinForm.locality)">
		<label for="locality" class="control-label">Lieu-dit</label>
		<div>
			<input id="locality" name="locality" type="text"
				class="form-control"
				ng-model="CARSET_CAR_POS_1.VALEUR"
				ng-readonly="!canEdit"
				>
		</div>
	</div>
	<div class="form-group has-feedback"
		ng-class="getCssHasFeedback(elfinForm.remark)">
		<label for="remark" class="control-label">Remarque</label>
		<div>
			<input id="remark" name="remark" type="text" class="form-control"
				ng-model="elfin.DIVERS.REMARQUE" 
				ng-readonly="!canEdit"
				>
		</div>
	</div>
</div>
<div ng-show="!isMapToggled()" class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset> <!-- AMENAGEMENT_SPORTIF tab --> 
		<tab active="tabState.amenagement_sportif.active" > <tab-heading>Aménagemnt sportif</tab-heading>
		<div class="hb-tab">
			<!-- 1st tab 1st row -->
			<div class="row">
				<!-- 1st col first tab first row start -->
				<div class="col-lg-4 col-xs-12" >
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.goal)">
						<label for="goal" class="col-lg-3 col-md-2 control-label">No de
							gérance </label>
						<div class="col-lg-9 col-md-10">
							<input id="goal" name="goal" type="text" class="form-control"
								ng-model="elfin.IDENTIFIANT.OBJECTIF" ng-readonly="!canEdit"
								required>
						</div>
					</div>
					
						<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.groupe)">
							<label for="groupe" class="col-lg-3 col-md-2 control-label">Groupe</label>
							<div class="col-lg-9 col-md-10">
								<div hb-single-select hb-single-select-options="groupeChoices" ng-model="elfin.GROUPE" ></div>
							</div>
						</div>					
					
<!-- 						<div class="form-group has-feedback" -->
<!-- 							ng-class="getCssHasFeedback(elfinForm.author)"> -->
<!-- 							<label for="author" class="col-lg-3 col-md-2 control-label">No -->
<!-- 								ECAP</label> -->
<!-- 							<div class="col-lg-9 col-md-10"> -->
<!-- 								<input id="author" name="author" type="text" -->
<!-- 									class="form-control" -->
<!-- 									ng-model="CARSET_CAR_POS_3.VALEUR" -->
<!-- 									ng-readonly="!canEdit" -->
<!-- 									required> -->
<!-- 							</div> -->
<!-- 						</div> -->
						<div class="form-group has-feedback"
							ng-class="getCssHasFeedback(elfinForm.nom)">
							<label for="nom" class="col-lg-3 col-md-2 control-label">No de
								constr.</label>
							<div class="col-lg-9 col-md-10">
								<input id="nom" name="nom" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.NOM" ng-readonly="!canEdit"
									required>
							</div>
						</div>
						<div class="form-group has-feedback"
							ng-class="getCssHasFeedback(elfinForm.address)">
							<label for="address" class="col-lg-3 col-md-2 control-label">Adresse</label>
							<div class="col-lg-9 col-md-10">
								<input id="address" name="address" type="text"
									class="form-control" ng-model="elfin.IDENTIFIANT.ALIAS" ng-readonly="!canEdit"
									required>
							</div>
						</div>
						<div class="form-group has-feedback"
							ng-class="getCssHasFeedback(elfinForm.cadastralNb)">
							<label for="cadastralNb" class="col-lg-3 col-md-2 control-label">No
								cadastral</label>
							<div class="col-lg-9 col-md-10">
								<input id="cadastralNb" name="cadastralNb" type="text"
									class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CAR4.VALEUR" ng-readonly="!canEdit"
									required>
							</div>
						</div>
				</div><!-- 1st col first tab first row end -->
				<!-- 2nd col first tab first row start -->
				<div class="col-lg-4 col-xs-12" style="text-align: center; height: 100%;">
					<div class="form-group">
						<!-- Display current year PRESTATION `Groupe comptable` information -->
						<div class="col-sm-12 form-control-static">
							<div class="btn btn-default btn-xs">
								<a target="_self" ng-href="file:///{{annexeFileSystemUri}}" ><i class="glyphicon glyphicon-hdd"></i></a>
							</div>											
							{{(prestations | prestationListFilter:currentYearAndFormerPrestationSearch | orderBy:prestaPredicate:prestaReverse | first).IDENTIFIANT.ORIGINE}}
						</div>
					</div>					
					
					<!-- If no photo is available show upload function while using room left empty with fixed size table. -->
					<table ng-if="!photoSrc"
						style="border: solid 4px #F0F0F0; width: 180px; height: 198px; margin: 0 auto;">
						<tr>
							<td style="vertical-align: middle; text-align: center"><i
								class="glyphicon glyphicon-upload" style="font-size: 4em;"></i></td>
						</tr>
					</table> 
					<!-- If a photo is available show it forcing width ratio. -->
<!-- 					<div ng-if="photoSrc" style="height:198px; border:solid red 1px;">					 -->
					<div ng-if="photoSrc" >
						<img ng-src="{{photoSrc}}" width="180px" class="img-thumbnail" />
					</div>
					
					<p>
						<div ng-if="canEdit" hb-annexes-upload hb-annexes-upload-annex-type="photo"></div>
					</p>

				</div><!-- 2nd col first tab first row end -->
				<!-- 3rd col first tab first row start -->
				<div class="col-lg-4 col-xs-12">
<!-- 					<div class="col-xs-12"> -->
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.manager)">
							<label for="manager" class="col-lg-3 col-md-2 control-label">Propriétaire</label>
							<div class="col-lg-1 visible-lg-block"></div>
							<div class="col-lg-8 col-md-10">
								<div 
									hb-choose-actor 
									hb-choose-actor-id-name="manager" 
									hb-choose-actor-elfin-form="elfinForm"
									hb-choose-actor-model="elfin.PARTENAIRE.PROPRIETAIRE"
									hb-choose-actor-tooltip="Recherche de propriétaire"
									hb-choose-actor-role="Propriétaire"
									hb-choose-actor-editable="{{canEdit}}"
									></div>								
							</div>
						</div>
<!-- 					</div> -->
<!-- 					<div class="col-xs-12"> -->
						<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.alias)">
							<label for="alias" class="col-lg-3 col-md-2 control-label">Architecte</label>
							<div class="col-lg-1 visible-lg-block"></div>
							<div class="col-lg-8 col-md-10">
								<input id="alias" name="alias" type="text" class="form-control"
									ng-model="elfin.PARTENAIRE.FOURNISSEUR.VALUE" ng-readonly="!canEdit"
									required>
							</div>
						</div>
<!-- 					</div> -->
<!-- 					<div class="col-xs-12"> -->
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.otherPartner-{{$index}})" ng-repeat="otherPartnerLine in elfin.CARACTERISTIQUE.FRACTION.L | fractionElfinRefFilter:'ACTEUR':false">
						<!-- Provides converted.actor -->
							<div hb-actor-line-converter hb-actor-line-converter-line-model="otherPartnerLine" hb-actor-line-converter-actor-model="convertedActor" hb-actor-line-converter-actor-role="actorRole">
								<label for="otherPartner-{{$index}}" class="col-lg-3 col-md-2 control-label">{{convertedActorElfin.IDENTIFIANT.QUALITE}}</label>
								<div ng-if="!canEditParteners" class="col-md-1 visible-md-block" > </div>
								<div ng-if="canEditParteners" class="col-md-1 btn btn-default" ng-click="removeOtherPartner($index)" tooltip="Supprimer le partenaire"><i class="glyphicon glyphicon-remove-circle"></i></div>
								<div class="col-lg-8 col-md-9">
									<div 
										hb-choose-actor 
										hb-choose-actor-id-name="otherPartner-{{$index}}" 
										hb-choose-actor-elfin-form="elfinForm"
										hb-choose-actor-model="convertedActor"
										hb-choose-actor-elfin-model="convertedActorElfin"
										hb-choose-actor-tooltip="Recherche de partenaire"
										hb-choose-actor-role="!Entreprise,!Collaborateur,!Propriétaire"
										hb-choose-actor-editable="{{canEditParteners}}"
										></div>
								</div>
								<div class="col-lg-offset-4 col-lg-8 col-md-offset-3 col-md-9">
									<p id="telCellphone-{{$index}}" class="form-control-static">{{convertedActorElfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR}} <span ng-if="convertedActorElfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR.length > 0 && convertedActorElfin.CARACTERISTIQUE.CAR4.VALEUR.length > 0"> / </span>{{convertedActorElfin.CARACTERISTIQUE.CAR4.VALEUR}}</p>
								</div>								
							</div>
						</div>
<!-- 					</div> -->
					<div ng-if="canEditParteners" class="col-lg-offset-4 col-lg-8 col-md-offset-3 col-md-9">
						<div class="input-group">
							<span class="input-group-btn"
								tooltip="Ajouter un nouveau partenaire, responsable chauffage, concierge...">
								<a class="btn btn-default" type="button"
								ng-click="addOtherPartner()">
									<i class="glyphicon glyphicon-plus-sign"></i> Ajouter un partenaire
							</a>
							</span>
						</div>					
					</div>			
				</div><!-- 3rd col first tab first row end --> 					
			</div><!-- row end -->
			<!-- Provide some spacing -->
			<div style="margin: 0px; line-height: 0.5em"> <br /></div>
			<!-- 2e bloc -->
			<div class="row" >
				<div class="col-xs-12" >
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.locality)">
						<label for="locality" class="col-md-1 control-label">Lieu-dit</label>
						<div class="col-md-11">
							<input id="locality" name="locality" type="text"
								class="form-control"
								ng-model="CARSET_CAR_POS_1.VALEUR"
								ng-readonly="!canEdit"
								>
						</div>
					</div>
				</div>
				<div class="col-xs-12" >
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.remark)">
						<label for="remark" class="col-md-1 control-label">Remarque</label>
						<div class="col-md-11">
							<input id="remark" name="remark" type="text" class="form-control"
								ng-model="elfin.DIVERS.REMARQUE" 
								ng-readonly="!canEdit"
								>
						</div>
					</div>
				</div>
			</div>
			<!-- 3e bloc -->
<!-- Keywords are currently unused. -->
<!-- 			<div class="row" > -->
<!-- 				<div class="col-sm-12"> -->
<!-- 					<table class="table table-condensed table-bordered table-striped"> -->
<!-- 						<thead> -->
<!-- 							<tr> -->
<!-- 								<th> -->
<!-- 									<div class="input-group"> -->
<!-- 										<div>Mots clés</div> -->
<!-- 										<span class="input-group-btn"> -->
<!-- 											<button class="btn btn-default" type="button" -->
<!-- 												ng-click="addRow(elfin, 'IDENTIFIANT.MOTCLE', { VALUE: '' })"> -->
<!-- 												<i class="glyphicon glyphicon-plus-sign"></i> Nouveau -->
<!-- 											</button> -->
<!-- 										</span> -->
<!-- 									</div> -->
<!-- 								</th> -->
<!-- 							</tr> -->
<!-- 						</thead> -->
<!-- 						<tbody ng-show="elfin.IDENTIFIANT.MOTCLE.length > 0"> -->
<!-- 							<tr ng-repeat="motcle in elfin.IDENTIFIANT.MOTCLE"> -->
<!-- 								<td> -->
<!-- 									<div class="input-group"> -->
<!-- 										<input type="text" name="keyword{$index}" class="form-control" -->
<!-- 											ng-model="motcle.VALUE" tooltip="elfin.IDENTIFIANT.MOTCLE" -->
<!-- 											placeholder="Saisissez un nouveau mot clé"> <span -->
<!-- 											class="input-group-btn"> -->
<!-- 											<button class="btn btn-default" -->
<!-- 												ng-click="removeKeyword($index)"> -->
<!-- 												<i class="icon-remove-sign"></i> Supprimer -->
<!-- 											</button> -->
<!-- 										</span> -->
<!-- 									</div> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 						</tbody> -->
<!-- 					</table> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<!-- 4e bloc -->
			<tabset> <!-- Constats en cours tab --> <tab> <tab-heading>
			Constats en cours </tab-heading>
		<div class="hb-tab">
			<div class="row">
				<div ng-show="constatsEncours" class="col-sm-12">
					<table class="table table-condensed table-bordered table-striped">
						<thead>

							<tr>
								<th>Constat</th>
								<th>Etage-Locataire</th>
								<th>Libellé</th>
								<th>Montant</th>
								<th>Delai</th>
								<th>Resp</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="constat in constatsEncours | orderBy:'IDENTIFIANT.DE':true">
								<td>
									<div hb-card-view-link hb-href="/elfin/{{constat.ID_G}}/CONSTAT/{{constat.Id}}"></div>
								</td>
								<td><span >{{constat.PARTENAIRE.USAGER.VALUE}}</span></td>
								<td><span >{{constat.IDENTIFIANT.NOM}}</span></td>
								<td class="number"><span>
										{{constat.ACTIVITE.EVENEMENT.ECHEANCE[constat.ACTIVITE.EVENEMENT.ECHEANCE.length-1].E_PAR_QUI | currency:'CHF' }}</span></td>
								<td class="date"><span>
									{{constat.ACTIVITE.EVENEMENT.ECHEANCE[constat.ACTIVITE.EVENEMENT.ECHEANCE.length-1].E_DATE | date }}
									</span></td>
								<td ><span>
									{{constat.ACTIVITE.EVENEMENT.ECHEANCE[constat.ACTIVITE.EVENEMENT.ECHEANCE.length-1].POUR_QUI}}
									</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			</tab> 
			<!-- Constats traités tab --> 
			<tab> 
			<tab-heading>Constats traités</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div ng-show="constatsClos" class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
		
								<tr>
									<th>Constat</th>
									<th>Etage-Locataire</th>
									<th>Libellé</th>
									<th>Montant</th>
									<th>Annoncé le</th>
									<th>Traité le</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="constat in constatsClos | orderBy:'IDENTIFIANT.DE':true">
									<td><div hb-card-view-link hb-href="/elfin/{{constat.ID_G}}/CONSTAT/{{constat.Id}}"></div></td>
									<td><span >{{constat.PARTENAIRE.USAGER.VALUE}}</span></td>
									<td><span >{{constat.IDENTIFIANT.NOM}}</span></td>
									<td class="number"><span>
										{{constat.ACTIVITE.EVENEMENT.ECHEANCE[constat.ACTIVITE.EVENEMENT.ECHEANCE.length-1].E_PAR_QUI | currency:'CHF' }}
										</span></td>
									<td class="date"><span >{{constat.IDENTIFIANT.DE | date}}</span></td>
									<td class="date"><span >{{constat.IDENTIFIANT.A | date}}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</tab>
			<tab select="createNewConstat()" ng-show="!createMode"> 
			<tab-heading tooltip="Créer un nouveau constat relatif à l'objet courant" tooltip-popup-delay="1000">Créer un nouveau constat <i class="glyphicon glyphicon-plus-sign"></i></tab-heading>
			<div class="hb-tab">

			</div>
			</tab>			
			 </tabset>

		</div>
		</tab> 
		<!-- IMMEUBLE tab --> 
		<tab active="tabState.buildings.active"> 
			<tab-heading>Immeuble{{(elfin.CARACTERISTIQUE.FRACTION.L | fractionElfinRefFilter:'IMMEUBLE').length | plural }} ({{(elfin.CARACTERISTIQUE.FRACTION.L | fractionElfinRefFilter:'IMMEUBLE').length}})</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div class="col-sm-12">
						<div ng-if="addBuildingRight" style="width: 180px;" hb-building-select-link hb-building-select-source="elfin"></div>
						<br ng-if="addBuildingRight" />
						<div class="container-fluid">
							<div class="row hb-row-header">
								<div class="col-sm-2 hb-cell-header"></div>
								<div class="col-sm-1 hb-cell-header" style="font-weight: bold;">Propriétaire</div>
								<div class="col-sm-1 hb-cell-header" style="font-weight: bold;">No SAI</div>
								<div class="col-sm-3 hb-cell-header" style="font-weight: bold;">Adresse</div>
								<div class="col-sm-2 hb-cell-header" style="font-weight: bold;">No construction</div>
								<div class="col-sm-3 hb-cell-header" style="font-weight: bold;">Lieu-dit</div>
							</div>
							<div class="row hb-row-{{ ($index % 2) === 0 ? 'even' : 'odd' }}" ng-repeat="buildingRefLine in elfin.CARACTERISTIQUE.FRACTION.L | fractionElfinRefFilter:'IMMEUBLE'">
								<div hb-building-line-converter hb-building-line-converter-line-model="buildingRefLine" hb-building-line-converter-building-elfin="buildingElfin">
									<div class="col-sm-2 hb-cell-row {{ isSelectedImmeuble(buildingElfin) ? 'hb-dirty' : ''}}">
										<div class="col-xs-6" hb-card-view-link hb-href="/elfin/{{buildingElfin.ID_G}}/{{buildingElfin.CLASSE}}/{{buildingElfin.Id}}" ></div>
										<div class="col-xs-6 btn btn-default btn-xs" style="width: 38px;" ng-click="removeBuilding($index)" tooltip="Supprimer"><i class="glyphicon glyphicon-remove-circle"></i></div>
									</div>
									<div class="col-sm-1 hb-cell-row {{ isSelectedImmeuble(buildingElfin) ? 'hb-dirty' : ''}}">{{buildingElfin.PARTENAIRE.PROPRIETAIRE.NOM}}</div>
									<div class="col-sm-1 hb-cell-row {{ isSelectedImmeuble(buildingElfin) ? 'hb-dirty' : ''}}">{{buildingElfin.IDENTIFIANT.OBJECTIF}}</div>
									<div class="col-sm-3 hb-cell-row {{ isSelectedImmeuble(buildingElfin) ? 'hb-dirty' : ''}}">{{buildingElfin.IDENTIFIANT.ALIAS}}</div>
									<div class="col-sm-2 hb-cell-row {{ isSelectedImmeuble(buildingElfin) ? 'hb-dirty' : ''}}">{{buildingElfin.IDENTIFIANT.NOM}}</div>
									<div class="col-sm-3 hb-cell-row {{ isSelectedImmeuble(buildingElfin) ? 'hb-dirty' : ''}}">{{getPlace(buildingElfin).VALEUR}}</div>
								</div>
							</div>
						</div>
<!-- 						<table class="table table-condensed table-bordered table-striped"> -->
<!-- 							<thead> -->
<!-- 								<tr> -->
<!-- 									<th class="col-sm-2">classe</th> -->
<!-- 									<th class="col-sm-3">ID_G</th> -->
<!-- 									<th class="col-sm-3">Id</th> -->
<!-- 									<th class="col-sm-2">GROUPE</th> -->
<!-- 									<th class="col-sm-2">NOM</th> -->
<!-- 								</tr> -->
<!-- 							</thead> -->
<!-- 							<tbody> -->
<!-- 								<tr ng-repeat="buildingRefLine in elfin.CARACTERISTIQUE.FRACTION.L | fractionElfinRefFilter:'IMMEUBLE'" hb-building-line-converter hb-building-line-converter-line-model="buildingRefLine" hb-building-line-converter-building-elfin="buildingElfin"> -->
<!-- 										<td class="col-sm-1">{{buildingElfin.PARTENAIRE.PROPRIETAIRE.NOM}}</td> -->
<!-- 										<td class="col-sm-1">{{buildingElfin.IDENTIFIANT.OBJECTIF}}</td> -->
<!-- 										<td class="col-sm-4">{{buildingElfin.IDENTIFIANT.ALIAS}}</td> -->
<!-- 										<td class="col-sm-2">{{buildingElfin.IDENTIFIANT.NOM}}</td> -->
<!-- 										<td class="col-sm-3">{{getPlace(buildingElfin).VALEUR}}</td> -->
<!-- 									<td>{{getCByPos(buildingRefLine.C, 1)}} {{buildingElfin.IDENTIFIANT}}</td> -->
<!-- 									<td>{{getCByPos(buildingRefLine.C, 2)}}</td> -->
<!-- 									<td>{{getCByPos(buildingRefLine.C, 3)}}</td> -->
<!-- 									<td>{{getCByPos(buildingRefLine.C, 4)}}</td> -->
<!-- 									<td>{{getCByPos(buildingRefLine.C, 5)}}</td> -->
<!-- 								</tr> -->
<!-- 							</tbody> -->
<!-- 						</table> -->
						
					</div>
				</div>
			</div>
		</tab> 		
		<!-- PRESTATION tab --> 
		<tab active="tabState.prestation.active" >
			<tab-heading>Prestations({{prestations.length}})</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div class="col-sm-12">			
					<tabset>  
						<tab active="tabState.prestation_subtab_annee_moins1.active"><!-- PRESTATION 1st tab -->
							<tab-heading>Prestations en cours, année-1</tab-heading>
							<div class="hb-tab">

								<div class="row">
									<div class="col-sm-12">
										<table class="table table-condensed table-bordered table-striped">
											<thead>
												<tr>
													<th>Prestation</th>
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.OBJECTIF'; prestaReverse=!prestaReverse">No -->
<!-- 															SAI</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.DE'; prestaReverse=!prestaReverse">Année</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'GROUPE'; prestaReverse=!prestaReverse">Groupe</a> / <a href="" -->
<!-- 														ng-click="prestaPredicate = 'DIVERS.REMARQUE'; prestaReverse=!prestaReverse">Remarque</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.ORIGINE'; prestaReverse=!prestaReverse">Groupe comptable</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.VALEUR_A_NEUF'; prestaReverse=!prestaReverse">Budget</a></th> -->
													<th>No SAI</th>
													<th>Année</th>
													<th>Groupe / Remarque</th>
													<th>Groupe comptable</th>
													<th>Budget</th>														
												</tr>
											</thead>
											<tbody ng-show="prestations">
												<tr 
													ng-repeat="prestation in prestations | prestationListFilter:currentYearAndFormerPrestationSearch | orderBy:prestaPredicate">
<!-- 													ng-repeat="prestation in prestations | prestationListFilter:currentYearAndFormerPrestationSearch | orderBy:prestaPredicate:prestaReverse"> -->
													<td>
														<div hb-card-view-link hb-href="/elfin/{{prestation.ID_G}}/PRESTATION/{{prestation.Id}}"></div>													
<!-- 														<a target="_self" ng-href="/api/melfin/report/G20050101000012345/G20140822163500000?sai={{prestation.IDENTIFIANT.OBJECTIF}}" tooltip="Rapport PDF"><i class="glyphicon glyphicon-print"></i></a> -->
													</td>
													<td><span >{{prestation.IDENTIFIANT.OBJECTIF}}</span></td>
													<td class="date"><span >{{prestation.IDENTIFIANT.DE}}</span></td>
													<td ng-class="{invst: prestation.GROUPE === 'Investissement',fctmt: prestation.GROUPE === 'Fonctionnement'}"><span >{{prestation.GROUPE}} / {{prestation.DIVERS.REMARQUE}}</span></td>
													<td><span >{{prestation.IDENTIFIANT.ORIGINE}}</span></td>
													<td class="number"><span >{{prestation.IDENTIFIANT.VALEUR_A_NEUF | currency:'CHF' }}</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
			
							</div>
						</tab>
						
						<tab active="tabState.prestation_subtab_annee_plus1.active"><!-- PRESTATION 1st tab -->
							<tab-heading>Prestations année+1</tab-heading>
							<div class="hb-tab">
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-condensed table-bordered table-striped">
											<thead>
												<tr>
													<th>Prestation</th>
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.OBJECTIF'; prestaReverse=!prestaReverse">No -->
<!-- 															SAI</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.DE'; prestaReverse=!prestaReverse">Année</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'GROUPE'; prestaReverse=!prestaReverse">Groupe</a> / <a href="" -->
<!-- 														ng-click="prestaPredicate = 'DIVERS.REMARQUE'; prestaReverse=!prestaReverse">Remarque</a></th> -->
<!-- 																						<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.ORIGINE'; prestaReverse=!prestaReverse">Groupe comptable</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.VALEUR_A_NEUF'; prestaReverse=!prestaReverse">Budget</a></th> -->
<!-- 													<th>Total payé</th> -->
													<th>No SAI</th>
													<th>Année</th>
													<th>Groupe / Remarque</th>
													<th>Groupe comptable</th>
													<th>Budget</th>
													<th></th>
												</tr>
											</thead>
											<tbody ng-show="prestations">
												<tr
														ng-repeat="prestation in prestations | prestationListFilter:nextYearPrestationSearch | orderBy:prestaPredicate">
<!-- 													ng-repeat="prestation in prestations | prestationListFilter:nextYearPrestationSearch | orderBy:prestaPredicate:prestaReverse"> -->
													<td>
														<div hb-card-view-link hb-href="/elfin/{{prestation.ID_G}}/PRESTATION/{{prestation.Id}}"></div>
<!-- 														<a target="_self" ng-href="/api/melfin/report/G20050101000012345/G20140822163500000?sai={{prestation.IDENTIFIANT.OBJECTIF}}" tooltip="Rapport PDF"><i class="glyphicon glyphicon-print"></i></a> -->
													</td>
													<td><span >{{prestation.IDENTIFIANT.OBJECTIF}}</span></td>
													<td class="date"><span >{{prestation.IDENTIFIANT.DE}}</span></td>
													<td ng-class="{invst: prestation.GROUPE === 'Investissement',fctmt: prestation.GROUPE === 'Fonctionnement'}"><span >{{prestation.GROUPE}} / {{prestation.DIVERS.REMARQUE}}</span></td>
													<td><span >{{prestation.IDENTIFIANT.ORIGINE}}</span></td>
													<td class="number"><span >{{prestation.IDENTIFIANT.VALEUR_A_NEUF | currency:'CHF' }}</span></td>
<!-- 													<td><span >{{prestation.DIVERS.REMARQUE}}</span></td> -->
<!-- 													<td>{{getTransactions(prestation) | map: 'IDENTIFIANT.VALEUR' | sum | currency:'CHF' :'CHF'}}</td> -->
<!-- 													<td>total payé...</td>													 -->
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>
						<tab active="tabState.prestation_subtab_annee_toutes.active"><!-- PRESTATION 1st tab -->
							<tab-heading>Prestations toutes</tab-heading>
							<div class="hb-tab">
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-condensed table-bordered table-striped">
											<thead>
												<tr>
													<th>Prestation</th>
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.OBJECTIF'; prestaReverse=!prestaReverse">No -->
<!-- 															SAI</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.DE'; prestaReverse=!prestaReverse">Année</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'GROUPE'; prestaReverse=!prestaReverse">Groupe</a> / <a href="" -->
<!-- 														ng-click="prestaPredicate = 'DIVERS.REMARQUE'; prestaReverse=!prestaReverse">Remarque</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.ORIGINE'; prestaReverse=!prestaReverse">Groupe comptable</a></th> -->
<!-- 													<th><a href="" -->
<!-- 														ng-click="prestaPredicate = 'IDENTIFIANT.VALEUR_A_NEUF'; prestaReverse=!prestaReverse">Budget</a></th> -->
													<th>No SAI</th>
													<th>Année</th>
													<th>Groupe / Remarque</th>
													<th>Groupe comptable</th>
													<th>Budget</th>														
												</tr>
											</thead>
											<tbody ng-show="prestations">
												<tr
													ng-repeat="prestation in prestations | orderBy:prestaPredicate">
<!-- 													ng-repeat="prestation in prestations | orderBy:['-IDENTIFIANT.DE','GROUPE','DIVERS.REMARQUE']"> -->
<!-- 													ng-repeat="prestation in prestations | orderBy:['','','']prestaPredicate:prestaReverse"> -->
													<td>
														<div hb-card-view-link hb-href="/elfin/{{prestation.ID_G}}/PRESTATION/{{prestation.Id}}"></div>  
														<!-- <a target="_self" ng-href="/api/melfin/report/G20050101000012345/G20140822163500000?sai={{prestation.IDENTIFIANT.OBJECTIF}}" tooltip="Rapport PDF"><i class="glyphicon glyphicon-print"></i></a>  -->
													</td>
													<td><span >{{prestation.IDENTIFIANT.OBJECTIF}}</span></td>
													<td class="date"><span >{{prestation.IDENTIFIANT.DE}}</span></td>
													<td ng-class="{invst: prestation.GROUPE === 'Investissement',fctmt: prestation.GROUPE === 'Fonctionnement'}"><span >{{prestation.GROUPE}} / {{prestation.DIVERS.REMARQUE}}</span></td>
													<td><span >{{prestation.IDENTIFIANT.ORIGINE}}</span></td>
													<td class="number"><span >{{prestation.IDENTIFIANT.VALEUR_A_NEUF | currency:'CHF' }}</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>	
						<tab select="createNewPrestation()" ng-show="!createMode"> 
							<tab-heading tooltip="Créer une nouvelle prestation relative à l'objet courant" tooltip-popup-delay="1000">Créer une nouvelle prestation <i class="glyphicon glyphicon-plus-sign"></i></tab-heading>
							<div class="hb-tab">
							</div>
						</tab>						
							
				</tabset>						
			</div><!-- Prestation 12 col div END -->
			</div><!-- Prestation 1st level row div END -->
			</div><!-- Prestation 1st level hb-tab container END -->
		</tab> 
		
		
		<!-- CONTRAT tab --> 
		<tab active="tabState.contrat.active">
			<tab-heading>Contrats ({{contrats.length}})</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div class="col-sm-12">
					
					<tabset>  
						<tab active="tabState.contrat_subtab_actifs.active"><!-- CONTRAT 1st sub tab -->
							<tab-heading>Contrats actifs</tab-heading>
							<div class="hb-tab">

								<div class="row">
									<div class="col-sm-12">
									<!-- Table des contrats actifs -->
										<table class="table table-condensed table-bordered table-striped">
											<thead>
												<tr>
													<th colspan="2">Contrat</th>
													<th><a href=""
														ng-click="contractPredicate = 'CARACTERISTIQUE.CAR1.UNITE'; contractReverse=!contractReverse">Prestation
															I</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'CARACTERISTIQUE.CAR1.VALEUR'; contractReverse=!contractReverse">Prestation
															II</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'PARTENAIRE.FOURNISSEUR.VALUE'; contractReverse=!contractReverse">Entreprise</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'IDENTIFIANT.VALEUR'; contractReverse=!contractReverse">Montant</a></th>
												<th><a href=""
														ng-click="contractPredicate = 'GROUPE'; contractReverse=!contractReverse">Groupe</a></th>
												</tr>
											</thead>
											<tbody ng-show="contrats">
												<tr
													ng-repeat="contrat in contrats | contractTerminatedListFilter:false | orderBy:contractPredicate:contractReverse">
													<td><div hb-card-view-link hb-href="/elfin/{{contrat.ID_G}}/CONTRAT/{{contrat.Id}}"></div></td>
													<td><div hb-annexes-link hb-annexes-link-elfin="contrat"></div></td>
													<td><span >{{contrat.CARACTERISTIQUE.CAR1.UNITE}}</span></td>
													<td><span >{{contrat.CARACTERISTIQUE.CAR1.VALEUR}}</span></td>
													<td><span >{{contrat.PARTENAIRE.FOURNISSEUR.VALUE}}</span></td>
													<td class="number"><span >{{contrat.IDENTIFIANT.VALEUR | currency:'CHF' }}</span></td>
													<td><span >{{contrat.GROUPE}}</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</tab>
						<tab active="tabState.contrat_subtab_denonces.active"><!-- CONTRAT 2nd sub tab -->
							<tab-heading>Contrats dénoncés</tab-heading>
							<div class="hb-tab">

								<div class="row">
									<div class="col-sm-12">
									<!-- Table des contrats dénoncés -->
										<table class="table table-condensed table-bordered table-striped">
											<thead>
												<tr>
													<th colspan="2">Contrat</th>
													<th><a href=""
														ng-click="contractPredicate = 'CARACTERISTIQUE.CAR1.UNITE'; contractReverse=!contractReverse">Prestation
															I</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'CARACTERISTIQUE.CAR1.VALEUR'; contractReverse=!contractReverse">Prestation
															II</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'PARTENAIRE.FOURNISSEUR.VALUE'; contractReverse=!contractReverse">Entreprise</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'IDENTIFIANT.VALEUR'; contractReverse=!contractReverse">Montant</a></th>
												<th><a href=""
														ng-click="contractPredicate = 'GROUPE'; contractReverse=!contractReverse">Groupe</a></th>
												</tr>
											</thead>
											<tbody ng-show="contrats">
												<tr
													ng-repeat="contrat in contrats | contractTerminatedListFilter:true | orderBy:contractPredicate:contractReverse">													
													<td>
														<div hb-card-view-link hb-href="/elfin/{{contrat.ID_G}}/CONTRAT/{{contrat.Id}}"></div>
													</td>
													<td><div hb-annexes-link hb-annexes-link-elfin="contrat"></div></td>
													<td><span >{{contrat.CARACTERISTIQUE.CAR1.UNITE}}</span></td>
													<td><span >{{contrat.CARACTERISTIQUE.CAR1.VALEUR}}</span></td>
													<td><span >{{contrat.PARTENAIRE.FOURNISSEUR.VALUE}}</span></td>
													<td class="number"><span >{{contrat.IDENTIFIANT.VALEUR | currency:'CHF' }}</span></td>
													<td><span >{{contrat.GROUPE}}</span></td>
												</tr>
											</tbody>
										</table>									
									</div>
								</div>
							</div>
						</tab>						
						<tab active="tabState.contrat_subtab_tous.active"><!-- CONTRAT 3rd sub tab -->
							<tab-heading>Contrats tous</tab-heading>
							<div class="hb-tab">

								<div class="row">
									<div class="col-sm-12">
									<!-- Table des contrats dénoncés -->
									
										<table class="table table-condensed table-bordered table-striped">
											<thead>
												<tr>
													<th colspan="2">Contrat</th>
													<th><a href=""
														ng-click="contractPredicate = 'CARACTERISTIQUE.CAR1.UNITE'; contractReverse=!contractReverse">Prestation
															I</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'CARACTERISTIQUE.CAR1.VALEUR'; contractReverse=!contractReverse">Prestation
															II</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'PARTENAIRE.FOURNISSEUR.VALUE'; contractReverse=!contractReverse">Entreprise</a></th>
													<th><a href=""
														ng-click="contractPredicate = 'IDENTIFIANT.VALEUR'; contractReverse=!contractReverse">Montant</a></th>
												<th><a href=""
														ng-click="contractPredicate = 'GROUPE'; contractReverse=!contractReverse">Groupe</a></th>
												</tr>
											</thead>
											<tbody ng-show="contrats">
												<tr
													ng-repeat="contrat in contrats | orderBy:contractPredicate:contractReverse">
<!-- 													ng-repeat="contrat in contrats | contractTerminatedListFilter:true | orderBy:contractPredicate:contractReverse">													 -->
													<td>
														<div hb-card-view-link hb-href="/elfin/{{contrat.ID_G}}/CONTRAT/{{contrat.Id}}"></div>
													</td>
													<td><div hb-annexes-link hb-annexes-link-elfin="contrat"></div></td>
													<td><span >{{contrat.CARACTERISTIQUE.CAR1.UNITE}}</span></td>
													<td><span >{{contrat.CARACTERISTIQUE.CAR1.VALEUR}}</span></td>
													<td><span >{{contrat.PARTENAIRE.FOURNISSEUR.VALUE}}</span></td>
													<td class="number"><span >{{contrat.IDENTIFIANT.VALEUR | currency:'CHF' }}</span></td>
													<td><span >{{contrat.GROUPE}}</span></td>
												</tr>
											</tbody>
										</table>									
									
									
											
									</div>
								</div>
							</div>
						</tab>
						<tab select="createNewContract()" ng-show="!createMode"> 
							<tab-heading tooltip="Créer un nouveau contrat relatif à l'objet courant" tooltip-popup-delay="1000">Créer un nouveau contrat <i class="glyphicon glyphicon-plus-sign"></i></tab-heading>
							<div class="hb-tab">
							</div>
						</tab>								
					</tabset>			

					</div>
				</div>
			</div>
		</tab> 
		<!-- CARACTERISTIQUE tab -->
		<tab active="tabState.caracteristique.active">
			<tab-heading>Caractéristiques</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.currentFunction)">
							<label for="currentFunction" class="col-md-2 control-label">Fonction actuelle</label>
							<div class="col-md-10">
								<input id="currentFunction" name="currentFunction" type="text"
									class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CAR2.VALEUR" ng-readonly="!canEdit">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.constructionYear)">
							<label for="constructionYear" class="col-md-4 control-label">Année de construction</label>
							<div class="col-md-8" >
								<input id="constructionYear" name="constructionYear" type="text"
									class="form-control"
									ng-model="elfin.IDENTIFIANT.DE" ng-readonly="!canEdit">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.exitYear)">
							<label for="exitYear" class="col-md-4 control-label">Année de sortie</label>
							<div class="col-md-8" >
								<input id="exitYear" name="exitYear" type="text"
									class="form-control"
									ng-model="elfin.IDENTIFIANT.A" ng-readonly="!canEdit">
							</div>
						</div>
					</div>
					<div class="col-md-6">					
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.censusNote)">
							<label for="censusNote" class="col-md-4 control-label">Note de Recensement</label>
							<div class="col-md-8" >
								<input id="censusNote" name="censusNote" type="text"
									class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CAR3.VALEUR" ng-readonly="!canEdit">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.exitReason)">
							<label for="exitReason" class="col-md-4 control-label">Cause de sortie</label>
							<div class="col-md-8" >
								<input id="exitReason" name="exitReason" type="text"
									class="form-control"
									ng-model="elfin.IDENTIFIANT.QUALITE" ng-readonly="!canEdit">
							</div>
						</div>
					</div>
					<div class="col-md-6">						
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.housingNb)">
							<label for="housingNb" class="col-md-4 control-label">Nombre de logement</label>
							<div class="col-md-8" >
								<input id="housingNb" name="housingNb" type="text"
									class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CAR6.VALEUR" ng-readonly="!canEdit">
							</div>
						</div>
					</div>
					<div class="col-md-6">						
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.classroomNb)">
							<label for="classroomNb" class="col-md-4 control-label">Nombre de classe</label>
							<div class="col-md-8" >
								<input id="classroomNb" name="classroomNb" type="text"
									class="form-control"
									ng-model="CARSET_CAR_POS_9.VALEUR" ng-readonly="!canEdit">
							</div>
						</div>
					</div>
					<div class="col-md-6">						
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.housingNb)">
							<label for="housingNb" class="col-md-4 control-label">Nombre de place de travail</label>
							<div class="col-md-8" >
								<input id="housingNb" name="housingNb" type="text"
									class="form-control"
									ng-model="CARSET_CAR_POS_10.VALEUR" ng-readonly="!canEdit">
							</div>
						</div>
					</div>		
				</div>
			</div>
		</tab>		
		<!-- VALEUR tab -->
<!-- 		<tab active="tabState.valeur.active"> -->
<!-- 			<tab-heading>Valeur ECAP</tab-heading> -->
<!-- 			<div class="hb-tab"> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-md-6"> -->
<!-- 						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.ecapValue)"> -->
<!-- 							<label for="ecapValue" class="col-md-4 control-label">Valeur ECAP</label> -->
<!-- 							<div class="col-md-8"> -->
<!-- 								<input id="ecapValue" name="ecapValue" type="text" -->
<!-- 									class="form-control" -->
<!-- 									ng-model="CARSET_CAR_POS_5.VALEUR" ng-readonly="!canEdit"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="col-md-6"> -->
<!-- 						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.constructionYear)"> -->
<!-- 							<label for="constructionYear" class="col-md-4 control-label">Année estimation ECAP</label> -->
<!-- 							<div class="col-md-8" > -->
<!-- 								<input id="constructionYear" name="constructionYear" type="text" -->
<!-- 									class="form-control" -->
<!-- 									ng-model="CARSET_CAR_POS_6.VALEUR" ng-readonly="!canEdit"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="col-md-6"> -->
<!-- 						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.cadastralValue)"> -->
<!-- 							<label for="cadastralValue" class="col-md-4 control-label">Valeur cadastrale</label> -->
<!-- 							<div class="col-md-8" > -->
<!-- 								<input id="cadastralValue" name="cadastralValue" type="text" -->
<!-- 									class="form-control" -->
<!-- 									ng-model="CARSET_CAR_POS_7.VALEUR" ng-readonly="!canEdit"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="col-md-6">					 -->
<!-- 						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.cadastralEvaluationYear)"> -->
<!-- 							<label for="cadastralEvaluationYear" class="col-md-4 control-label">Année estimation cadastrale</label> -->
<!-- 							<div class="col-md-8" > -->
<!-- 								<input id="cadastralEvaluationYear" name="cadastralEvaluationYear" type="text" -->
<!-- 									class="form-control" -->
<!-- 									ng-model="CARSET_CAR_POS_8.VALEUR" ng-readonly="!canEdit"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</tab>				 -->
		<!-- INSTALLATION_SPORTIVE tab --> 
		<tab active="tabState.installations_sportives.active"> 
			<tab-heading>Installation{{installationsSportives.length | plural}} sportive{{installationsSportives.length | plural}} ({{installationsSportives.length}})</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div class="col-sm-12">			
					<tabset>  
						<tab active="tabState.prestation_subtab_annee_moins1.active"><!-- INSTALLATION_SPORTIVE 1st tab -->
							<tab-heading>Installation{{installationsSportives.length | plural}} sportive{{installationsSportives.length | plural}}</tab-heading>
							<div class="hb-tab">
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-condensed table-bordered table-striped">
											<thead>
												<tr>
													<th></th>
													<th>Objectif</th>
													<th>Année de</th>
													<th>Groupe / Remarque</th>
													<th>Origine</th>
													<th>Valeur à neuf</th>
												</tr>
											</thead>
											<tbody ng-show="installationsSportives">
												<tr 
													ng-repeat="installationSportive in installationsSportives">
													<td>
														<div hb-card-view-link hb-href="/elfin/{{installationSportive.ID_G}}/INSTALLATION_SPORTIVE/{{installationSportive.Id}}"></div>													
													</td>
													<td><span >{{installationSportive.IDENTIFIANT.OBJECTIF}}</span></td>
													<td class="date"><span >{{installationSportive.IDENTIFIANT.DE}}</span></td>
													<td><span >{{installationSportive.GROUPE}} / {{installationSportive.DIVERS.REMARQUE}}</span></td>
													<td><span >{{installationSportive.IDENTIFIANT.ORIGINE}}</span></td>
													<td class="number"><span >{{installationSportive.IDENTIFIANT.VALEUR_A_NEUF | currency:'CHF' }}</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
			
							</div>
						</tab>
						<tab select="createNewInstallationSportive()" ng-show="!createMode"> 
							<tab-heading tooltip="Créer une nouvelle installation sportive relative à l'objet courant" tooltip-popup-delay="1000">Créer une nouvelle installation sportive <i class="glyphicon glyphicon-plus-sign"></i></tab-heading>
							<div class="hb-tab">
							</div>
						</tab>						
							
				</tabset>						
			</div><!-- Installation sportive 12 col div END -->
			</div><!-- Installation sportive 1st level row div END -->
			</div><!-- Installation sportive 1st level hb-tab container END -->			
			
			
			
<!-- DRAFT -->			
			
			
		</tab> 
		<!-- FORME tab -->
		<tab active="tabState.forme.active" select="eagerDomCreation.FORM = true"> 
			<tab-heading>Forme</tab-heading>
			<div class="hb-tab">
				<div hb-forme-component ></div>
			</div>
		</tab> 
		<!-- Annexes tab -->
		<tab active="tabState.annexe.active"> 
			<tab-heading><div hb-annexes-number></div></tab-heading>
			<div class="hb-tab"><div hb-annexes-component></div></div>
		</tab>				
		</tabset>
	</div>
</div>
