<div class="col-sm-12 hb-upload-progressbar-container"
	style="text-align: center; vertical-align: middle;" flow-name="config.ngflow"
	 flow-drag-enter="dropStyle={border:'1px solid #357ebd', background:'#B7D3EB', borderRadius:'.25em'}" flow-drag-leave="dropStyle={}"  ng-style="dropStyle"
	 flow-init
	 flow-drop
	flow-file-added="flowFileAdded($file, $event, $flow)"
	flow-upload-started="flowUploadStarted($flow)"
	flow-file-success="flowFileSuccess($file, $message, $flow)"
	flow-file-error="flowFileError($file, $message)">

	<script type="text/ng-template" id="hbUploadFileTypeModal.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Sélectionner le type de fichier</h3>
		</div>
		<div class="modal-body" id="modal-body">
			<ul>

				<li ng-repeat="item in items">
					<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item.name }}</a>
				</li>
			</ul>
			Sélection: <b>{{ selected.item.name }}</b>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>

	<div class="col-sm-12">

		<div class="btn btn-default btn-xs" flow-btn
			ng-disabled="$flow.isUploading() || !$flow.support">
			<i class="glyphicon glyphicon-folder-open"></i>
		</div>

		<div ng-show="{{canSelectAnnexType()}}" class="btn-group"
			style="padding: 0;">
			<button class="btn btn-default btn-xs dropdown-toggle" type="button"
				data-toggle="dropdown">
				{{selectedUploadFileType.name}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li role="presentation" class="dropdown-header">Type de
					téléversement</li>
				<li ng-repeat="uploadFileType in uploadFileTypes"
					ng-click="selectUploadFileType(uploadFileType)"><a
					role="menuitem" tabindex="-1" href="#">{{uploadFileType.name}}</a></li>
			</ul>
		</div>

		<div class="btn btn-default btn-xs" ng-click="flowUpload($flow)"
			ng-disabled="!canUpload() || $flow.files.length < 1 || $flow.isUploading() || !$flow.support">
			<i class="glyphicon glyphicon-upload"></i>
		</div>

		<div class="btn btn-default btn-xs" ng-click="flowCancel($flow)"
			ng-disabled="$flow.files.length < 1">
			<i class="glyphicon glyphicon-remove-circle"></i>
		</div>

		<progressbar class="progress-striped hb-upload-progressbar" max="1"
			value="$flow.progress()" ng-show="$flow.isUploading()">
		<div class="centre" style="color: black; width: 100%">{{
			($flow.progress()*100) | number:0}}%</div>
		</progressbar>

	</div>
	<div class="col-sm-12">
		<div class="label" ng-class="hbUploadStatusLabelCss"
			ng-if="$flow.files.length > 0">{{$flow.files[0].name}}</div>

	</div>
</div>