
<div class="col-sm-12 hb-upload-progressbar-container"
	style="text-align: center;" flow-name="config.ngflow" flow-init
	flow-file-added="flowFileAdded($file,$event)"
	flow-upload-started="flowUploadStarted($flow)"
	flow-file-success="flowFileSuccess($file, $message, $flow)"
	flow-file-error="flowFileError($file, $message)">
	<div class="btn-group" style="padding: 0;">
		<button class="btn btn-default btn-xs dropdown-toggle" type="button"
			data-toggle="dropdown">
			{{selectedUploadFileType.name}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation" class="dropdown-header">Type de
				téléversement</li>
			<li ng-repeat="uploadFileType in uploadFileTypes"
				ng-click="selectUploadFileType(uploadFileType)"><a
				role="menuitem" tabindex="-1" href="#">{{uploadFileType.name}}</a></li>
		</ul>
	</div>
	<div class="btn btn-default btn-xs" flow-btn
		ng-disabled="$flow.isUploading() || !$flow.support">
		<i class="glyphicon glyphicon-folder-open"></i>
	</div>
	<div class="btn btn-default btn-xs" ng-click="$flow.upload()"
		ng-disabled="$flow.files.length < 1 || $flow.isUploading() || !$flow.support">
		<i class="glyphicon glyphicon-upload"></i>
	</div>
	<div class="btn btn-default btn-xs" ng-click="flowCancel($flow)"
		ng-disabled="$flow.files.length < 1">
		<i class="glyphicon glyphicon-remove-circle"></i>
	</div>

	<progressbar class="progress-striped hb-upload-progressbar" max="1"
		value="$flow.progress()" ng-show="$flow.isUploading()">
	<div class="text-center" style="color: black; width: 100%">{{
		($flow.progress()*100) | number:0}}%</div>
	</progressbar>

	<div class="label" ng-class="hbUploadStatusLabelCss"
		ng-if="$flow.files.length > 0">{{$flow.files[0].name}}</div>

	<!-- <h2>Transfers:</h2> -->

	<!--   <p> -->
	<!--     <a class="btn btn-small btn-success" ng-click="$flow.resume()">Upload</a> -->
	<!--     <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause</a> -->
	<!--     <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel</a> -->
	<!--     <span class="label label-info">Size: {{$flow.getSize()}}</span> -->
	<!--     <span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span> -->
	<!--   </p> -->
	<!--   <table class="table table-hover table-bordered table-striped" flow-transfers> -->
	<!--     <thead> -->
	<!--     <tr> -->
	<!--       <th>#</th> -->
	<!--       <th>Name</th> -->
	<!--       <th>Size</th> -->
	<!--       <th>Relative Path</th> -->
	<!--       <th>Unique Identifier</th> -->
	<!--       <th>#Chunks</th> -->
	<!--       <th>Progress</th> -->
	<!--       <th>Paused</th> -->
	<!--       <th>Uploading</th> -->
	<!--       <th>Completed</th> -->
	<!--       <th>Settings</th> -->
	<!--     </tr> -->
	<!--     </thead> -->
	<!--     <tbody> -->
	<!--     <tr ng-repeat="file in transfers"> -->
	<!--       <td>{{$index+1}}</td> -->
	<!--       <td>{{file.name}}</td> -->
	<!--       <td>{{file.size}}</td> -->
	<!--       <td>{{file.relativePath}}</td> -->
	<!--       <td>{{file.uniqueIdentifier}}</td> -->
	<!--       <td>{{file.chunks.length}}</td> -->
	<!--       <td>{{file.progress()}}</td> -->
	<!--       <td>{{file.paused}}</td> -->
	<!--       <td>{{file.isUploading()}}</td> -->
	<!--       <td>{{file.isComplete()}}</td> -->
	<!--       <td> -->
	<!--         <div class="btn-group"> -->
	<!--           <a class="btn btn-mini btn-warning" ng-click="file.pause()" ng-hide="file.paused"> -->
	<!--             Pause -->
	<!--           </a> -->
	<!--           <a class="btn btn-mini btn-warning" ng-click="file.resume()" ng-show="file.paused"> -->
	<!--             Resume -->
	<!--           </a> -->
	<!--           <a class="btn btn-mini btn-danger" ng-click="file.cancel()"> -->
	<!--             Cancel -->
	<!--           </a> -->
	<!--           <a class="btn btn-mini btn-info" ng-click="file.retry()" ng-show="file.error"> -->
	<!--             Retry -->
	<!--           </a> -->
	<!--         </div> -->
	<!--       </td> -->
	<!--     </tr> -->
	<!--     </tbody> -->
	<!--   </table>       -->



	<!--       <span class="btn" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i> -->
	<!--         Upload Folder -->
	<!--       </span> -->




	<!-- 						<table style="border: solid 2px green"> -->
	<!-- 							<tr ng-repeat="file in $flow.files"> -->
	<!-- 								<td>{{$index+1}}</td> -->
	<!-- 								<td>{{file.name}}</td> -->
	<!-- 								<td>{{file.msg}}</td> -->
	<!-- 							</tr> -->
	<!-- 						</table> -->

</div>