
<div class="panel" >
<!-- 	<div class="panel-heading"><h4>Annexes</h4></div> -->
	<div class="panel-body">
		<table class="table table-condensed table-bordered table-striped">
			<thead>
				<tr>
					<th class="col-md-1">Ouvrir</th>
					<th class="col-md-11">Nom</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="annexe in elfin.ANNEXE.RENVOI | annexNoPhototFilter">
					<td><a target="_self" ng-href="{{hbUtil.getLinkFileApiUrl(elfin.ID_G, elfin.Id, annexe.LIEN)}}">Détail</a></td>
					<td>{{hbUtil.getLinkFileName(annexe.LIEN)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer"><div hb-annexes-upload ></div></div>
</div>