<div class="hb-card clearfix" >

	<div ng-show="!elfin">
		<h5><div class="loading"></div>Chargement des informations</h5>
	</div>

    <div ng-show="elfin" ui-keypress="{13:'saveCallback($event,elfin)'}">
	    <form name="elfinForm" class="form-horizontal" role="form" novalidate > <!--  novalidate prevents HTML5 automated validation  -->
	    
			<!-- Fix position buttons bar -->
			<div class="hb-btn-bar btn-group-vertical" >
			    <button class="btn btn-default" ng-click="home()"><i class="glyphicon glyphicon-home"></i></button>
				<button class="btn btn-default" ng-class="getBtnClasses(elfinForm)" ng-click="saveElfin(elfin)" ng-disabled="!canSave()">
					<span ng-show="canSave()"><i class="glyphicon glyphicon-save"></i></span>
					<span ng-show="!canSave()"><i class="glyphicon glyphicon-saved"></i></span>
				</button>
				<button class="btn btn-default" ng-click="delElfin(elfin)" ><i class="glyphicon glyphicon-remove-circle"></i></button>
				<button class="btn btn-default" ng-click="" ng-disabled="true"><i class="glyphicon glyphicon-print"></i></button>
				<button class="btn btn-danger" ng-click="toggleMap()"><i class="glyphicon glyphicon-picture"></i></button>
	   		</div>    
	    
	        <div class="hb-card-content" ng-transclude>
	        </div>
		</form>
    </div>


</div>



