<div class="hb-card clearfix" >

	<div ng-show="!elfin">
		<h5><div class="loading"></div>Chargement des informations</h5>
	</div>

<!-- TODO: REFACTOR to a single form named 'elfinForm' -->
    <div ng-show="elfin" >
    <form name="elfinForm" class="form-horizontal" role="form" novalidate > <!--  novalidate prevents HTML5 automated validation  -->
        <div class="row hb-card-header">
	        <div class="col-xs-8" >
	       		<div class="btn-group">
	        		<button class="btn btn-default" ng-click="putElfin(elfin)" ng-disabled="!canSave()"><i class="icon-save"></i></button>
	        		<button class="btn btn-default" ng-click="" ng-disabled="true"><i class="icon-copy"></i></button>
	        		<button class="btn btn-default" ng-click="delElfin(elfin)" ><i class="icon-trash"></i></button>
	        		<button class="btn btn-default" ng-click="" ng-disabled="true"><i class="icon-paper-clip"></i></button>
	        	    <button class="btn btn-default" ng-click="" ng-disabled="true"><i class="icon-map-marker"></i></button>
	        	    <button class="btn btn-default" ng-click="" ng-disabled="true"><i class="icon-print"></i></button>
	        	    <button class="btn btn-default" ng-click="" ng-disabled="true"><i class="icon-cogs"></i></button>
	        	    <button class="btn btn-default" ng-click="" ng-disabled="true"><i class="icon-folder-open"></i></button>
	       		</div>
	        </div>
	        <div class="col-xs-4 text-right">
	            <i class="icon-tag"></i> {{elfin.CLASSE}}<br/>
	            <i class="icon-folder-close"></i> {{elfin.ID_G}}<br/>
	            <i class="icon-file"></i> {{elfin.Id}}
	        </div>
        </div>
		<!-- ng-transclude is the placeholder where translation/inclusion will take place -->
		<div class="row hb-card-row" ng-transclude>

        </div> <!-- row end -->
	</form>
    </div>


</div>

<div>
    <script type="text/ng-template" id="defaultUploadFileModalPanel.html">
        <div class="modal-header">
            <h3>Téléverser un document</h3>
        </div>
        <div class="modal-body">
            <form action="/uploads" ng-upload="complete(content)">
                <input type="file" name="attachment"></input>
                <input type="submit" value="Téléverser" ng-disabled="$isLoading"></input>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Fermer</button>
        </div>
    </script>
</div>




<div>
    <script type="text/ng-template" id="deleteConfirmModalPanel.html">
        <div class="modal-header">
            <h3>Supprimer un objet</h3>
        </div>
        <div class="modal-body">
			Voulez-vous vraiment supprimer définitivement l'objet {{elfin.CLASSE}} {{elfin.ID_G}}/{{elfin.Id}} ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>





