<div class="input-group">
	<input 
		id="{{actorIdName}}" 
		hb-dynamic-name="actorIdName"
		type="text" 
		class="form-control" 
		ng-model="selected.actorDisplay" 
		ng-readonly="true"
		ng-model-options="{ debounce: 500 }" 
		ng-required="validateActor">
		
		<span class="input-group-btn" tooltip="{{tooltip}}">
			<button ng-disabled="{{cannotEdit}}" class="btn btn-default" type="button" ng-click="hbChooseActor()">
				<i class="glyphicon glyphicon-list-alt" ></i>
			</button>
		</span>
</div>