
<div hb-card-header>
	<span ng-show="elfinForm.name.$error.required">Le champs <strong>Descriptif</strong>
		est obligatoire!
	</span> <span ng-show="elfinForm.group.$error.required">Le champs <strong>Type</strong>
		est obligatoire!
	</span> <span ng-show="elfinForm.status.$error.required">Le champs <strong>Statut</strong>
		est obligatoire!
	</span> 
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset> <!-- CONSTAT tab --> <tab> <tab-heading>Constat</tab-heading>
		<div class="hb-tab">
			<div class="row">

				<div class="col-sm-3">
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.status)">
						<label for="status" class="col-sm-4 control-label"
							style="width: 20 px;">Statut</label>
						<div class="col-sm-8">
							<!-- 								<div class="btn-group"> -->
							<!-- 									<label uncheckable ng-repeat="statusType in statusTypes" class="btn btn-default" ng-model="elfin.IDENTIFIANT.QUALITE" btn-radio="statusType.value" >{{statusType.name}}</label> -->
							<!-- 								</div> -->
							<!-- Working select alternative to radio buttons group - Kept to document ng-options usage -->
							<select id="status" name="status" class="form-control" chosen
								data-placeholder=" " disable-search="true"
								allow-single-deselect="true"
								ng-model="elfin.IDENTIFIANT.QUALITE"
								ng-options="statusType.name as statusType.value for statusType in statusTypes">
								<option value=''></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="goal" class="col-sm-4 control-label">No SAI</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input readonly id="goal" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.OBJECTIF"> <span
									class="input-group-btn"
									tooltip="Consultation de l'immeuble {{elfin.IDENTIFIANT.OBJECTIF}}"
									tooltip-popup-delay="1500">
									<button class="btn btn-default" type="button"
										ng-click="viewImmeuble()" ng-disabled="!immeubleRef">
										<i class="glyphicon glyphicon-eye-open"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="origine" class="col-sm-4 control-label">No SAI
							appartement</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input id="origine" type="text" class="form-control"
									autocomplete="off" ng-model="elfin.IDENTIFIANT.ORIGINE">
								<span class="input-group-btn"
									tooltip="Recherche d'unité locative" tooltip-popup-delay="1500">
									<button class="btn btn-default" type="button" hb-choose-one
										ng-click="hbChooseOne(elfin, 'IDENTIFIANT.ORIGINE', locationUnits, 'IDENTIFIANT.OBJECTIF', uniteLocativeChooseOneColumnsDefinition, uniteLocativesChooseOneTemplate )">
										<i class="glyphicon glyphicon-list-alt"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="compte" class="col-sm-4 control-label">Constr.</label>
						<div class="col-sm-8">
							<input readonly id="compte" type="text" class="form-control"
								ng-model="elfin.IDENTIFIANT.COMPTE">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="col-sm-4 control-label">Adresse</label>
						<p class="col-sm-8 form-control-static">
							<span>{{immeubleRef.address}}</span>
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="col-sm-8 control-label">Propriétaire</label>
						<p class="col-sm-4 form-control-static">
							<span>{{immeubleRef.owner}}</span>
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="author" class="col-sm-4 control-label">Saisi</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input id="author" type="text" class="form-control"
									autocomplete="off"
									typeahead="actor.GROUPE for actor in collaboratorActors | filter:{GROUPE: $viewValue} | limitTo:8"
									ng-model="elfin.IDENTIFIANT.AUT"> <span
									class="input-group-btn" tooltip="Recherche de collaborateur"
									tooltip-popup-delay="1500">
									<button class="btn btn-default" type="button" hb-choose-one
										ng-click="hbChooseOne(elfin, 'IDENTIFIANT.AUT', collaboratorActors, 'GROUPE', actorCollaboratorChooseOneColumnsDefinition, actorChooseOneTemplate )">
										<i class="glyphicon glyphicon-list-alt"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.dateFrom)">
						<label for="date_constat" class="col-sm-4 control-label">Date</label>
						<div class="col-sm-8">
							<div hb-date id="date_constat" name="dateFrom"
								ng-model="elfin.IDENTIFIANT.DE"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="alias" class="col-sm-4 control-label">Signalé</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input id="alias" type="text" class="form-control"
									autocomplete="off"
									typeahead="actor.GROUPE for actor in reportedByActors | filter:{GROUPE: $viewValue} | limitTo:8"
									ng-model="elfin.PARTENAIRE.FOURNISSEUR.VALUE"> <span
									class="input-group-btn" tooltip="Recherche de collaborateur/concierge"
									tooltip-popup-delay="1500">
									<button class="btn btn-default" type="button" hb-choose-one
										ng-click="hbChooseOne(elfin, 'PARTENAIRE.FOURNISSEUR.VALUE', reportedByActors, 'GROUPE', actorReportedByChooseOneColumnsDefinition, actorChooseOneTemplate )">
										<i class="glyphicon glyphicon-list-alt"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group has-feedback" 
						ng-class="getCssHasFeedback(elfinForm.dateReloc)">
						<label for="date_reloc" class="col-sm-2 control-label" style="color: red;">Re-loc</label>
						<div class="col-sm-2"><a 
								href="mailto:Carine.Maillard@ne.ch;?subject=Constat Gespatri : {{elfin.IDENTIFIANT.NOM}} - No SAI {{elfin.IDENTIFIANT.OBJECTIF}} / No constr {{elfin.IDENTIFIANT.COMPTE}} (Id {{elfin.Id}}) &amp;body=Type de constat: {{elfin.GROUPE}} %0D%0ASignalé par: {{elfin.PARTENAIRE.FOURNISSEUR.VALUE}} le {{elfin.IDENTIFIANT.DE | date}} %0D%0ARelocation: {{elfin.CARACTERISTIQUE.CAR4.VALEUR | date}} %0D%0A"
								target="_self"> <span class="btn btn-default">@</span></a></div>						
						<div class="col-sm-8" >
							<div hb-date hb-date-css="hb-date-em" id="date_reloc" name="dateReloc" 
								ng-model="elfin.CARACTERISTIQUE.CAR4.VALEUR"></div>
						</div>
					</div>
				</div>				
				<div class="col-sm-3">
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.dateTo)">
						<label for="date_to" class="col-sm-4 control-label">Réglé le</label>
						<div class="col-sm-8">
							<div hb-date id="date_to" name="dateTo"
								ng-model="elfin.IDENTIFIANT.A"></div>
						</div>
					</div>
				</div>

				<!-- </div> -->
				<!-- <div class="row"> -->
				<div class="col-sm-12">
					<div class="form-group">
						<label for="usedby" class="col-sm-2 control-label">Etage -
							Locataire (tel)</label>
						<div class="col-sm-10">
							<input id="usedby" type="text" class="form-control"
								ng-model="elfin.PARTENAIRE.USAGER.VALUE">
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.group)">
						<label for="group" class="col-sm-2 control-label">Type</label>
						<div class="col-sm-10">
							<div class="input-group">
								<input id="group" name="group" type="text" class="form-control"
									ng-model="elfin.GROUPE" required> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button" hb-choose-one
										ng-click="hbChooseOne(elfin, 'GROUPE', constatTypes, 'value', constatTypeChooseOneColumnsDefinition, constatTypesChooseOneTemplate )">
										<i class="glyphicon glyphicon-chevron-down"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.name)">
						<label for="name" class="col-sm-2 control-label">Descriptif</label>
						<div class="col-sm-10">
							<input id="name" name="name" type="text" class="form-control"
								ng-model="elfin.IDENTIFIANT.NOM" required>
						</div>
					</div>

					<div class="form-group">
						<!-- 					<label for="address" class="col-sm-2 control-label">Remarque</label> -->
						<div class="col-sm-offset-2 col-sm-10">
							<textarea id="remark" name="remark" rows="8" class="form-control" 
								ng-model="elfin.DIVERS.REMARQUE"></textarea>
						</div>
					</div>
				</div>
				<!-- Evenements -->
				<div class="col-sm-12">
				<!-- Evenements :: Validation messages contextual to new evenement creation -->
					<div class="panel panel-danger" ng-show="elfinForm.currentEventEPourQui.$error.pattern || elfinForm.currentEventEPourQui.$error.maxlength || elfinForm.currentEventEParQui.$error.pattern">
						<div class="panel-heading" style="padding: 0.3em;">
							<div class="panel-title">Erreur de saisie de l'événements en cours</div>
						</div>
						<div class="panel-body">
							<div><span ng-show="elfinForm.currentEventEParQui.$error.pattern">Le montant estimé doit être <strong>un nombre</strong> valide!</span></div>
							<div><span ng-show="elfinForm.currentEventEPourQui.$error.pattern">L'année de prestation doit être <strong>un nombre</strong> à quatre positions!</span></div>
							<div><span ng-show="elfinForm.currentEventEPourQui.$error.maxlength">L'année de prestation doit être un nombre <strong>à quatre positions!</strong></span></div>
						</div>
					</div>				
					<div class="panel panel-default">
						<div class="panel-heading" style="padding: 0.3em;">
							<div class="panel-title">
								<button class="btn btn-default" type="button"
									tooltip="Nouvel événement" tooltip-popup-delay="1500"
									ng-click="addEcheance()"
									ng-disabled="currentEvent && !( currentEvent.PAR_QUI === 'VALIDE' || currentEvent.ACTION === 'Réception')">
									<i class="icon-plus-sign"></i>
								</button>
								Evénements en cours 
							</div>
						</div>
						<table class="table table-condensed table-bordered table-striped">
							<thead>
<!-- 								<tr> -->
<!-- 									<th colspan="8"> -->
<!-- 										<button class="btn btn-default" type="button" -->
<!-- 											tooltip="Nouvel événement" tooltip-popup-delay="1500" -->
<!-- 											ng-click="addEcheance()" -->
<!-- 											ng-disabled="currentEvent && currentEvent.PAR_QUI != 'VALIDE'"> -->
<!-- 											<i class="icon-plus-sign"></i> -->
<!-- 										</button> Evénements en cours -->
<!-- 								</tr> -->
								<tr>
									<th class="col-md-1">Statut</th>
									<th class="col-md-2" style="min-width: 110px">Date</th>
									<th class="col-md-2" style="min-width: 250px">Etape en
										cours</th>
									<th class="col-md-1" style="min-width: 110px">Resp</th>
									<th class="col-md-2" style="min-width: 110px">Délai</th>
									<th class="col-md-2" style="min-width: 220px">Groupe
										presta</th>
									<th class="col-md-1" style="min-width: 70px">Année presta</th>
									<th class="col-md-1">Montant estimé</th>
								</tr>
							</thead>
							<tbody ng-show="currentEvent">
								<tr>
									<td rowspan="2">
										<button class="btn btn-default" type="button"
											ng-click="switchEventStatus(currentEvent)"
											tooltip="{{eventStatusTooltip}}">
											<i ng-show="currentEvent.PAR_QUI === 'EN COURS'"
												class='glyphicon glyphicon-wrench'></i> <i
												ng-show="currentEvent.PAR_QUI === 'A VALIDER'"
												class='glyphicon glyphicon-eye-open'></i> <i
												ng-show="currentEvent.PAR_QUI === 'VALIDE'"
												class='glyphicon glyphicon-ok'></i> <i
												ng-show="currentEvent.PAR_QUI != 'VALIDE' && currentEvent.PAR_QUI != 'A VALIDER' && currentEvent.PAR_QUI != 'EN COURS'"
												class='glyphicon glyphicon-question-sign'></i>
										</button>
									</td>
									<td>
										<div hb-date ng-model="currentEvent.DATE"></div>
									</td>
									<td>
										<div>
											<div hb-single-select hb-single-select-options="phaseList"
												ng-model="currentEvent.ACTION"></div>
											<!-- 											<select id="currentEventAction" name="currentEventAction" -->
											<!-- 												class="form-control" chosen data-placeholder=" " -->
											<!-- 												disable-search="true" allow-single-deselect="true" -->
											<!-- 												ng-model="currentEvent.ACTION" -->
											<!-- 												ng-options="phase.name as phase.value for phase in phaseList"> -->
											<!-- 												<option value=''></option> -->
											<!-- 											</select>								 -->
										</div>
									</td>
									<td>
										<div class="input-group">
											<input id="currentEventPourQui" type="text"
												class="form-control" ng-model="currentEvent.POUR_QUI"
												autocomplete="off"
												typeahead="actor.GROUPE for actor in collaboratorActors | filter:{GROUPE: $viewValue} | limitTo:8">
											<span class="input-group-btn"
												tooltip="Recherche de collaborateur"
												tooltip-popup-delay="1500">
												<button class="btn btn-default" type="button" hb-choose-one
													ng-click="hbChooseOne(currentEvent, 'POUR_QUI', collaboratorActors, 'GROUPE', actorCollaboratorChooseOneColumnsDefinition, actorChooseOneTemplate )">
													<i class="glyphicon glyphicon-list-alt"></i>
												</button>
											</span>
										</div>
									</td>
									<td>
										<div hb-date ng-model="currentEvent.E_DATE"></div>
									</td>
									<td>
										<div>
											<div hb-single-select
												hb-single-select-options="prestationGroups"
												ng-model="currentEvent.E_ACTION"></div>
											<!-- 											<select id="prestationGroup" name="prestationGroup" -->
											<!-- 												class="form-control" chosen data-placeholder=" " -->
											<!-- 												disable-search="true" allow-single-deselect="true" -->
											<!-- 												ng-model="currentEvent.E_ACTION" -->
											<!-- 												ng-options="prestationGroup.name as prestationGroup.value for prestationGroup in prestationGroups"> -->
											<!-- 												<option value=''></option> -->
											<!-- 											</select> -->
										</div>
									</td>
									<td><input id="currentEventEPourQui" name="currentEventEPourQui" type="text"
										class="form-control" ng-model="currentEvent.E_POUR_QUI" ng-pattern="numericOnlyRegexp" ng-trim='false' ng-maxlength="4">
									</td>
									<td><input id="currentEventEParQui"
										name="currentEventEParQui" type="text" class="form-control"
										ng-model="currentEvent.E_PAR_QUI"
										ng-pattern="numericOnlyRegexp" ng-trim='false'></td>
								</tr>
								<tr>
									<td colspan="7"><input id="currentEventRemarque"
										type="text" class="form-control"
										ng-model="currentEvent.REMARQUE"></td>
								</tr>
							</tbody>
						</table>
						<div class="panel-footer" style="padding: 0.3em;"></div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" style="padding: 0.3em;">
							<div class="panel-title">
								Evénements antérieurs (non modifiables)
							</div>
						</div>						
						<table class="table table-condensed table-bordered table-striped">
							<thead>
<!-- 								<tr> -->
<!-- 									<th colspan="8">Evénements antérieurs (non modifiables)</th> -->
<!-- 								</tr> -->
								<tr>
									<th class="col-md-1">Statut</th>
									<th class="col-md-2" style="min-width: 110px">Date</th>
									<th class="col-md-2" style="min-width: 250px">Etape en
										cours</th>
									<th class="col-md-1" style="min-width: 110px">Resp</th>
									<th class="col-md-2" style="min-width: 110px">Délai</th>
									<th class="col-md-2" style="min-width: 220px">Groupe
										presta</th>
									<th class="col-md-1" style="min-width: 70px">Année presta</th>
									<th class="col-md-1">Montant estimé</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat-start="formerEvent in elfin.ACTIVITE.EVENEMENT.ECHEANCE | notLast | orderBy:'-DATE'">
									<td rowspan="2"><span
										ng-show="formerEvent.PAR_QUI === 'EN COURS'"
										tooltip="Statut en cours"><i
											class='glyphicon glyphicon-wrench'></i></span> <span
										ng-show="formerEvent.PAR_QUI === 'A VALIDER'"
										tooltip="Statut à valider"><i
											class='glyphicon glyphicon-eye-open'></i></span> <span
										ng-show="formerEvent.PAR_QUI === 'VALIDE'"
										tooltip="Statut valide"><i
											class='glyphicon glyphicon-ok'></i></span> <span
										ng-show="formerEvent.PAR_QUI != 'VALIDE' && formerEvent.PAR_QUI != 'A VALIDER' && formerEvent.PAR_QUI != 'EN COURS'"
										tooltip="Statut inconnu"> <i
											class='glyphicon glyphicon-question-sign'></i>
									</span></td>
									<td>{{formerEvent.DATE}}</td>
									<td>{{formerEvent.ACTION}}</td>
									<td>{{formerEvent.POUR_QUI}}</td>
									<td>{{formerEvent.E_DATE}}</td>
									<td>{{formerEvent.E_ACTION}}</td>
									<td>{{formerEvent.E_POUR_QUI}}</td>
									<td class="number">{{formerEvent.E_PAR_QUI | currency:'CHF'}}</td>
								</tr>
								<tr ng-repeat-end>
									<td colspan="7">{{formerEvent.REMARQUE}}</td>
								</tr>
							</tbody>
						</table>
						<div class="panel-footer" style="padding: 0.3em;"></div>						
					</div>
				</div>
				<!-- end of evenement class="col-sm-12" div -->				
			</div>
			<!-- end of top level row div -->
		</div><!-- end of hb-tab div -->
		</tab><!-- end of constat tab -->
		<tab><!-- Messages tab -->
			<tab-heading><div>Messages</div></tab-heading>
			<div class="hb-tab">
				<div class="row">		
				<!-- Messages -->
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading" style="padding: 0.3em;">
							<div class="panel-title">
								<button class="btn btn-default" type="button"
									ng-click="addMessage()" tooltip="Nouveau message"
									tooltip-popup-delay="1500">
									<i class="icon-plus-sign"></i>
								</button>
								Messages
							</div>
						</div>
						<table class="table table-condensed table-bordered table-striped">
							<thead>
								<!-- 								<tr> -->
								<!-- 									<th colspan="8"> -->
								<!-- 										<button class="btn btn-default" type="button" -->
								<!-- 											ng-click="addMessage()" tooltip="Nouveau message" -->
								<!-- 											tooltip-popup-delay="1500"> -->
								<!-- 											<i class="icon-plus-sign"></i> -->
								<!-- 										</button> Messages -->
								<!-- 								</tr> -->
								<tr>
									<th class="col-md-1">#</th>
									<th class="col-md-2">Date</th>
									<th class="col-md-2">Décision</th>
									<th class="col-md-6">Message</th>
									<th class="col-md-1">@</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="message in elfin.CARACTERISTIQUE.FRACTION.L">
									<td>
										<div class="form-control-static">{{message.POS}}</div>
									</td>
									<td>
										<div hb-date ng-model="message.C[1].VALUE"></div>
									</td>
									<td><div>
<!-- 											<input id="message_c2" name="message_c2" type="text" -->
<!-- 												class="form-control" ng-model="message.C[2].VALUE"> -->
											<div hb-single-select
												hb-single-select-options="messageDecisionList"
												ng-model="message.C[2].VALUE">												
												
										</div></td>
									<td><div>
											<input id="message_c3" name="message_c3" type="text"
												class="form-control" ng-model="message.C[3].VALUE">
										</div></td>
									<td><a
										href="mailto:Valerie.Schindler@ne.ch;Veronique.Hengrave-Burnier@ne.ch;?subject=Gespatri - Constat : No SAI {{elfin.IDENTIFIANT.OBJECTIF}} (Id {{elfin.Id}})&amp;body=Prise en charge du constat : {{message.C[2].VALUE}} le {{message.C[1].VALUE}} %0D%0A %0D%0A Motif :%0D%0A {{message.C[3].VALUE}} %0D%0A"
										target="_self"> <span class="btn btn-default">@</span></a></td>
								</tr>
							</tbody>
						</table>
						<div class="panel-footer" style="padding: 0.3em;"></div>
					</div>
				</div>		
			</div>
			</div>
		</tab><!-- End of Message tab --> 
		<!-- Annexes tab -->
		<tab> <tab-heading>
		<div hb-annexes-number></div>
		</tab-heading>
		<div class="hb-tab">
			<div hb-annexes-component></div>
		</div>
		</tab> </tabset>
	</div>
</div>
