<div hb-card-header>
	<!-- Custom validation message to be defined here -->
	<ul>
		<li ng-show="elfinForm.groupe.$error.required">Le <strong>code CFC</strong> est obligatoire!</li>
		<li ng-show="elfinForm.deadline.$error.required">Le <strong>Délai d'exécution</strong> est obligatoire!</li>
		
	<!-- 	<li ng-show="elfinForm.cfcCode.$error.required">Le <strong>code CFC</strong> est obligatoire</li> -->
	<!-- 	<li ng-show="elfinForm.cfcCode.$error.hbValidCode">Le <strong>code CFC</strong> n'est pas valide</li> -->
		<li ng-show="elfinForm.fournisseur.$error.required">Le <strong>fournisseur</strong> est obligatoire</li>
		<li ng-show="elfinForm.fournisseur.$error.editable">Le <strong>fournisseur</strong> doit être saisi à partir de la liste de sélection</li>
		<li ng-show="elfinForm.objectif.$error.required">Le <strong>No SAI</strong> est obligatoire!</li>
	</ul>
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset><!-- ui.bootstrap AngularJS UI tabset -->
		<!-- Commande tab -->
		<tab> 
			<tab-heading>Commande</tab-heading>
			<div class="hb-tab">
				<div class="row" style="padding-right: 8px;">
					<!-- 1st column -->
					<div class="col-sm-6">
						<div class="form-group">				
							<label class="col-sm-4 control-label">No <span ng-if="elfin.IDENTIFIANT.QUALITE===HB_ORDER_TYPE.CONTRACT" >contrat/cmde.</span><span ng-if="elfin.IDENTIFIANT.QUALITE!==HB_ORDER_TYPE.CONTRACT" >commande</span></label>
							<div class="col-sm-4">
								<p class="form-control-static"><span ng-if="elfin.IDENTIFIANT.QUALITE===HB_ORDER_TYPE.CONTRACT" >{{elfin.CARACTERISTIQUE.CAR5.VALEUR}} / </span>{{elfin.IDENTIFIANT.NOM}}</p>
							</div>
							<label class="col-sm-2 control-label">Statut</label>
							<div class="col-sm-2">
								<p class="form-control-static">
									<span class="label label-success" ng-if="isReadOnly" >Valide</span>
									<span class="label label-warning" ng-if="!isReadOnly" >A valider</span>
								</p>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.type)">				
							<label for="type" class="col-sm-4 control-label">Type</label>
							<div class="col-sm-8">
								<div ng-if="!isReadOnly" id="type" name="type" hb-single-select hb-single-select-options="typeChoices" ng-model="elfin.IDENTIFIANT.QUALITE" ng-change="processOrderTypeChange(elfin.IDENTIFIANT.QUALITE)"></div>
								<p ng-if="isReadOnly" class="form-control-static">{{elfin.IDENTIFIANT.QUALITE}}</p>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.date)">				
							<label for="date" class="col-sm-4 control-label">Date</label>
							<div class="col-sm-4">
								<div ng-if="!isReadOnly" hb-date id="date" name="date"
										ng-model="elfin.IDENTIFIANT.DE"></div>
								<p ng-if="isReadOnly" class="form-control-static">{{elfin.IDENTIFIANT.DE | date}}</p>
							</div>
							<label for="auteur" class="col-sm-2 control-label">Auteur</label>
							<div class="col-sm-2">
								<p class="form-control-static">{{elfin.IDENTIFIANT.AUT}}</p>
							</div>
						</div>
						<div class="form-group">
							<label for="deadline" class="col-sm-4 control-label">Délai d'exécution</label>
							<div class="col-sm-4">
								<div ng-if="!isReadOnly" hb-date id="deadline" name="deadline" ng-model="elfin.IDENTIFIANT.A" ng-required="true"></div>
								<p ng-if="isReadOnly" class="form-control-static">{{elfin.IDENTIFIANT.A | date}}</p>
							</div>
<!-- 							<div class="col-sm-4" ng-if="(elfin.IDENTIFIANT.QUALITE===HB_ORDER_TYPE.CONTRACT)" > -->
<!-- 								<input ng-if="!isReadOnly" id="deadlineText" name="deadlineText" class="form-control"   -->
<!-- 									autocomplete="off" -->
<!-- 									ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR"></input> -->
<!-- 								<p ng-if="isReadOnly" class="form-control-static">{{elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR}}</p>		 -->
<!-- 							</div>							 -->
						</div>
<!-- 						<div ng-if="elfin.IDENTIFIANT.QUALITE==HB_ORDER_TYPE.CONTRACT" class="form-group"> -->
<!-- 							<label for="deadlineText" class="col-sm-4 control-label">Délais (texte)</label> -->
<!-- 							<div class="col-sm-4" > -->
<!-- 								<input ng-if="!isReadOnly" id="deadlineText" name="deadlineText" class="form-control"   -->
<!-- 									autocomplete="off" -->
<!-- 									ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR"></input> -->
<!-- 								<p ng-if="isReadOnly" class="form-control-static">{{elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR}}</p>		 -->
<!-- 							</div> -->
<!-- 						</div>									 -->
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.contact)">
							<label for="contact" class="col-sm-4 control-label" >
								<span ng-if="(elfin.IDENTIFIANT.QUALITE!==HB_ORDER_TYPE.CONTRACT)">Personne à contacter</span>
								<span ng-if="(elfin.IDENTIFIANT.QUALITE===HB_ORDER_TYPE.CONTRACT)">Responsable fournisseur</span>
							</label>
							<div class="col-sm-8" >
								<input ng-if="!isReadOnly" id="contact" name="contact" class="form-control" autocomplete="off" 
									ng-model="elfin.CARACTERISTIQUE.CAR2.VALEUR"></input>
								<p ng-if="isReadOnly" class="form-control-static">{{elfin.CARACTERISTIQUE.CAR2.VALEUR}}</p>
							</div>
						</div>
	<!-- Manager displayed in first column including its attributes 				 -->
	<!-- 				<div ng-if="(elfin.IDENTIFIANT.QUALITE!==HB_ORDER_TYPE.PURCHASE)" class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.resp)"> -->
	<!-- 					<label for="resp" class="col-sm-4 control-label" >Responsable</label> -->
	<!-- 					<div class="col-sm-8" > -->
	<!-- 						<div  -->
	<!-- 							hb-choose-actor  -->
	<!-- 							hb-choose-actor-id-name="respAct"  -->
	<!-- 							hb-choose-actor-elfin-form="elfinForm" -->
	<!-- 							hb-choose-actor-model="respActorModel" -->
	<!-- 							hb-choose-actor-elfin-model="respActorElfinModel" -->
	<!-- 							hb-choose-actor-tooltip="Recherche de responsable" -->
	<!-- 							hb-choose-actor-role="Collaborateur" -->
	<!-- 							hb-choose-actor-editable="true" -->
	<!-- 							></div> -->
	<!-- 					</div> -->
	<!-- 					<label for="respPhone" class="col-sm-4 control-label" >{{respActorElfinModel.CARACTERISTIQUE.CAR6.NOM}}</label> -->
	<!-- 					<div class="col-sm-8" > -->
	<!-- 						<div id="respPhone" class="form-control-static" >{{getRole(respActorElfinModel)}}</div> -->
	<!-- 					</div> -->
	<!-- 					<label for="respPhone" class="col-sm-4 control-label" >{{respActorElfinModel.CARACTERISTIQUE.CAR4.NOM}}</label> -->
	<!-- 					<div class="col-sm-8" > -->
	<!-- 						<div id="respPhone" class="form-control-static" >{{getPhone(respActorElfinModel)}}</div> -->
	<!-- 					</div> -->
	<!-- 					<label for="respEmail" class="col-sm-4 control-label" >{{respActorElfinModel.CARACTERISTIQUE.CAR5.NOM}}</label> -->
	<!-- 					<div class="col-sm-8" > -->
	<!-- 						<div id="respEmail" class="form-control-static" >{{getEmail(respActorElfinModel)}}</div> -->
	<!-- 					</div> -->
	<!-- 				</div>				 -->
					</div>
					<!-- 2nd column -->
		 			<div class="col-sm-6">
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.objectsSelectionType)">				
							<label for="objectsSelectionType" class="col-sm-4 control-label">Sélection par</label>
							<div class="col-sm-8">
								<div ng-if="!isReadOnly" id="objectsSelectionType" name="objectsSelectionType" hb-single-select hb-single-select-options="objectsSelectionTypeChoices" ng-model="selected.objectsSelectionType" ></div>
								<p ng-if="isReadOnly" class="form-control-static">{{selected.objectsSelectionType}}</p>
							</div>
						</div> 			
		 			
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.objectif)">
							<label for="building" class="col-sm-4 control-label">No SAI</label>
							<div ng-show="!isReadOnly && (selected.objectsSelectionType === OBJECTS_SELECTION_TYPE_IMMEUBLE)" class="col-sm-8">
								<div hb-choose-building 
									 hb-choose-building-id-name="building"
									 hb-choose-building-elfin-form="elfinForm"
									 hb-choose-building-elfin-model="selected.building"
									 hb-choose-building-tooltip="Recherche d'immeuble"
									 hb-choose-building-editable="{{!isReadOnly}}" 
									 ></div>
							</div>
							<div ng-show="isReadOnly || (selected.objectsSelectionType !== OBJECTS_SELECTION_TYPE_IMMEUBLE)" class="col-sm-8">
							    <p class="form-control-static">{{selected.building.IDENTIFIANT.OBJECTIF}} - {{selected.building.IDENTIFIANT.ALIAS}} - {{selected.building.PARTENAIRE.PROPRIETAIRE.NOM}}</p>
							</div>
							<!-- Used to manage validation only -->
							<input ng-show="false" id="objectif" name="objectif" class="form-control" autocomplete="off" 
									ng-model="elfin.IDENTIFIANT.OBJECTIF" ng-required="validate"></input>					
						</div>
						
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.surface)">
							<label for="surface" class="col-sm-4 control-label">No objet</label>
							<div ng-show="!isReadOnly && (selected.objectsSelectionType === OBJECTS_SELECTION_TYPE_SURFACE)" class="col-sm-8">
								<div hb-choose-surface 
									 hb-choose-surface-id-name="surface"
									 hb-choose-surface-elfin-form="elfinForm"
									 hb-choose-surface-elfin-model="selected.surface"
									 hb-choose-surface-tooltip="Recherche d'unité locative"
									 hb-choose-surface-editable="{{!isReadOnly}}" 
									 ></div>
							</div>
							<div ng-show="isReadOnly || (selected.objectsSelectionType !== OBJECTS_SELECTION_TYPE_SURFACE)" class="col-sm-8">
							    <p class="form-control-static">{{selected.surface.IDENTIFIANT.OBJECTIF}} - {{selected.surface.PARTENAIRE.USAGER.VALUE}}</p>
							</div>					
						</div> 		
		 			
						<div ng-if="elfin.IDENTIFIANT.QUALITE !== HB_ORDER_TYPE.PURCHASE" class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.groupe)">
							<label for="code" class="col-sm-4 control-label">Code CFC</label>
							<div class="col-sm-8">
		<!-- 					<pre>{{ elfinForm.cfcCode.$error | json }}</pre> -->
								<div ng-show="!isReadOnly"
									 hb-choose-code 
									 hb-choose-code-id-name="code"
									 hb-choose-code-elfin-form="elfinForm"
									 hb-choose-code-elfin-model="selected.code"
									 hb-choose-code-tooltip="Recherche de code CFC"
									 hb-choose-code-editable="{{!isReadOnly}}" 
									 hb-choose-code-validate-code="true"
									 ></div>					
								<p ng-show="isReadOnly" class="form-control-static"> {{selected.code.IDENTIFIANT.NOM}} - {{selected.code.DIVERS.REMARQUE}}</p>
							</div>
							<!-- Used to manage validation only -->
							<input ng-show="false" id="groupe" name="groupe" class="form-control" autocomplete="off" 
									ng-model="elfin.GROUPE" ng-required="(validate && (elfin.IDENTIFIANT.QUALITE === HB_ORDER_TYPE.CONTRACT))"></input>
						</div>

						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.fournisseur)">
							<label for="fournisseur" class="col-sm-4 control-label">
								<div ng-if="containsStandardSourceURI(elfin.SOURCE)" class="col-xs-1" style="padding-left: 4px;">
									<div  hb-card-view-link hb-href="/elfin/{{selected.provider.ID_G}}/ACTEUR/{{selected.provider.Id}}" hb-tooltip="Détails"></div>
								</div>
								Fournisseur
							</label>
							<div class="col-sm-8">
	<!-- 						<pre>{{ elfinForm.fournisseur.$error | json }}</pre> -->
								<input ng-if="!isReadOnly" id="fournisseur" name="fournisseur" type="text" class="form-control"
									autocomplete="off"
									typeahead="actor as actor.GROUPE for actor in entrepriseActors | orderBy:'GROUPE' | actorListFilter:{'groupe': $viewValue} | limitTo:18"
									typeahead-editable="false"
									ng-model="selected.provider"
									ng-required="validate">
								<p ng-if="isReadOnly" class="form-control-static" >{{selected.provider.GROUPE}}</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div ng-if="(elfin.IDENTIFIANT.QUALITE!==HB_ORDER_TYPE.PURCHASE)" class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.resp)">
							<label for="resp" class="col-sm-2 control-label" >Responsable</label>
							<div class="col-sm-4" >
								<div 
		 							ng-show="!isReadOnly"
									hb-choose-actor 
									hb-choose-actor-id-name="respAct" 
									hb-choose-actor-elfin-form="elfinForm"
									hb-choose-actor-model="respActorModel"
									hb-choose-actor-elfin-model="respActorElfinModel"
									hb-choose-actor-tooltip="Recherche de responsable"
									hb-choose-actor-role="Collaborateur"
									hb-choose-actor-editable="true"
									></div>
								<!-- Invisible CSS border (white on white) fixes strange bootstrap grid alignment mis-behaviour -->
								<div ng-show="isReadOnly" style="border: solid 1px white;">
									<p  class="form-control-static" >{{respActorElfinModel.IDENTIFIANT.NOM}} - {{respActorElfinModel.GROUPE}}</p>
								</div>
							</div>
							<label for="respPhone" class="col-sm-2 control-label" >{{respActorElfinModel.CARACTERISTIQUE.CAR6.NOM}}</label>
							<div class="col-sm-4" >
								<div id="respPhone" class="form-control-static" >{{getRole(respActorElfinModel)}}</div>
							</div>
							
							<label for="respPhone" class="col-sm-2 control-label" >{{respActorElfinModel.CARACTERISTIQUE.CAR4.NOM}}</label>
							<div class="col-sm-4" >
								<div id="respPhone" class="form-control-static" >{{getPhone(respActorElfinModel)}}</div>
							</div>
							<label for="respEmail" class="col-sm-offset-6 col-sm-2 control-label" >{{respActorElfinModel.CARACTERISTIQUE.CAR5.NOM}}</label>
							<div class="col-sm-4" >
								<div id="respEmail" class="form-control-static" >{{getEmail(respActorElfinModel)}}</div>
							</div>
						</div>			
					
						<div ng-if="elfin.IDENTIFIANT.QUALITE==HB_ORDER_TYPE.CONTRACT" class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.objectTypeOrLocation)">
							<label for="objectTypeOrLocation" class="col-sm-2 control-label" tooltip="Objet ou type de bâtiment et localisation" tooltip-popup-delay="1000">Type / localisation</label>
							<div class="col-sm-10" >
								<input ng-if="!isReadOnly" id="objectTypeOrLocation" name="objectTypeOrLocation" class="form-control" autocomplete="off"
									ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[1].VALEUR"></input>
								<p ng-if="isReadOnly" class="form-control-static" >{{elfin.CARACTERISTIQUE.CARSET.CAR[1].VALEUR}}</p>
							</div>
						</div>
					
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.concerns)">
							<label for="concerns" class="col-sm-2 control-label" >Concerne</label>
							<div class="col-sm-10" >
								<input ng-if="!isReadOnly" id="concerns" name="concerns" class="form-control" autocomplete="off"
									ng-model="elfin.CARACTERISTIQUE.CAR1.VALEUR"></input>
								<p ng-if="isReadOnly" class="form-control-static" >{{elfin.CARACTERISTIQUE.CAR1.VALEUR}}</p>
							</div>
						</div>
						
						<div ng-if="elfin.IDENTIFIANT.QUALITE==HB_ORDER_TYPE.CONFIRMATION" class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.introduction)">
							<label for="introduction" class="col-sm-2 control-label" >Introduction</label>
							<div class="col-sm-10" >
								<textarea ng-disabled="isReadOnly" id="introduction" name="introduction" class="form-control" rows="3" 
									autocomplete="off"
									ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR"></textarea>							
							</div>
						</div>				
		
						<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.remark)">
							<label for="remark" class="col-sm-2 control-label" >
								<span ng-if="(elfin.IDENTIFIANT.QUALITE!==HB_ORDER_TYPE.CONTRACT)">Description</span>
								<span ng-if="(elfin.IDENTIFIANT.QUALITE===HB_ORDER_TYPE.CONTRACT)">Remarque</span>							
							</label>
							<div class="col-sm-10" >
								<textarea ng-disabled="isReadOnly" id="remark" name="remark" class="form-control" rows="(elfin.IDENTIFIANT.QUALITE!==HB_ORDER_TYPE.CONTRACT ? 6 : 2)" 
									autocomplete="off"
									ng-model="elfin.DIVERS.REMARQUE"></textarea>
							</div>
						</div>
					</div>
					<div ng-if="elfin.IDENTIFIANT.QUALITE!==HB_ORDER_TYPE.PURCHASE" class="col-xs-12" >
						<div hb-order-spreadsheet hb-order-elfin-form="elfinForm" hb-order-editable="!isReadOnly" ng-model="elfin"></div>
					</div>
					<div class="col-xs-6 text-center" >
						<button class="btn btn-warning" ng-if="!isReadOnly" ng-click="validateEntry()" ><span>Valider</span></button>
						<button class="btn btn-danger" ng-if="(isReadOnly && canUnlockValidatedOrders)" ng-click="unsetIsReadOnlyStatus()" ><span>Modifier une commande validée</span></button>		
		 			</div>
					<div class="col-xs-6 text-center" >
						<button class="btn btn-default" ng-if="elfin.IDENTIFIANT.QUALITE==HB_ORDER_TYPE.PURCHASE" ng-click="printProviderPurchaseOrderReport(elfin)" tooltip="Format d'impression du bon de commande fournisseur" tooltip-popup-delay="1000" tooltip-placement="right" ><i class="glyphicon glyphicon-print"></i><span> Bon de commande fournisseur</span></button>
						<button class="btn btn-default" ng-if="elfin.IDENTIFIANT.QUALITE==HB_ORDER_TYPE.PURCHASE" ng-click="printTenantPurchaseOrderReport(elfin)" tooltip="Format d'impression du bon de commande locataire" tooltip-popup-delay="1000" tooltip-placement="right" ><i class="glyphicon glyphicon-print"></i><span> Bon de commande locataire</span></button>
						<button class="btn btn-default" ng-if="elfin.IDENTIFIANT.QUALITE==HB_ORDER_TYPE.CONFIRMATION" ng-click="printOrderConfirmationReport(elfin)" tooltip="Format d'impression du bon de commande locataire" tooltip-popup-delay="1000" tooltip-placement="right" ><i class="glyphicon glyphicon-print"></i><span> Confirmation de commande</span></button>
						<button class="btn btn-default" ng-if="elfin.IDENTIFIANT.QUALITE==HB_ORDER_TYPE.CONTRACT" ng-click="printEntrepriseContractReport(elfin)" tooltip="Format d'impression du bon de commande locataire" tooltip-popup-delay="1000" tooltip-placement="right" ><i class="glyphicon glyphicon-print"></i><span> Contrat d'entreprise</span></button>
					</div>
 				</div><!-- row encapsulation end -->
			</div><!-- hb-tab end -->
		</tab> 
		<!-- Annexes tab -->
		<tab> 
			<tab-heading><div hb-annexes-number></div></tab-heading>
			<div class="hb-tab"><div hb-annexes-component hb-annexes-merge="true"></div></div>
		</tab>			
		</tabset>
	</div>
</div>
