<table class="table table-condensed table-bordered table-striped"
	ng-show="elfins">
	<thead>
		<tr>
			<th colspan="7"><span class="badge">{{filteredElfins.length}}
					/ {{elfinsCount}}</span> contrat{{ elfinsCount | plural }} trouvé{{
				elfinsCount | plural }}</th>
		</tr>
		<tr>
			<th rowspan="3" class="col-sm-1" />
			<th colspan="8">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input id="globalSearchField" name="globalSearchField" type="text" class="form-control" ng-model="search.text" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
		</tr>
		<tr>

			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.contratNb" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.contratSAI" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.contratSource" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>

		</tr>
		<tr>
			<th class="col-sm-2">
			<a href=""	ng-click="predicate = 'IDENTIFIANT.NOM'; reverse=!reverse">No contrat</a>
			</th>

			<th class="col-sm-2">
			<a href="" ng-click="predicate = 'SOURCE'; reverse=!reverse">Source</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="elfin in filteredElfins" >
			<td class="col-sm-1" >
				<!-- Ugly 90s table style layout that works. -->			
				<table width="100%" height="100%">
					<tr>
						<td style="text-align: center; vertical-align: middle;">
							<div hb-card-view-link hb-href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}" ></div>
						</td>
						<td ng-if="source" style="text-align: center; vertical-align: middle;">
							<div tooltip="Sélectionner" tooltip-popup-delay="1500">
								<div style="width: 38px;">
									<a class="btn btn-default btn-xs btn-block" href="/elfin/{{source}}?selectionContrat={{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}" role="button">
										<i class="glyphicon glyphicon-plus-sign"></i>
									</a>
								</div>
							</div>						
						</td>
					</tr>
				</table>
			</td>
			<td class="col-sm-2">{{elfin.IDENTIFIANT.NOM}}</td>
			<td class="col-sm-1">{{elfin.SOURCE}}</td>
			
	</tr>
	</tbody>
</table>

