<table class="table table-condensed table-bordered table-striped"
	ng-show="elfins">
	<thead>
	   	<colgroup>
	        <col span="7">
	        <col span="5" class="phase">
	        <col span="1" >
    	</colgroup>
		<tr>
			<th colspan="7"><span class="badge">{{elfinsCount}}</span> <span>constat{{
					elfinsCount | plural }} trouvé</span>{{elfinsCount | plural }}</th>
			<th colspan="5">Phasage</th>
			<th colspan="1">Planning</th>
		</tr>
	<tr> 
		<th>Filtre </th>
			<th><div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.last_resp" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th><div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.constat_date" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th><div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.description" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th> 
			<th><div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.partenaire_usager" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>  
			<th><div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.constat_group" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th> 
			<th><div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.constat_noSAI" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th> 
			<th /> 
			<th /> 
 			<th /> 
 			<th /> 
 			<th /> 
			<th /> 
		</tr> 
		<tr>
			<th>Tri</th>
			<th><a href="" ng-click="predicate = 'ACTIVITE.EVENEMENT.ECHEANCE[ACTIVITE.EVENEMENT.ECHEANCE.length-1].POUR_QUI'; reverse=!reverse">Resp</a></th>
			<th><a href=""
				ng-click="predicate = 'IDENTIFIANT.DE'; reverse=!reverse">Constaté
					le</a></th>
			<th><a href=""
				ng-click="predicate = 'IDENTIFIANT.NOM'; reverse=!reverse">Descriptif</a></th>
			<th><a href=""
				ng-click="predicate = 'PARTENAIRE.USAGER.VALUE'; reverse=!reverse">Etage-Locataire</a></th>
			<th><a href="" ng-click="predicate = 'GROUPE'; reverse=!reverse">Type</a></th>
			<th><a href=""
				ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">No
					SAI</a></th>
<!-- 			<th><a href="" -->
<!-- 				ng-click="">Analyse</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="">Avant-Projet</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="">Adjudication</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="e">Exécution</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="e">Réception</a></th> -->
			<th>Analyse</th>
			<th>Avant-Projet</th>
			<th>Adjudication</th>
			<th>Exécution</th>
			<th>Réception</th>
			<th>Planning</th>
<!-- 			<th><a href="" -->
<!-- 				ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">Retard</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">S1</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">S2</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">S3</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">M1</a></th> -->
<!-- 			<th><a href="" -->
<!-- 				ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">&gt;1 an</a></th> -->
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="elfin in elfins | constatListFilter:search |orderBy:predicate:reverse">
			<td>
				<div hb-card-view-link hb-href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}"></div>
			</td>
			<td>{{elfin.ACTIVITE.EVENEMENT.ECHEANCE[elfin.ACTIVITE.EVENEMENT.ECHEANCE.length-1].POUR_QUI}}</td>
			<td>{{elfin.IDENTIFIANT.DE}}</td>
			<td>{{elfin.IDENTIFIANT.NOM}}</td>
			<td>{{elfin.PARTENAIRE.USAGER.VALUE}}</td>
			<td>{{elfin.GROUPE}}</td>
			<td>{{elfin.IDENTIFIANT.OBJECTIF}}</td>
			<!-- je ne sais pas comment filtrer
			
			<td	tooltip="elfin.ACTIVITE.EVENEMENT.ECHEANCE[ACTION='Analyse'].E_DATE">{{elfin.ACTIVITE.EVENEMENT.ECHEANCE.E_DATE | filter:{ACTION:'Analyse'}} - {{elfin.ACTIVITE.EVENEMENT.ECHEANCE.E_PAR_QUI | filter:{ACTION:'Analyse'}}</td>  -->
			<td>
				<span ng-repeat="echeance in elfin.ACTIVITE.EVENEMENT.ECHEANCE | filter:{ACTION:'Analyse'} ">
				<span ng-if="echeance.PAR_QUI == 'VALIDE'"  class="btn btn-success btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'A VALIDER'"  class="btn btn-warning btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'EN COURS'"  class="btn btn-danger btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI != 'EN COURS' && echeance.PAR_QUI != 'A VALIDER' && echeance.PAR_QUI != 'VALIDE'" class="btn btn-default btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span>
				<span ng-if="!$last"></br></span>
				</span>
			</td>
			<td>
				<span ng-repeat="echeance in elfin.ACTIVITE.EVENEMENT.ECHEANCE | filter:{ACTION:'Avant-Projet'} ">
				<span ng-if="echeance.PAR_QUI == 'VALIDE'"  class="btn btn-success btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'A VALIDER'"  class="btn btn-warning btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'EN COURS'"  class="btn btn-danger btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI != 'EN COURS' && echeance.PAR_QUI != 'A VALIDER' && echeance.PAR_QUI != 'VALIDE'" class="btn btn-default btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span>
				<span ng-if="!$last"></br></span>
				</span>
			</td>
			<td>
				<span ng-repeat="echeance in elfin.ACTIVITE.EVENEMENT.ECHEANCE | filter:{ACTION:'Appel d offre et Adjudication'} ">
				<span ng-if="echeance.PAR_QUI == 'VALIDE'"  class="btn btn-success btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'A VALIDER'"  class="btn btn-warning btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'EN COURS'"  class="btn btn-danger btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI != 'EN COURS' && echeance.PAR_QUI != 'A VALIDER' && echeance.PAR_QUI != 'VALIDE'" class="btn btn-default btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span>
				<span ng-if="!$last"></br></span>
				</span>
			</td>
			<td>
				<span ng-repeat="echeance in elfin.ACTIVITE.EVENEMENT.ECHEANCE | filter:{ACTION:'Exécution'} ">
				<span ng-if="echeance.PAR_QUI == 'VALIDE'"  class="btn btn-success btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'A VALIDER'"  class="btn btn-warning btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'EN COURS'"  class="btn btn-danger btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI != 'EN COURS' && echeance.PAR_QUI != 'A VALIDER' && echeance.PAR_QUI != 'VALIDE'" class="btn btn-default btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span>
				<span ng-if="!$last"></br></span>
				</span>
			</td>
<!-- 			<td -->
<!-- 				tooltip="elfin.ACTIVITE.EVENEMENT.ECHEANCE.E_DATE | filter:{ACTION:'Exécution'}} - {{elfin.ACTIVITE.EVENEMENT.ECHEANCE.E_PAR_QUI | filter:{ACTION:'Exécution'">voir -->
<!-- 				tooltip</td> -->
			<td>
				<span ng-repeat="echeance in elfin.ACTIVITE.EVENEMENT.ECHEANCE | filter:{ACTION:'Réception'} ">
				<span ng-if="echeance.PAR_QUI == 'VALIDE'"  class="btn btn-success btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'A VALIDER'"  class="btn btn-warning btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI == 'EN COURS'"  class="btn btn-danger btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span></span>
				<span ng-if="echeance.PAR_QUI != 'EN COURS' && echeance.PAR_QUI != 'A VALIDER' && echeance.PAR_QUI != 'VALIDE'" class="btn btn-default btn-block"><span class="badge">{{echeance.POUR_QUI}} </br> {{echeance.E_DATE}}</span>
				<span ng-if="!$last"></br></span>
				</span>
			</td>
			<td>
				<span ng-repeat="echeance in elfin.ACTIVITE.EVENEMENT.ECHEANCE">
<!-- 					<span ng-if="echeance.PAR_QUI == 'VALIDE'"  class="btn btn-success btn-block"><span class="badge">{{getPhaseAbbreviation(echeance.ACTION)}}</span></span> -->
<!-- 					<span ng-if="echeance.PAR_QUI == 'A VALIDER'"  class="btn btn-warning btn-block"><span class="badge">{{getPhaseAbbreviation(echeance.ACTION)}}</span></span> -->
					<span ng-if="echeance.PAR_QUI == 'EN COURS'"  class="btn btn-danger btn-block"><span class="badge">{{getPhaseAbbreviation(echeance.ACTION)}} </br> {{getEcheanceStatus(echeance.E_DATE)}}</span></span>
<!-- 					<span ng-if="echeance.PAR_QUI != 'EN COURS' && echeance.PAR_QUI != 'A VALIDE' && echeance.PAR_QUI != 'VALIDE'" class="btn btn-default btn-block"><span class="badge">{{getPhaseAbbreviation(echeance.ACTION)}}</span> -->
<!-- 					<span ng-if="!$last">;</span> -->
				</span>
			</td>
<!-- 			<td -->
<!-- 				tooltip="elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()].ACTION}} - elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()].E_PAR_QUI}}">voir -->
<!-- 				tooltip</td> -->
<!-- 		<td -->
<!-- 				tooltip="elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+7j].ACTION}} - elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+7j].E_PAR_QUI}}">voir -->
<!-- 				tooltip</td> -->
<!-- 	<td -->
<!-- 				tooltip="elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+14j].ACTION}} - elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+14j].E_PAR_QUI}}">voir -->
<!-- 				tooltip</td> -->
<!-- 					<td -->
<!-- 				tooltip="elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+21j].ACTION}} - elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+21j].E_PAR_QUI}}">voir -->
<!-- 				tooltip</td> -->
<!-- 									<td -->
<!-- 				tooltip="elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+30j].ACTION}} - elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+30j].E_PAR_QUI}}">voir -->
<!-- 				tooltip</td> -->
<!-- 													<td -->
<!-- 				tooltip="elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+365j].ACTION}} - elfin.ACTIVITE.EVENEMENT.ECHEANCE[PAR_QUI='EN COURS' and E_DATE<today()+365j].E_PAR_QUI}}">voir -->
<!-- 				tooltip</td> -->
				
				

		</tr>
	</tbody>
</table>
