
<!-- 
Stade et terrain
Piscine
Patinoire
Salle
Place de sport
Droit de superficie et autre
 -->
<table class="table table-condensed table-bordered table-striped" >
	<tbody>
		<tr>
			<th class="dashboard" style="width: 33%;">Stade{{ asElfins.length | plural }} et terrain{{ asElfins.length | plural }} <span class="badge">{{asElfins.length}}</span></th>
			<th class="dashboard" >Piscine{{ asElfins.length | plural }} <span class="badge">{{asElfins.length}}</span></th>
			<th class="dashboard" style="width: 33%;">Patinoire{{ asElfins.length | plural }} <span class="badge">{{asElfins.length}}</span></th>
		</tr>
		<tr>
			<td ><img ng-click="listOrViewAs()" src="/assets/images/stade_foot.jpeg" ng-src="/assets/images/stade_foot.jpeg" class="img-thumbnail" style="width: 150px; height: 105px;"></td>
			<td ><img ng-click="listOrViewAs()" src="/assets/images/stade_foot.jpeg" ng-src="/assets/images/stade_foot.jpeg" class="img-thumbnail" style="width: 150px; height: 105px;"></td>
			<td ><img ng-click="listOrViewAs()" src="/assets/images/stade_foot.jpeg" ng-src="/assets/images/stade_foot.jpeg" class="img-thumbnail" style="width: 150px; height: 105px;"></td>
		</tr>
		<tr>
			<th >Sélection  <span class="badge">{{filteredAsElfins.length}}</span>
				<div class="right">
					<button tabindex="2" class="btn btn-primary btn-xs" ng-click="listOrViewAs()" ng-disabled="filteredAsElfins.length < 1">
						<span ng-show="filteredAsElfins.length > 1"><i class="glyphicon glyphicon-list-alt"></i></span>
						<span ng-show="filteredAsElfins.length <= 1"><i class="glyphicon glyphicon-eye-open"></i></span>
					</button>
				</div>			
			</th>
			<th >Sélection  <span class="badge">{{filteredAsElfins.length}}</span>
				<div class="right">
					<button tabindex="4" class="btn btn-primary btn-xs" ng-click="listOrViewAs()" ng-disabled="filteredAsElfins.length < 1">
						<span ng-show="filteredAsElfins.length > 1"><i class="glyphicon glyphicon-list-alt"></i></span>
						<span ng-show="filteredAsElfins.length <= 1"><i class="glyphicon glyphicon-eye-open"></i></span>
					</button>
				</div>			
			</th>
			<th >Sélection  <span class="badge">{{filteredAsElfins.length}}</span>
				<div class="right">
					<button tabindex="6" class="btn btn-primary btn-xs" ng-click="listOrViewAs()" ng-disabled="filteredAsElfins.length < 1">
						<span ng-show="filteredAsElfins.length > 1"><i class="glyphicon glyphicon-list-alt"></i></span>
						<span ng-show="filteredAsElfins.length <= 1"><i class="glyphicon glyphicon-eye-open"></i></span>
					</button>
				</div>			
			</th>
		</tr>
		<tr>
			<th >
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input hb-enter="listOrViewAs()" tabindex="1" id="asSearchTextInput" name="asSearchTextInput" type="text" class="form-control" ng-model="asSearch.text" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th >
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input hb-enter="listOrViewAs()" tabindex="3" id="asSearchTextInput" name="asSearchTextInput" type="text" class="form-control" ng-model="asSearch.text" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th >
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input hb-enter="listOrViewAs()" tabindex="5" id="asSearchTextInput" name="asSearchTextInput" type="text" class="form-control" ng-model="asSearch.text" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
		</tr>
	</tbody>
</table>
<table class="table table-condensed table-bordered table-striped" >
	<tbody>
		<tr>
			<th class="dashboard" style="width: 33%;">Salle{{ asElfins.length | plural }} <span class="badge">{{asElfins.length}}</span></th>
			<th class="dashboard" >Place{{ asElfins.length | plural }} de sport <span class="badge">{{asElfins.length}}</span></th>
			<th class="dashboard" style="width: 33%;">Droits de superficie et autres <span class="badge">{{asElfins.length}}</span></th>
		</tr>
		<tr>
			<td ><img ng-click="listOrViewAs()" src="/assets/images/stade_foot.jpeg" ng-src="/assets/images/stade_foot.jpeg" class="img-thumbnail" style="width: 150px; height: 105px;"></td>
			<td ><img ng-click="listOrViewAs()" src="/assets/images/stade_foot.jpeg" ng-src="/assets/images/stade_foot.jpeg" class="img-thumbnail" style="width: 150px; height: 105px;"></td>
			<td ><img ng-click="listOrViewAs()" src="/assets/images/stade_foot.jpeg" ng-src="/assets/images/stade_foot.jpeg" class="img-thumbnail" style="width: 150px; height: 105px;"></td>
		</tr>
		<tr>
			<th >Sélection  <span class="badge">{{filteredAsElfins.length}}</span>
				<div class="right">
					<button tabindex="8" class="btn btn-primary btn-xs" ng-click="listOrViewAs()" ng-disabled="filteredAsElfins.length < 1">
						<span ng-show="filteredAsElfins.length > 1"><i class="glyphicon glyphicon-list-alt"></i></span>
						<span ng-show="filteredAsElfins.length <= 1"><i class="glyphicon glyphicon-eye-open"></i></span>
					</button>
				</div>			
			</th>
			<th >Sélection  <span class="badge">{{filteredAsElfins.length}}</span>
				<div class="right">
					<button tabindex="10" class="btn btn-primary btn-xs" ng-click="listOrViewAs()" ng-disabled="filteredAsElfins.length < 1">
						<span ng-show="filteredAsElfins.length > 1"><i class="glyphicon glyphicon-list-alt"></i></span>
						<span ng-show="filteredAsElfins.length <= 1"><i class="glyphicon glyphicon-eye-open"></i></span>
					</button>
				</div>			
			</th>
			<th >Sélection  <span class="badge">{{filteredAsElfins.length}}</span>
				<div class="right">
					<button tabindex="12" class="btn btn-primary btn-xs" ng-click="listOrViewAs()" ng-disabled="filteredAsElfins.length < 1">
						<span ng-show="filteredAsElfins.length > 1"><i class="glyphicon glyphicon-list-alt"></i></span>
						<span ng-show="filteredAsElfins.length <= 1"><i class="glyphicon glyphicon-eye-open"></i></span>
					</button>
				</div>			
			</th>
		</tr>
		<tr>
			<th >
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input hb-enter="listOrViewAs()" tabindex="7" id="asSearchTextInput" name="asSearchTextInput" type="text" class="form-control" ng-model="asSearch.text" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th >
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input hb-enter="listOrViewAs()" tabindex="9" id="asSearchTextInput" name="asSearchTextInput" type="text" class="form-control" ng-model="asSearch.text" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th >
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input hb-enter="listOrViewAs()" tabindex="11" id="asSearchTextInput" name="asSearchTextInput" type="text" class="form-control" ng-model="asSearch.text" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
		</tr>
	</tbody>
</table>

