<div hb-card-header>
	<!-- Custom validation message to be defined here -->
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset>
		<!-- IDENTIFIANT tab -->
		<tab> <tab-heading>Identifiant</tab-heading>
		<div class="hb-tab">

			<div class="panel panel-default">
				<div class="panel-body">

					<div class="col-sm-4">
						<div class="form-group">
							<label for="author" class="col-sm-4 control-label">Auteur</label>
							<div class="col-sm-8">
								<input id="author" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.AUT">
							</div>
						</div>
						<div class="form-group">
							<label for="goal" class="col-sm-4 control-label">Objectif</label>
							<div class="col-sm-8">
								<input id="goal" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.OBJECTIF">
							</div>
						</div>					
				
						<div class="form-group">
							<label for="value" class="col-sm-4 control-label">Valeur</label>
							<div class="col-sm-8">
								<input id="value" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.VALEUR">
							</div>
						</div>				
						<div class="form-group">
							<label for="value_new" class="col-sm-4 control-label">Valeur
								à neuf</label>
							<div class="col-sm-8">
								<input id="value_new" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF">
							</div>
						</div>								
						<div class="form-group">
							<label for="quality" class="col-sm-4 control-label">Qualité</label>
							<div class="col-sm-8">
								<input id="quality" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.QUALITE">
							</div>
						</div>
									
					</div>
					<!-- image start -->
					<div class="col-sm-4" style="text-align: center; height: 100%">
						
						<!-- If no photo is available show upload function while using room left empty with fixed size table. -->
						<table ng-if="!photoSrc"
							style="border: solid 4px #F0F0F0; width: 180px; height: 198px; margin: 0 auto;">
							<tr>
								<td style="vertical-align: middle; text-align: center"><i
									class="glyphicon glyphicon-upload" style="font-size: 4em;"></i></td>
							</tr>
						</table> 
						<!-- If a photo is available show it forcing width ratio. -->
	<!-- 					<div ng-if="photoSrc" style="height:198px; border:solid red 1px;">					 -->
						<div ng-if="photoSrc" >
							<img ng-src="{{photoSrc}}" width="180px" class="img-thumbnail" />
						</div>
						
						<p>
	<!-- 						<div ng-if="canEdit" hb-annexes-upload hb-annexes-upload-annex-type="photo"></div> -->
							<div hb-annexes-upload hb-annexes-upload-annex-type="photo"></div>
						</p>
	
					</div><!-- image end -->					
					
					<div class="col-sm-4">
						<div class="form-group">
							<label for="name" class="col-sm-4 control-label">Nom</label>
							<div class="col-sm-8">
								<input id="name" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.NOM">
							</div>
						</div>
						<div class="form-group">
							<label for="alias" class="col-sm-4 control-label">Alias</label>
							<div class="col-sm-8">
								<input id="alias" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.ALIAS">
							</div>
						</div>						
						<div class="form-group">
							<label for="from" class="col-sm-4 control-label">De</label>
							<div class="col-sm-8">
								<input id="from" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.DE">
							</div>
						</div>						
						<div class="form-group">
							<label for="to" class="col-sm-4 control-label">A</label>
							<div class="col-sm-8">
								<input id="to" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.A">
							</div>
						</div>
						<div class="form-group">
							<label for="manager" class="col-sm-4 control-label">Gérant</label>
							<div class="col-sm-8">
								<div class="form-control-static" >{{elfin.IDENTIFIANT.GER}}</div>
							</div>
						</div>
					</div>
<!-- 					<div class="col-sm-6"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label for="goal" class="col-sm-4 control-label">Objectif</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<input id="goal" type="text" class="form-control" -->
<!-- 									ng-model="elfin.IDENTIFIANT.OBJECTIF"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="col-sm-6"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label for="alias" class="col-sm-4 control-label">Alias</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<input id="alias" type="text" class="form-control" -->
<!-- 									ng-model="elfin.IDENTIFIANT.ALIAS"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="col-sm-12"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label for="value_new" class="col-sm-2 control-label">Valeur -->
<!-- 								à neuf</label> -->
<!-- 							<div class="col-sm-4"> -->
<!-- 								<input id="value_new" type="text" class="form-control" -->
<!-- 									ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->

<!-- 					<div class="col-sm-6 col-sm-offset-6 "> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label for="manager" class="col-sm-4 control-label">Gérant</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 									<div class="form-control-static">{{elfin.IDENTIFIANT.GER}}</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->

<!-- 					<div class="col-sm-6"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label for="from" class="col-sm-4 control-label">De</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<input id="from" type="text" class="form-control" -->
<!-- 									ng-model="elfin.IDENTIFIANT.DE"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->

<!-- 					<div class="col-sm-6"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label for="quality" class="col-sm-4 control-label">Qualité</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<input id="quality" type="text" class="form-control" -->
<!-- 									ng-model="elfin.IDENTIFIANT.QUALITE"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->

<!-- 					<div class="col-sm-6"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label for="to" class="col-sm-4 control-label">A</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<input id="to" type="text" class="form-control" -->
<!-- 									ng-model="elfin.IDENTIFIANT.A"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->

<!-- 					<div class="col-sm-6"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<label for="value" class="col-sm-4 control-label">Valeur</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<input id="value" type="text" class="form-control" -->
<!-- 									ng-model="elfin.IDENTIFIANT.VALEUR"> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="responsible" class="col-sm-4 control-label">Responsable</label>
							<div class="col-sm-8">
								<input id="responsible" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.RES">
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="origin" class="col-sm-4 control-label">Origine</label>
							<div class="col-sm-8">
								<input id="origin" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.ORIGINE">
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="account" class="col-sm-4 control-label">Compte</label>
							<div class="col-sm-8">
								<input id="account" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.COMPTE">
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="by" class="col-sm-4 control-label">Par</label>
							<div class="col-sm-8">
								<input id="by" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.PAR">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">

					<div class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
								<tr>
									<th>
										<div class="input-group">
											<div>Mots clés</div>
											<span class="input-group-btn">
												<button class="btn btn-default" type="button"
													ng-click="addRow(elfin, 'IDENTIFIANT.MOTCLE', { VALUE: '' })">
													<i class="icon-plus-sign"></i> Nouveau
												</button>
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody ng-show="elfin.IDENTIFIANT.MOTCLE.length > 0">
								<tr ng-repeat="motcle in elfin.IDENTIFIANT.MOTCLE">
									<td>
										<div class="input-group">
											<input type="text" name="keyword{$index}"
												class="form-control" ng-model="motcle.VALUE"
												tooltip="elfin.IDENTIFIANT.MOTCLE"
												placeholder="Saisissez un nouveau mot clé"> <span
												class="input-group-btn">
												<button class="btn btn-default"
													ng-click="removeKeyword($index)">
													<i class="icon-remove-sign"></i> Supprimer
												</button>
											</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
		</tab> <!-- ATTRIBUTS tab --> <tab> <tab-heading>Attributs<!-- <i class="icon-tag"></i> <b>Attributs</b> --></tab-heading>
		<div class="hb-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="groupe" class="col-sm-4 control-label">Groupe</label>
							<div class="col-sm-8">
								<input id="groupe" type="text" class="form-control"
									ng-model="elfin.GROUPE">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="type" class="col-sm-4 control-label">Type</label>
							<!-- angular-chosen-localytics -->
							<div class="col-sm-8">
								<select id="type" class="form-control" chosen
									data-placeholder="Choisir un type" ng-model="elfin.TYPE"
									ng-options="value as label for (value, label) in elfinTypes">
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="nature" class="col-sm-4 control-label">Nature</label>
							<div class="col-sm-8">
								<input id="nature" type="text" class="form-control"
									ng-model="elfin.NATURE">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="source" class="col-sm-4 control-label">Source</label>
							<div class="col-sm-8">
								<input id="source" type="text" class="form-control"
									ng-model="elfin.SOURCE">
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label for="remark" class="col-sm-2 control-label">Remarque</label>
							<div class="col-sm-10">
								<textarea id="remark" rows="4" class="form-control" ng-model="elfin.DIVERS.REMARQUE" ></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</tab> <!-- CARACTERISTIQUE tab --> <tab> <tab-heading>Caractéristiques</tab-heading>
		<div class="hb-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped"
							ng-init="carIndexes = [1, 2, 3, 4, 5, 6]">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Unité</th>
									<th>Valeur</th>
									<th></th>
								</tr>
							</thead>
							<tr ng-repeat="carIndex in carIndexes">
								<td>{{'CAR' + carIndex}}</td>
								<td><input type="text" class="form-control"
									ng-model="elfin.CARACTERISTIQUE['CAR' + carIndex].NOM"></td>
								<td><input type="text" class="form-control"
									ng-model="elfin.CARACTERISTIQUE['CAR' + carIndex].UNITE"></td>
								<td><input type="text" class="form-control"
									ng-model="elfin.CARACTERISTIQUE['CAR' + carIndex].VALEUR"></td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>
		</tab>
		<!-- Annexes tab -->
		<tab> <tab-heading>
		<div hb-annexes-number></div>
		</tab-heading>
		<div class="hb-tab">
			<div hb-annexes-component></div>
		</div>
		</tab> <!-- FORME tab --> 
		<tab select="eagerDomCreation.FORM = true"> 
			<tab-heading>Forme</tab-heading>
			<div class="hb-tab">
				<div hb-forme-component></div>
			</div>
		</tab>
	</div>
</div>
