<div hb-card-header>
	<!-- Custom validation message to be defined here -->
	<span ng-show="elfinForm.goal.$error.required">Le champs <strong>Numéro
			de gérance</strong> est obligatoire!
	</span> <span ng-show="elfinForm.author.$error.required">Le champs <strong>Numéro
			ECAP</strong> est obligatoire!
	</span> <span ng-show="elfinForm.name.$error.required">Le champs <strong>N°
			de construction</strong> est obligatoire!
	</span> <span ng-show="elfinForm.address.$error.required">Le champs <strong>Adresse</strong>
		est obligatoire!
	</span> <span ng-show="elfinForm.cadastralNb.$error.required">Le champs
		<strong>Numéro cadastral</strong> est obligatoire!
	</span> <span ng-show="elfinForm.manager.$error.required">Le champs <strong>Propriétaire</strong>
		est obligatoire!
	</span> <span ng-show="elfinForm.managerName.$error.required">Le champs
		<strong>Nom du propriétaire</strong> est obligatoire!
	</span> <span ng-show="elfinForm.alias.$error.required">Le champs <strong>Architecte</strong>
		est obligatoire!
	</span>
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset> <!-- IMMEUBLE tab --> <tab> <tab-heading>Immeuble</tab-heading>
		<div class="hb-tab">
			<!-- 1st tab 1st row -->
			<div class="row">
				<!-- 1st col first tab first row start -->
				<div class="col-sm-5" >
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.goal)">
						<label for="goal" class="col-sm-4 control-label">Numéro de
							gérance</label>
						<div class="col-sm-8">
							<input id="goal" name="goal" type="text" class="form-control"
								ng-model="elfin.IDENTIFIANT.OBJECTIF"
								tooltip="elfin.IDENTIFIANT.OBJECTIF" required>
						</div>
					</div>
						<div class="form-group has-feedback"
							ng-class="getCssHasFeedback(elfinForm.author)">
							<label for="author" class="col-sm-4 control-label">Numéro
								ECAP</label>
							<div class="col-sm-8">
								<input id="author" name="author" type="text"
									class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR"
									tooltip="elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR" required>
							</div>
						</div>
						<div class="form-group has-feedback"
							ng-class="getCssHasFeedback(elfinForm.name)">
							<label for="name" class="col-sm-4 control-label">N° de
								construction</label>
							<div class="col-sm-8">
								<input id="name" name="name" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.NOM"
									tooltip="elfin.IDENTIFIANT.NOM" required>
							</div>
						</div>
						<div class="form-group has-feedback"
							ng-class="getCssHasFeedback(elfinForm.address)">
							<label for="address" class="col-sm-4 control-label">Adresse</label>
							<div class="col-sm-8">
								<input id="address" name="address" type="text"
									class="form-control" ng-model="elfin.IDENTIFIANT.ALIAS"
									tooltip="elfin.IDENTIFIANT.ALIAS" required>
							</div>
						</div>
<!-- 					</div> -->

<!-- 					<div class="row"> -->

						<div class="form-group has-feedback"
							ng-class="getCssHasFeedback(elfinForm.cadastralNb)">
							<label for="cadastralNb" class="col-sm-4 control-label">Numéro
								cadastral</label>
							<div class="col-sm-8">
								<input id="cadastralNb" name="cadastralNb" type="text"
									class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CAR4.VALEUR"
									tooltip="elfin.CARACTERISTIQUE.CAR4.VALEUR" required>
							</div>
						</div>
				</div><!-- 1st col first tab first row end -->
				<!-- 2nd col first tab first row start -->
				<div class="col-sm-2" style="text-align: center; height: 100%">
					<!-- If no photo is available show upload function while using room left empty with fixed size table. -->
					<table ng-if="!photoSrc"
						style="border: solid 4px #F0F0F0; width: 180px; height: 198px; margin: 0 auto;">
						<tr>
							<td style="vertical-align: middle; text-align: center"><i
								class="glyphicon glyphicon-upload" style="font-size: 4em;"></i></td>
						</tr>
					</table> 
					<!-- If a photo is available show it forcing width ratio. -->
					<div ng-if="photoSrc" style="height:198px;">
						<img ng-src="{{photoSrc}}" width="180px" class="img-thumbnail" />
					</div>
					
					<div hb-annexes-upload ></div>

				</div><!-- 2nd col first tab first row end -->
				<!-- 3rd col first tab first row start -->
				<div class="col-sm-5" >
						<div class="col-sm-12">
							<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.manager)">
								<label for="manager" class="col-sm-4 control-label">Propriétaire</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input id="manager" name="manager" type="text"
											class="form-control"
											ng-model="selected.ownerDisplay"
											tooltip="selected.ownerDisplay" 
											required
											readonly
											ng-model-options="{ debounce: 6000 }"
											>
<!-- 										<input id="manager" name="manager" type="hidden" -->
<!-- 											class="form-control" -->
<!-- 											ng-value="elfin.PARTENAIRE.PROPRIETAIRE.GROUPE" -->
<!-- 											tooltip="elfin.PARTENAIRE.PROPRIETAIRE.GROUPE" required>											 -->
										<span class="input-group-btn">
<!-- 											<button class="btn btn-default" type="button" hb-choose-one -->
<!-- 												ng-click="hbChooseOne(elfin, 'PARTENAIRE.PROPRIETAIRE.VALUE', ownerActors, 'GROUPE', actorChooseOneColumnsDefinition, actorChooseOneTemplate )" ><i class="glyphicon glyphicon-list-alt"></i></button> -->
								<button class="btn btn-default" type="button"
									hb-choose-actor
									hb-choose-actor-role="Propriétaire"
									ng-click="hbChooseActor(selected, 'owner')"
									><i class="glyphicon glyphicon-list-alt" ></i></button>												
										</span>
									</div>
								</div>
							</div>
						</div>
<!-- 						<div class="col-sm-12" > -->
<!-- 							<div class="form-group has-feedback" -->
<!-- 								ng-class="getCssHasFeedback(elfinForm.managerName)"> -->
<!-- 								<label for="managerName" class="col-sm-4 control-label">Nom -->
<!-- 									du propriétaire</label> -->
<!-- 								<div class="col-sm-8"> -->
<!-- 									<div class="input-group"> -->
<!-- 										<input id="managerName" name="managerName" type="text" -->
<!-- 											class="form-control" -->
<!-- 											ng-model="elfin.PARTENAIRE.PROPRIETAIRE.NOM" -->
<!-- 											tooltip="elfin.PARTENAIRE.PROPRIETAIRE.NOM" required> -->
<!-- 										<span class="input-group-btn"> -->
<!-- 											<button class="btn btn-default" type="button" -->
<!-- 												ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE.NOM)">Choix</button> -->
<!-- 										</span> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
						<div class="col-sm-12">
							<div class="form-group has-feedback"
							ng-class="getCssHasFeedback(elfinForm.alias)">
								<label for="alias" class="col-sm-4 control-label">Architecte</label>
								<div class="col-sm-8">
									<input id="alias" name="alias" type="text" class="form-control"
										ng-model="elfin.PARTENAIRE.FOURNISSEUR.VALUE"
										tooltip="elfin.PARTENAIRE.FOURNISSEUR.VALUE" required>
								</div>
							</div>
						</div>
<!-- 					</div> -->
<!-- 					<div class="row"> -->
<!-- 						<div class="form-group has-feedback" -->
<!-- 							ng-class="getCssHasFeedback(elfinForm.alias)"> -->
<!-- 							<label for="alias" class="col-sm-6 control-label">Architecte</label> -->
<!-- 							<div class="col-sm-6"> -->
<!-- 								<input id="alias" name="alias" type="text" class="form-control" -->
<!-- 									ng-model="elfin.PARTENAIRE.FOURNISSEUR.VALUE" -->
<!-- 									tooltip="elfin.PARTENAIRE.FOURNISSEUR.VALUE" required> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div><!-- 3rd col first tab first row end --> 					
			</div><!-- row end -->

<!-- 			</div> -->
			<!-- 2e bloc -->
			<div class="row" >
				<div class="col-sm-12" >
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.locality)">
						<label for="locality" class="col-sm-1 control-label">Lieu-dit</label>
						<div class="col-sm-11">
							<input id="locality" name="locality" type="text"
								class="form-control"
								ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR"
								tooltip="elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR">
						</div>
					</div>
				</div>
				<div class="col-sm-12" >
					<div class="form-group has-feedback"
						ng-class="getCssHasFeedback(elfinForm.remark)">
						<label for="remark" class="col-sm-1 control-label">Remarque</label>
						<div class="col-sm-11">
							<input id="remark" name="remark" type="text" class="form-control"
								ng-model="elfin.DIVERS.REMARQUE" tooltip="elfin.DIVERS.REMARQUE">
						</div>
					</div>
				</div>
			</div>
			<!-- 3e bloc -->
<!-- Keywords are currently unused. -->
<!-- 			<div class="row" > -->
<!-- 				<div class="col-sm-12"> -->
<!-- 					<table class="table table-condensed table-bordered table-striped"> -->
<!-- 						<thead> -->
<!-- 							<tr> -->
<!-- 								<th> -->
<!-- 									<div class="input-group"> -->
<!-- 										<div>Mots clés</div> -->
<!-- 										<span class="input-group-btn"> -->
<!-- 											<button class="btn btn-default" type="button" -->
<!-- 												ng-click="addRow(elfin, 'IDENTIFIANT.MOTCLE', { VALUE: '' })"> -->
<!-- 												<i class="icon-plus-sign"></i> Nouveau -->
<!-- 											</button> -->
<!-- 										</span> -->
<!-- 									</div> -->
<!-- 								</th> -->
<!-- 							</tr> -->
<!-- 						</thead> -->
<!-- 						<tbody ng-show="elfin.IDENTIFIANT.MOTCLE.length > 0"> -->
<!-- 							<tr ng-repeat="motcle in elfin.IDENTIFIANT.MOTCLE"> -->
<!-- 								<td> -->
<!-- 									<div class="input-group"> -->
<!-- 										<input type="text" name="keyword{$index}" class="form-control" -->
<!-- 											ng-model="motcle.VALUE" tooltip="elfin.IDENTIFIANT.MOTCLE" -->
<!-- 											placeholder="Saisissez un nouveau mot clé"> <span -->
<!-- 											class="input-group-btn"> -->
<!-- 											<button class="btn btn-default" -->
<!-- 												ng-click="removeKeyword($index)"> -->
<!-- 												<i class="icon-remove-sign"></i> Supprimer -->
<!-- 											</button> -->
<!-- 										</span> -->
<!-- 									</div> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 						</tbody> -->
<!-- 					</table> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<!-- 4e bloc -->
			<tabset> <!-- Constats en cours tab --> <tab> <tab-heading>
			Constats en cours </tab-heading>
		<div class="hb-tab">
			<div class="row">
				<div ng-show="constatsEncours" class="col-sm-12">
					<table class="table table-condensed table-bordered table-striped">
						<thead>

							<tr>
								<th>Constat</th>
								<th>Etage-Locataire</th>
								<th>Libellé</th>
								<th>Montant</th>
								<th>Delai</th>
								<th>Resp</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="constat in constatsEncours | orderBy:'IDENTIFIANT.DE':true">
								<td><a
									href="/elfin/{{constat.ID_G}}/CONSTAT/{{constat.Id}}">Détail</a></td>
								<td><span tooltip="constat.PARTENAIRE.USAGER.VALUE">{{constat.PARTENAIRE.USAGER.VALUE}}</span></td>
								<td><span tooltip="constat.IDENTIFIANT.NOM">{{constat.IDENTIFIANT.NOM}}</span></td>
								<td><span
									tooltip="constat.ACTIVITE.EVENEMENT.ECHEANCE[last()].E_PAR_QUI">voir
										tooltip</span></td>
								<td><span
									tooltip="constat.ACTIVITE.EVENEMENT.ECHEANCE[last()].E_DATE">voir
										tooltip</span></td>
								<td><span
									tooltip="constat.ACTIVITE.EVENEMENT.ECHEANCE[last()].PAR_QUI">voir
										tooltip</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			</tab> 
			<!-- Constats traités tab --> 
			<tab> 
			<tab-heading>Constats traités</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div ng-show="constatsClos" class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
		
								<tr>
									<th>Constat</th>
									<th>Etage-Locataire</th>
									<th>Libellé</th>
									<th>Montant</th>
									<th>Annoncé le</th>
									<th>Traité le</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="constat in constatsClos | orderBy:'IDENTIFIANT.DE':true">
									<td><a href="/elfin/{{constat.ID_G}}/CONSTAT/{{constat.Id}}">Détail</a></td>
									<td><span tooltip="constat.PARTENAIRE.USAGER.VALUE">{{constat.PARTENAIRE.USAGER.VALUE}}</span></td>
									<td><span tooltip="constat.IDENTIFIANT.NOM">{{constat.IDENTIFIANT.NOM}}</span></td>
									<td><span
										tooltip="constat.ACTIVITE.EVENEMENT.ECHEANCE[last()].E_PAR_QUI">voir
											tooltip</span></td>
									<td><span tooltip="constat.IDENTIFIANT.DE">{{constat.IDENTIFIANT.DE}}</span></td>
									<td><span tooltip="constat.IDENTIFIANT.A">{{constat.IDENTIFIANT.A}}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</tab>
			<tab select="createNewConstat()"> 
			<tab-heading tooltip="Créer un nouveau constat relatif à l'objet courant" tooltip-popup-delay="1000">Créer un nouveau constat <i class="icon-plus-sign"></i></tab-heading>
			<div class="hb-tab">

			</div>
			</tab>			
			 </tabset>

		</div>
		</tab> 
		<!-- SURFACE tab --> 
		<tab> 
			<tab-heading>Unités locatives ({{surfaces.length}})</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div ng-show="surfaces" class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
								<tr>
									<th colspan="2">
										<div class="input-group">
		
											<div>Unités locatives</div>
										</div>
									</th>
		
									<th colspan="3">
										<div class="input-group">
		
											<span class="input-group-btn"
												tooltip="Créer une nouvelle unité locative relative à l'objet courant">
												<a class="btn btn-default" type="button"
												ng-href="/elfin/create/SURFACE?nocons={{elfin.IDENTIFIANT.NOM}}&sai={{elfin.IDENTIFIANT.OBJECTIF}}">
													<!-- ng-href="/elfin/create/SURFACE?nocons={{elfin.IDENTIFIANT.NOM}}&sai={{elfin.IDENTIFIANT.OBJECTIF}}&nomProprio={{elfin.PARTENAIRE.PROPRIETAIRE.NOM}}&textProprio={{elfin.PARTENAIRE.PROPRIETAIRE}}"> -->
													<i class="icon-plus-sign"></i> Nouvelle unité locative
											</a>
											</span>
		
										</div>
									</th>
									<th colspan="3">
										<div class="input-group"></div>
									</th>
		
								</tr>
								
								<tr>
									<th>tri</th>
									<th><a href=""
										ng-click="locUnitPredicate = 'IDENTIFIANT.OBJECTIF'; locUnitReverse=!locUnitReverse">No
											SAI</a></th>
									<th><a href=""
										ng-click="locUnitPredicate = 'GROUPE'; locUnitReverse=!locUnitReverse">Groupe</a></th>
									<th><a href=""
										ng-click="locUnitPredicate = 'PARTENAIRE.USAGER.VALUE'; locUnitReverse=!locUnitReverse">Locataire</a></th>
								<th><a href=""
										ng-click="locUnitPredicate = 'CARACTERISTIQUE.CAR1.VALEUR'; locUnitReverse=!locUnitReverse">Surface (m2)</a></th>
									<th><a href=""
										ng-click="locUnitPredicate = 'DIVERS.REMARQUE'; locUnitReverse=!locUnitReverse">Remarque</a></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="surface in surfaces | orderBy:locUnitPredicate:locUnitReverse">
									<td><a href="/elfin/{{surface.ID_G}}/SURFACE/{{surface.Id}}">Détail</a></td>
									<td><span tooltip="surface.IDENTIFIANT.OBJECTIF">{{surface.IDENTIFIANT.OBJECTIF}}</span></td>
									<td><span tooltip="surface.GROUPE">{{surface.GROUPE}}</span></td>
									<td><span tooltip="surface.PARTENAIRE.USAGER.VALUE">{{surface.PARTENAIRE.USAGER.VALUE}}</span></td>
									<td><span tooltip="surface.CARACTERISTIQUE.CAR1.VALEUR">{{surface.CARACTERISTIQUE.CAR1.VALEUR}}</span></td>
									<td><span tooltip="surface.DIVERS.REMARQUE">{{surface.DIVERS.REMARQUE}}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab> 
		<!-- PRESTATION tab --> 
		<tab> 
			<tab-heading>Prestations({{prestations.length}})</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div ng-show="prestations" class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
								<tr>
									<th colspan="2">
										<div class="input-group">
		
											<div>Prestations en cours</div>
										</div>
									</th>
		
									<th colspan="3">
										<div class="input-group">
		
											<span class="input-group-btn"
												tooltip="Créer un nouveau constat relatif à l'objet courant">
												<a class="btn btn-default" type="button"
												ng-href="/elfin/create/PRESTATION?nocons={{elfin.IDENTIFIANT.NOM}}&sai={{elfin.IDENTIFIANT.OBJECTIF}}">
													<i class="icon-plus-sign"></i> Nouvelle prestation
											</a>
											</span>
		
										</div>
									</th>
									<th colspan="3">
										<div class="input-group"></div>
									</th>
		
								</tr>
								<tr>
									<th>Prestation</th>
									<th><a href=""
										ng-click="prestaPredicate = 'IDENTIFIANT.OBJECTIF'; prestaReverse=!prestaReverse">No
											SAI</a></th>
									<th><a href=""
										ng-click="prestaPredicate = 'IDENTIFIANT.DE'; prestaReverse=!prestaReverse">Année</a></th>
									<th><a href=""
										ng-click="prestaPredicate = 'GROUPE'; prestaReverse=!prestaReverse">Groupe</a></th>
																		<th><a href=""
										ng-click="prestaPredicate = 'IDENTIFIANT.ORIGINE'; prestaReverse=!prestaReverse">Groupe comptable</a></th>
									<th><a href=""
										ng-click="prestaPredicate = 'IDENTIFIANT.VALEUR_A_NEUF'; prestaReverse=!prestaReverse">Budget</a></th>
									<th><a href=""
										ng-click="prestaPredicate = 'DIVERS.REMARQUE'; prestaReverse=!prestaReverse">Remarque</a></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="prestation in prestations | orderBy:prestaPredicate:prestaReverse">
									<td><a
										href="/elfin/{{prestation.ID_G}}/PRESTATION/{{prestation.Id}}">Détail</a></td>
									<td><span tooltip="prestation.IDENTIFIANT.OBJECTIF">{{prestation.IDENTIFIANT.OBJECTIF}}</span></td>
									<td><span tooltip="prestation.IDENTIFIANT.DE">{{prestation.IDENTIFIANT.DE}}</span></td>
									<td><span tooltip="prestation.GROUPE">{{prestation.GROUPE}}</span></td>
									<td><span tooltip=prestation.IDENTIFIANT.ORIGINE>{{prestation.IDENTIFIANT.ORIGINE}}</span></td>
									<td><span tooltip="prestation.IDENTIFIANT.VALEUR_A_NEUF">{{prestation.IDENTIFIANT.VALEUR_A_NEUF}}</span></td>
									<td><span tooltip="prestation.DIVERS.REMARQUE">{{prestation.DIVERS.REMARQUE}}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab> 
		<!-- CONTRAT tab --> 
		<tab>
			<tab-heading>Contrats ({{contrats.length}})</tab-heading>
			<div class="hb-tab">
				<div class="row">
					<div ng-show="contrats" class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
								<tr>
									<th colspan="2">
										<div class="input-group">
		
											<div>Contrats</div>
										</div>
									</th>
		
									<th colspan="3">
										<div class="input-group">
		
											<span class="input-group-btn"
												tooltip="Créer un nouveau constat relatif à l'objet courant">
												<a class="btn btn-default" type="button"
												ng-href="/elfin/create/CONTRAT?sai={{elfin.IDENTIFIANT.OBJECTIF}}">
													<i class="icon-plus-sign"></i> Nouveau contrat
											</a>
											</span>
		
										</div>
									</th>
									<th colspan="3">
										<div class="input-group"></div>
									</th>
		
								</tr>
								<tr>
									<th>Contrat</th>
									<th><a href=""
										ng-click="contractPredicate = 'CARACTERISTIQUE.CAR1.UNITE'; contractReverse=!contractReverse">Prestation
											I</a></th>
									<th><a href=""
										ng-click="contractPredicate = 'CARACTERISTIQUE.CAR1.VALEUR'; contractReverse=!contractReverse">Prestation
											II</a></th>
									<th><a href=""
										ng-click="contractPredicate = 'PARTENAIRE.FOURNISSEUR.VALUE'; contractReverse=!contractReverse">Entreprise</a></th>
									<th><a href=""
										ng-click="contractPredicate = 'IDENTIFIANT.VALEUR'; contractReverse=!contractReverse">Montant</a></th>
								<th><a href=""
										ng-click="contractPredicate = 'GROUPE'; contractReverse=!contractReverse">Groupe</a></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="contrat in contrats | orderBy:contractPredicate:contractReverse">
									<td><a href="/elfin/{{contrat.ID_G}}/CONTRAT/{{contrat.Id}}">Détail</a></td>
									<td><span tooltip="contrat.CARACTERISTIQUE.CAR1.UNITE">{{contrat.CARACTERISTIQUE.CAR1.UNITE}}</span></td>
									<td><span tooltip="contrat.CARACTERISTIQUE.CAR1.VALEUR">{{contrat.CARACTERISTIQUE.CAR1.VALEUR}}</span></td>
									<td><span tooltip="contrat.PARTENAIRE.FOURNISSEUR.VALUE">{{contrat.PARTENAIRE.FOURNISSEUR.VALUE}}</span></td>
									<td><span tooltip="contrat.IDENTIFIANT.VALEUR">{{contrat.IDENTIFIANT.VALEUR}}</span></td>
									<td><span tooltip="contrat.GROUPE">{{contrat.GROUPE}}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab> 
		<!-- EQUIPEMENT tab --> 
		<tab> 
			<tab-heading>Equipement</tab-heading>
			<div class="hb-tab">
				<h5>A faire</h5>
				
			</div>
		</tab> 
	<!-- Annexes tab -->
		<tab> 
			<tab-heading>Annexes ({{(elfin.ANNEXE.RENVOI | annexNoPhototFilter).length}})</tab-heading>
			<div class="hb-tab"><div hb-annexes-component></div></div>
		</tab>		
			<!-- FORME tab -->
		<tab> 
			<tab-heading>Forme</tab-heading>
			<div class="hb-tab"><div hb-forme-component></div></div>
		</tab> 
		
		</tabset>
	</div>
</div>
