
<div class="map-view-wrapper" ng-controller="MapController">
    <leaflet
            class="map-view-leaflet"
            center="center"
            layers="layers"
            markers="markers"
            paths="paths"
    ></leaflet>
    <div class="row">
    <div class="col-xs-12 text-center">
    <button 
    		class="btn btn-default" 
    		tooltip="Focus and zoom to current object"
			ng-click="zoomToCurrentObject()">
			<i class="glyphicon glyphicon-screenshot"></i>
	</button>
	
	<input type="text" ng-model="fleet.name" hb-no-dirty-check></input>
	<input type="text" ng-model="fleet.color" hb-no-dirty-check></input>
    <button 
    		class="btn btn-default" 
    		tooltip="Launch a new fleet"
			ng-click="createFleet(fleet.name, fleet.color)">
			<i class="glyphicon glyphicon-cog"></i>
	</button>
    <button 
    		class="btn btn-default" 
    		tooltip="Test update..."
			ng-click="updateFleet(fleet.name, elfin)">
			<i class="glyphicon glyphicon-cloud"></i>
	</button>
    <button 
    		class="btn btn-default" 
    		tooltip="Shutdown a fleet by its name"
			ng-click="removeFleet(fleet.name)">
			<i class="glyphicon glyphicon-off"></i>
	</button>	
	</div>
	</div>
<!-- 	<div>Current object Id = {{elfin.Id}}</div>								 -->
</div>