
<div class="map-view-wrapper" ng-controller="MapController as mapctl">
    <leaflet
            class="map-view-leaflet"
            center="center"
            layers="layers"
            markers="markers"
            paths="paths"
    ></leaflet>
<!--     <button  -->
<!--     		class="btn btn-default"  -->
<!--     		tooltip="Focus and zoom to current object" -->
<!-- 			ng-click="zoomToCurrentObject()"> -->
<!-- 			<i class="glyphicon glyphicon-screenshot"></i> -->
<!-- 	</button> -->
<!-- Controller AS test -->
<!-- 	<div>Current object Id (in parent controller no in mapctl) = {{elfin.Id}}</div> -->
<!-- 	<div>Map controller test = {{mapctl.test}}</div>								 -->
</div>