
<div class="map-view-wrapper" ng-controller="MapController as mapVm">
    <leaflet
            class="map-view-leaflet"
            center="center"
            layers="layers"
            markers="markers"
            paths="paths"
    ></leaflet>
<!--     <button  -->
<!--     		class="btn btn-default"  -->
<!--     		tooltip="Focus and zoom to current object" -->
<!-- 			ng-click="mapVm.zoomToCurrentObject()"> -->
<!-- 			<i class="glyphicon glyphicon-screenshot"></i> -->
<!-- 	</button> -->
</div>