<div>
<table class="table table-condensed table-bordered table-striped">
	<thead>
		<tr>
			<th>
				<div class="input-group">
					<div>Montant de la commande</div>
				</div>
			</th>
		</tr>
	</thead>
	<tbody ng-show="ngModelCtrl.$modelValue.CARACTERISTIQUE.FRACTION.L.length > 0">
		<tr ng-repeat="line in ngModelCtrl.$modelValue.CARACTERISTIQUE.FRACTION.L">	
			<td>
				<div class="form-group">
					<div class="col-sm-5">
						<div ng-if="line.C[0].VALUE === 'MANUAL_AMOUNT'" class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" tooltip="Supprimer"
									ng-click="removeLine($index)">
									<i class="icon-remove-sign"></i>
								</button>
							</span>
							<input ng-if="line.C[0].VALUE === 'MANUAL_AMOUNT'" type="text" class="form-control" ng-model="line.C[1].VALUE" placeholder="Description..." />
						</div>
						<span ng-if="line.C[0].VALUE !== 'MANUAL_AMOUNT'">{{line.C[1].VALUE}}</span>
					</div>
					<div class="col-sm-2">
<!-- 					<div>line.C[5].VALUE: {{line.C[5].VALUE}}</div> -->
<!-- 					<div>line.C[3].VALUE.length: {{line.C[3].VALUE.length}}</div> -->
<!-- 					<div>line.C[5].VALUE === 'true' &&  line.C[3].VALUE.length > 0 : {{line.C[5].VALUE === 'true' &&  line.C[3].VALUE.length > 0}}</div> -->
					
						<div ng-if="line.C[5].VALUE === 'true' && line.C[3].VALUE.length > 0" class="input-group">
							<input type="text" class="form-control" ng-model="line.C[2].VALUE" />
							<span class="input-group-addon">{{line.C[3].VALUE}}</span>
						</div>
						<input ng-if="line.C[5].VALUE === 'true' && line.C[3].VALUE.length === 0" type="text" class="form-control" ng-model="line.C[2].VALUE" />
						<div ng-if="line.C[5].VALUE === 'false'" ></div>
					</div>
					<div class="col-sm-4 text-right">
						<input ng-if="line.C[0].VALUE === 'MANUAL_AMOUNT'" type="text" class="form-control" style="text-align: right;padding-right:0px;" ng-model="line.C[4].VALUE" >
						<div ng-if="line.C[0].VALUE !== 'MANUAL_AMOUNT'" >{{line.C[4].VALUE}}</div>
					</div>
				</div>	
			</td>
		</tr>	
<!-- 	<tbody ng-show="ngModelCtrl.$modelValue.CARACTERISTIQUE.CARSET.CAR.length > 0"> -->
<!-- 		<tr ng-repeat="line in ngModelCtrl.$modelValue.CARACTERISTIQUE.CARSET.CAR"> -->
<!-- 			<td> -->
<!-- 				<div class="form-group"> -->
<!-- 					<div class="col-sm-6">					 -->
<!-- 						<input type="text" id="lineDesc{$index}" name="lineDesc{$index}" class="form-control" ng-model="line.NOM" placeholder="Description..."> -->
<!-- 					</div> -->
<!-- 					<div class="col-sm-2"> -->
<!-- 						<div id="type" name="type" hb-single-select hb-single-select-options="lineOrderTypeChoices" ng-model="line.UNITE" ></div> -->
<!-- 					</div> -->
<!-- 					<div class="col-sm-4">		 -->
<!-- 					<div class="input-group">					 -->
<!-- 						<input type="text" name="lineAmount{$index}" class="form-control" ng-model="line.VALEUR" placeholder="0.00"> -->
<!-- 						<span class="input-group-btn"> -->
<!-- 							<button class="btn btn-default" tooltip="Supprimer" -->
<!-- 								ng-click="removeLine($index)"> -->
<!-- 								<i class="icon-remove-sign"></i> -->
<!-- 							</button> -->
<!-- 						</span> -->
<!-- 					</div> -->
<!-- 					</div> -->
<!-- 				</div>			 -->
<!-- 			</td> -->
<!-- 		</tr> -->
<!-- 	</tbody> -->
	</table>
</div>