<table class="table table-condensed table-bordered table-striped" >
	<thead>
		<tr>
			<th>
				<div class="col-sm-12" >
					<div class="input-group">
						<div class="col-sm-12" >Montant de la commande 
<!-- 							<button ng-disabled="!editable" ng-show="!hasManualOrderLine" class="btn btn-xs btn-default" tooltip="Ajouter une ligne de commande" -->
<!-- 								ng-click="addLine(0,elfinForm.$valid)"> -->
							<button ng-disabled="!editable"  class="btn btn-xs btn-default" tooltip="Ajouter une ligne de commande"
								ng-click="addLine(0,elfinForm.$valid)">
								<i class="icon-plus-sign"></i>
							</button>
						</div>
					</div>
				</div>
			</th>
		</tr>
	</thead>
	<tbody ng-show="ngModelCtrl.$modelValue.CARACTERISTIQUE.FRACTION.L.length > 0">
		<tr ng-repeat="line in ngModelCtrl.$modelValue.CARACTERISTIQUE.FRACTION.L"  ng-form="lineForm">	
			<td>
				<div class="form-group">
					<div class="col-sm-6">
						<!-- Manual amount entry line -->
						<div ng-if="line.C[0].VALUE === HB_ORDER_LINE_TYPE.MANUAL_AMOUNT" class="input-group">
							<span class="input-group-btn">
								<button ng-disabled="!editable" class="btn btn-default" tooltip="Ajouter"
									ng-click="addLine($index+1,elfinForm.$valid)">
									<i class="icon-plus-sign"></i>
								</button>								
								<button ng-disabled="!editable" class="btn btn-default" tooltip="Supprimer"
									ng-click="removeLine($index,elfinForm.$valid)">
									<i class="icon-remove-sign"></i>
								</button>
							</span>
							<input ng-disabled="!editable" type="text" class="form-control" ng-model="line.C[1].VALUE" placeholder="Description..." />
						</div>
						<!-- Any entry line except manual amount and empty -->
						<div ng-if="!((line.C[0].VALUE === HB_ORDER_LINE_TYPE.MANUAL_AMOUNT) || (line.C[0].VALUE === HB_ORDER_LINE_TYPE.EMPTY))" class="input-group" >
							<span class="input-group-btn">
								<!-- Forbid adding line following tax rate, total net and total net incl. entry lines. -->
								<button ng-disabled="line.C[0].VALUE === HB_ORDER_LINE_TYPE.TAX_RATE || line.C[0].VALUE === HB_ORDER_LINE_TYPE.NET_AMOUNT_TOTAL || line.C[0].VALUE === HB_ORDER_LINE_TYPE.NET_AMOUNT_TOTAL_INCL_TAX || !editable" class="btn btn-default" role="button" tooltip="Ajouter"
									ng-click="addEmptyLine($index+1,elfinForm.$valid)">
									<i class="icon-plus-sign"></i>
								</button>
								<!-- Allow editable lines only deletion. -->								
								<button ng-disabled="!lineLabelEditable(line) || !editable" class="btn btn-default"  role="button" tooltip="Supprimer"
									ng-click="removeLine($index,elfinForm.$valid)">
									<i class="icon-remove-sign"></i>
								</button>
							</span>
							<!-- Allow editable lines only label editing. -->
							<input ng-disabled="!editable" ng-if="lineLabelEditable(line)"  class="form-control" type="text" name="lineLabel" ng-model="line.C[1].VALUE"  />
							<!-- Display non-editable lines label information. -->
							<span  ng-if="!lineLabelEditable(line)" class="form-control-static col-sm-12" ><b>{{line.C[1].VALUE}}</b></span>
						</div>
						<!-- Empty entry line (line type selection a creation time.) -->
						<select ng-if="line.C[0].VALUE === HB_ORDER_LINE_TYPE.EMPTY" class="form-control-static" name="selectedLineType" id="selectedLineType" 
								ng-model="selected.lineType" 
								ng-options="lineType as lineType.C[1].VALUE for lineType in lineTypes track by lineType.C[1].VALUE"
								ng-change="replaceLine($index, selected.lineType, elfinForm.$valid)" 
						>
							<option value=''><i>--Sélectionnez--</i></option>
						</select>
					</div>
					<div class="col-sm-3">
						<!-- For order line with parameter (C(5)=true) and a defined symbol value (C(3)>0 surround input with value sign and symbol. -->
						<div ng-if="line.C[5].VALUE === 'true' && line.C[3].VALUE.length > 0" class="input-group">
							<span class="input-group-addon">
								<span ng-if="isNeg(line.C[2].VALUE)" >-</span>
								<span ng-if="!isNeg(line.C[2].VALUE)" >+</span>							
							</span>
							<input ng-disabled="!editable" type="text" name="orderLineRate" class="form-control" style="text-align: right;padding-right:4px;" ng-model="line.C[2].VALUE" ng-pattern="numericOnlyRegexp" ng-trim='false' autocomplete="off">
							<span class="input-group-addon">{{line.C[3].VALUE}}</span>
						</div>
						<!-- For order line with parameter (C(5)=true) and not defined symbol value (C(3)=0 display standard input. -->
						<input ng-if="line.C[5].VALUE === 'true' && line.C[3].VALUE.length === 0" type="text" name="orderLineRate"  class="form-control" ng-model="line.C[2].VALUE"  ng-pattern="numericOnlyRegexp" ng-trim='false' autocomplete="off">
<!-- 						<div ng-if="line.C[5].VALUE === 'false'" ></div> -->
					</div>
					<div class="col-sm-3 text-right">
						<!-- Entry line with editable amount -->
						<input 
							ng-if="lineValueEditable(line) && editable"
							name="orderLineAmount"
							type="text" 
							class="form-control" 
							style="text-align: right;padding-right:0px;" 
							ng-model="line.C[4].VALUE" 
							ng-pattern="numericOnlyRegexp" 
							ng-trim='false' 
							autocomplete="off"/>
<!-- 						<div ng-if="lineValueEditable(line)" class="input-group"> -->
<!-- 							<span class="input-group-btn"> -->
<!-- 								<button  -->
<!-- 									ng-show="lineForm.orderLineAmount.$dirty"  -->
<!-- 									class="btn btn-default"  -->
<!-- 									ng-click="updateOrderLines(elfinForm.$valid)"> -->
<!-- 									<i class="glyphicon glyphicon-save"></i> -->
<!-- 								</button>								 -->
<!-- 								<button  -->
<!-- 									ng-show="lineForm.orderLineAmount.$pristine"  -->
<!-- 									class="btn btn-default"> -->
<!-- 									<i class="glyphicon glyphicon-saved"></i> -->
<!-- 								</button> -->
<!-- 							</span> -->
<!-- 							<input  -->
<!-- 								name="orderLineAmount" -->
<!-- 								type="text"  -->
<!-- 								class="form-control"  -->
<!-- 								style="text-align: right;padding-right:0px;"  -->
<!-- 								ng-model="line.C[4].VALUE"  -->
<!-- 								ng-pattern="numericOnlyRegexp"  -->
<!-- 								ng-trim='false' > -->
<!-- 						</div> -->
						<!-- Entry line with non editable amount (for instance compute from rate parameter and gross amount...) -->
						<div class="form-control-static" ng-if="!lineValueEditable(line) || !editable" ng-class="amountStyleClass(line)" >{{line.C[4].VALUE}}</div>
					</div>
					<div class="col-sm-6 col-sm-offset-6 text-danger text-right" ng-if="lineForm.orderLineAmount.$error.pattern">Le montant doit être <strong>un nombre</strong> valide!</span></div>
					<div class="col-sm-3 col-sm-offset-6 text-danger text-right" ng-if="lineForm.orderLineRate.$error.pattern">Le taux doit être <strong>un nombre</strong> valide!</span></div>
				</div>	
			</td>
		</tr>
	</tbody>
</table>