<div hb-card-header>
	<!-- Custom validation message to be defined here -->
	<span ng-show="elfinForm.alias.$error.pattern">Le budget doit être <strong>un nombre</strong> valide!</span>
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset><!-- ui.bootstrap AngularJS UI tabset --> <!-- ATTRIBUTS tab -->
		<tab> <tab-heading>Prestation </tab-heading>
		<div class="hb-tab">
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="group" class="col-sm-4 control-label">Groupe</label>
					<div id="group" class="col-sm-8" hb-single-select hb-single-select-options="prestationGroups" ng-model="elfin.GROUPE" ></div>
				</div>
				<div class="form-group col-sm-4">
					<label for="author" class="col-sm-4 control-label">Objectif</label>
					<div class="col-sm-8">
						<input id="author" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.OBJECTIF">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="name" class="col-sm-4 control-label">Responsable</label>
					<div class="col-sm-8">
						<input id="name" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.GER">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="goal" class="col-sm-4 control-label">Groupe
						comptable</label>
					<div class="col-sm-8">
						<input id="goal" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.ORIGINE">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="alias" class="col-sm-4 control-label">Année</label>
					<div class="col-sm-8">
						<input id="alias" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.DE">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="manager" class="col-sm-4 control-label">Propriétaire</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input id="manager" name="manager" type="text"
								class="form-control"
								ng-model="elfin.PARTENAIRE.PROPRIETAIRE.VALUE"
								tooltip="elfin.PARTENAIRE.PROPRIETAIRE.VALUE" required>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"
									ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE)">Choix</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="goal" class="col-sm-4 control-label">Compte</label>
					<div class="col-sm-8">
						<input id="goal" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.COMPTE">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="alias" class="col-sm-4 control-label">Budget</label>
					<div class="col-sm-8">
						<input id="alias" name="alias" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.ALIAS" ng-pattern="numericOnlyRegexp"
							ng-trim='false'>
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="managerName" class="col-sm-4 control-label">Nom
						du propriétaire</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input id="managerName" name="managerName" type="text"
								class="form-control"
								ng-model="elfin.PARTENAIRE.PROPRIETAIRE.NOM"
								tooltip="elfin.PARTENAIRE.PROPRIETAIRE.NOM" required> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button"
									ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE.NOM)">Choix</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-sm-12">
					<table class="table table-condensed table-bordered table-striped">
						<thead>

							<tr>
								<th colspan="2"><a class="btn btn-default" type="button"
									tooltip="Créer une nouvelle transaction relative à l prestation courante"
									ng-href="/elfin/create/TRANSACTION?&sai={{elfin.IDENTIFIANT.OBJECTIF}}">
										<i class="icon-plus-sign"></i>
								</a>Transaction</th>
								<th><a href=""
									ng-click="deadlinePredicate = 'IDENTIFIANT.DE'; deadlineReverse=!deadlineReverse">Date</a></th>
								<th><a href=""
									ng-click="deadlinePredicate = 'PARTENAIRE.FOURNISSEUR.VALUE'; deadlineReverse=!deadlineReverse">Fournisseur</a></th>
								<th><a href=""
									ng-click="deadlinePredicate = 'IDENTIFIANT.VALEUR_A_NEUF'; deadlineReverse=!deadlineReverse">Facturé</a></th>
								<th><a href=""
									ng-click="deadlinePredicate = 'IDENTIFIANT.VALEUR'; deadlineReverse=!deadlineReverse">Payé</a></th>
								<th><a href=""
									ng-click="deadlinePredicate = 'DIVERS.REMARQUE'; deadlineReverse=!deadlineReverse">Remarque</a></th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="transaction in transactions | orderBy:deadlinePredicate:deadlineReverse">
								<td><a
									href="/elfin/{{transaction.ID_G}}/TRANSACTION/{{transaction.Id}}">Détail</a></td>
								<td><a
									href="/elfin/{{transaction.ID_G}}/TRANSACTION/{{transaction.Id}}"><i tooltip="Ouvrir la pièce jointe (voir annexes)" class="glyphicon glyphicon-paperclip"></i></a></td>
								<td><span tooltip="transaction.IDENTIFIANT.DE">{{transaction.IDENTIFIANT.DE}}</span></td>
								<td><span
									tooltip="transaction.PARTENAIRE.PROPRIETAIRE.VALUE">{{transaction.PARTENAIRE.PROPRIETAIRE.VALUE}}</span></td>
								<td><span tooltip="transaction.IDENTIFIANT.VALEUR_A_NEUF">{{transaction.IDENTIFIANT.VALEUR_A_NEUF}}</span></td>
								<td><span tooltip="transaction.IDENTIFIANT.VALEUR">{{transaction.IDENTIFIANT.VALEUR}}</span></td>
								<td><span tooltip="transaction.DIVERS.REMARQUE">{{transaction.DIVERS.REMARQUE}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</tab> 
		</tabset>
	</div>
</div>
