
<table class="table table-condensed table-bordered table-striped"
	ng-show="elfins">
	<thead>
		<tr>
			<th colspan="6"><span class="badge">{{elfinsCount}}</span>
				prestation{{ elfinsCount | plural }} trouvée{{ elfinsCount | plural
				}}</th>
		</tr>
		<!-- 
Groupe
Groupe comptable
Compte

Objectif
Année
Budget

Responsable
Propriétaire
Remarque
		
		 -->
		<tr>
			<th />
			<th>
				<input type="text" class="form-control" ng-model="search.groupe" hb-no-dirty-check placeholder="">			
			Groupe</th>
			<th>Groupe comptable</th>
			<th>Compte</th>
			
			<th>No Prestation</th>
			<th>Année</th>
			<th>Budget</th>
			
			<th>Responsable</th>
			<th>Propriétaire</th>
			<th>Remarque</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="elfin in elfins">
			<td><a
				href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}">Détail</a>
			</td>
			<td>{{elfin.GROUPE}}</td> 
			<td>{{elfin.IDENTIFIANT.ORIGINE}}</td>
			<td>{{elfin.IDENTIFIANT.COMPTE}}</td>
			
			<td>{{elfin.IDENTIFIANT.OBJECTIF}}</td>
			<td>{{elfin.IDENTIFIANT.DE}}</td>
			<td>{{elfin.IDENTIFIANT.VALEUR_A_NEUF}}</td>
						
			<!-- Remark: NOM always empty on tested data replaced by VALUE-->
			<td>{{elfin.PARTENAIRE.GERANT.VALUE}}</td>
			<td>need query</td>
			<td>{{elfin.DIVERS.REMARQUE}}</td>
		</tr>
	</tbody>
</table>
