
<table class="table table-condensed table-bordered table-striped table-hover"
	ng-show="elfins">
	<thead>
		<tr>
			<!-- For some reason class="col-sm-12" does not behave as colspan="12 ! -->
			<td colspan="12" style="vertical-align: middle; text-align: center;">
				<table class="layout" >
						<tr>
							<td style="vertical-align: middle; text-align: center;">
								<div class="col-sm-12">
									<div
									   pagination 
									   total-items="filteredElfins.length" 
									   page="currentPage" 
									   max-size="10" 
									   items-per-page="maxItemsPerPage" 
									   class="pagination-sm" 
									   boundary-links="true" 
									   rotate="false" 
									   num-pages="numPages"
									   on-select-page="pageChanged(page)"
									   previous-text="&lsaquo;"
									   next-text="&rsaquo;"
									   first-text="&laquo;"
									   last-text="&raquo;">				    
								   </div>
								 </div>							
							</td>
							<td style="vertical-align: middle; text-align: center;">
								<div class="col-sm-12">
										<span class="badge">{{filteredElfins.length}}</span> prestation{{ filteredElfins.length | plural }} sélectionée{{ filteredElfins.length | plural}} sur <span class="badge">{{elfinsCount}}</span>
								</div>							
							</td>							
							<td style="vertical-align: middle; text-align: center;">
								<div class="col-sm-12">page: <span ng-bind="currentPage"></span> / <span ng-bind="numPages"></span></div>
							</td>
						</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th rowspan="2"></th>
			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.group" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th class="col-sm-2">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.origin" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.account" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>			
			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.goal" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>		
			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.from" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th class="col-sm-1">
			<!-- Should provide numeric operators to be useful: (< > = ) -->
<!-- 				<div class="form-group"> -->
<!-- 					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;"> -->
<!-- 						<input type="text" class="form-control" ng-model="search.replacementValue" hb-no-dirty-check placeholder=""> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</th>
			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.manager" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
<!-- 			<th class="col-sm-1"> -->
<!-- 				<div class="form-group"> -->
<!-- 					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;"> -->
<!-- 						<input type="text" class="form-control" ng-model="search.owner" hb-no-dirty-check placeholder=""> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</th> -->
			<th class="col-sm-3">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.remark" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
		</tr>
		<tr>
			<th class="col-sm-1">
				<a href="" ng-click="predicate = 'GROUPE'; reverse=!reverse">Groupe</a>
			</th>
			<th class="col-sm-2">
				<a href="" ng-click="predicate = 'IDENTIFIANT.ORIGINE'; reverse=!reverse">Groupe comptable</a>			
			</th>
			<th class="col-sm-1">
				<a href="" ng-click="predicate = 'IDENTIFIANT.COMPTE'; reverse=!reverse">Compte</a></th>
			<th class="col-sm-1">
				<a href="" ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">N° Prestation</a></th>
			<th class="col-sm-1">
				<a href="" ng-click="predicate = 'IDENTIFIANT.DE'; reverse=!reverse">Année</a></th>

			<th class="col-sm-1">
				<a href="" ng-click="predicate = 'IDENTIFIANT.VALEUR_A_NEUF'; reverse=!reverse">Budget</a></th>

			<th class="col-sm-1">
				<a href="" ng-click="predicate = 'PARTENAIRE.GERANT.VALUE'; reverse=!reverse">Responsable</a></th>
<!-- 			<th class="col-sm-1"> -->
<!-- 				<a href="" ng-click="predicate = 'PARTENAIRE.PROPRIETAIRE.VALUE'; reverse=!reverse">Propriétaire</a></th> -->
			<th class="col-sm-3">
				<a href="" ng-click="predicate = 'DIVERS.REMARQUE'; reverse=!reverse">Remarque</a></th>
		</tr>		
		
	</thead>
	<tbody>
<!-- 		<tr ng-repeat="elfin in elfins | prestationListFilter:search | orderBy:predicate:reverse"> -->
		<tr ng-repeat="elfin in currentFilteredElfinPage">
			<td class="col-sm-1">
				<div hb-card-view-link hb-href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}"></div>			
				<a ng-click="save(elfin)">Save</a>
			</td>
			<td class="col-sm-1">
<!-- 				{{elfin.GROUPE}} -->
				<input type="text" class="form-control" ng-model="elfin.GROUPE" hb-no-dirty-check placeholder="">
			</td> 
			<td class="col-sm-2">
<!-- 				{{elfin.IDENTIFIANT.ORIGINE}} -->
				<input type="text" class="form-control" ng-model="elfin.IDENTIFIANT.ORIGINE" hb-no-dirty-check placeholder="">
			</td>
			<td class="col-sm-1">
<!-- 				{{elfin.IDENTIFIANT.COMPTE}} -->
				<input type="text" class="form-control" ng-model="elfin.IDENTIFIANT.COMPTE" hb-no-dirty-check placeholder="">
			</td>
			
			<td class="col-sm-1">
<!-- 				{{elfin.IDENTIFIANT.OBJECTIF}} -->
				<input type="text" class="form-control" ng-model="elfin.IDENTIFIANT.OBJECTIF" hb-no-dirty-check placeholder="">
			</td>
			<td class="col-sm-1">
<!-- 				{{elfin.IDENTIFIANT.DE}} -->
				<input type="text" class="form-control" ng-model="elfin.IDENTIFIANT.DE" hb-no-dirty-check placeholder="">
			</td>
			<td class="col-sm-1">
<!-- 				{{elfin.IDENTIFIANT.VALEUR_A_NEUF}} -->
				<input type="text" class="form-control" ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF" hb-no-dirty-check placeholder="">
			</td>
			<!-- Remark: NOM always empty on tested data replaced by VALUE-->
			<td class="col-sm-1">
<!-- 				{{elfin.PARTENAIRE.GERANT.VALUE}} -->
				<input type="text" class="form-control" ng-model="elfin.PARTENAIRE.GERANT.VALUE" hb-no-dirty-check placeholder="">
			</td>
<!-- 			<td class="col-sm-1">need query</td> -->
			<td class="col-sm-3">
<!-- 				{{elfin.DIVERS.REMARQUE}} -->
				<input type="text" class="form-control" ng-model="elfin.DIVERS.REMARQUE" hb-no-dirty-check placeholder="">
			</td>
		</tr>
	</tbody>
</table>
