<div hb-card-header>
	<!-- Custom validation message to be defined here -->
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset><!-- ui.bootstrap AngularJS UI tabset --> <!-- ATTRIBUTS tab -->
		<tab> <tab-heading>Unité locative <!-- <i class="icon-tag"></i> <b>Attributs</b> -->
		</tab-heading>
			<div class="hb-tab">
			<div class="row">
				<div class="col-sm-6">

					<div class="row">
						<div class="form-group has-feedback"
							>
							<label for="group" class="col-sm-4 control-label">Groupe</label>
							<div class="col-sm-8">
							<div hb-single-select hb-single-select-options="groupeChoices" ng-model="elfin.GROUPE" ></div>
<!-- 								<input id="group" name="group" type="text" class="form-control" -->
<!-- 									ng-model="elfin.GROUPE"> -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group has-feedback"
							>
							<label for="objectif" class="col-sm-4 control-label">Objet</label>
							<div class="col-sm-8">
								<input id="objectif" name="objectif" type="text" class="form-control"
									ng-model="elfin.IDENTIFIANT.OBJECTIF">
							</div>
						</div>
					</div>
						<div class="row">
						<div class="form-group has-feedback"
							>
							<label for="car1_valeur" class="col-sm-4 control-label">Surface
								(m2)</label>
							<div class="col-sm-8">
								<input id="car1_valeur" name="car1_valeur" type="text" class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CAR1.VALEUR">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group has-feedback"
							>
							<label for="car3_valeur" class="col-sm-4 control-label">Etage</label>
							<div class="col-sm-8">
								<input id="car3_valeur" name="car3_valeur" type="text" class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CAR3.VALEUR">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group has-feedback"
							>
							<label for="car5_valeur" class="col-sm-4 control-label">Orientation</label>
							<div class="col-sm-8">
								<input id="car5_valeur" name="car5_valeur" type="text" class="form-control"
									ng-model="elfin.CARACTERISTIQUE.CAR5.VALEUR">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group has-feedback"
							>
							<label for="locataire" class="col-sm-4 control-label">Locataire</label>
							<div class="col-sm-8">
								<input id="locataire" name="locataire" type="text" class="form-control"
									ng-model="elfin.PARTENAIRE.USAGER.VALUE">
							</div>
						</div>
					</div>		
<!-- Need decision whether or not moving to IMMEUBLE owner ref., node reference or text only. -->
<!-- 					<div class="row"> -->
<!-- 						<div class="form-group has-feedback" -->
<!-- 							> -->
<!-- 							<label for="owner" class="col-sm-4 control-label">Propriétaire</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<div class="input-group"> -->
<!-- 									<input id="locataire" name="locataire" type="text" class="form-control" -->
<!-- 										autocomplete="off" -->
<!-- 										typeahead="actor.GROUPE for actor in ownerActors | filter:$viewValue | limitTo:8" -->
<!-- 										ng-model="elfin.PARTENAIRE.PROPRIETAIRE.VALUE" -->
<!-- 										required> -->
<!-- 									<span -->
<!-- 										class="input-group-btn" tooltip="Recherche de propriétaire" tooltip-popup-delay="1500"> -->
<!-- 										<button class="btn btn-default" type="button" hb-choose-one -->
<!-- 											ng-click="hbChooseOne(elfin, 'PARTENAIRE.PROPRIETAIRE.VALUE', ownerActors, 'GROUPE', actorChooseOneColumnsDefinition, actorChooseOneTemplate )"> -->
<!-- 											<i class="glyphicon glyphicon-list-alt"></i> -->
<!-- 										</button> -->
<!-- 									</span> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div>	 -->
				</div>
				<div class="col-sm-6"></div>
			</div>
			</div>
		</tab> <tab> 
			<tab-heading><div hb-annexes-number></div></tab-heading>
			<div class="hb-tab"><div hb-annexes-component></div></div>
		</tab>		
		 </tabset>
	</div>
</div>
