<div hb-card-header>
	<!-- Custom validation message to be defined here -->
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset><!-- ui.bootstrap AngularJS UI tabset --> <!-- Transaction tab -->
		<tab> <tab-heading>Transaction <!-- <i class="icon-tag"></i> <b>Attributs</b> -->
		</tab-heading>
		<div class="form-group ">
			<!-- 1er bloc 2 colonnes de 5 lignes -->
			<!-- 1ere colonne -->
			<div class="col-sm-6">
				<div class="row">
					<label for="groupe" class="col-sm-4 control-label">Groupe</label>
					<div class="col-sm-8">
						<input id="groupe" type="text" class="form-control"
							ng-model="elfin.GROUPE">
					</div>
				</div>
				<div class="row">
					<label for="objectif" class="col-sm-4 control-label">No SAI</label>
					<div class="col-sm-8">
						<input id="objectif" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.OBJECTIF">
					</div>
				</div>
				<div class="row">
					<label for="annee" class="col-sm-4 control-label">Année</label>
					<div class="col-sm-8">
						<input id="annee" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.PAR">
					</div>
				</div>
				<div class="row">
					<label for="date" class="col-sm-4 control-label">Date</label>
					<div class="col-sm-8">
						<input id="date" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.DE">
					</div>
				</div>
				<div class="row">
					<label for="auteur" class="col-sm-4 control-label">Auteur</label>
					<div class="col-sm-8">
						<input id="auteur" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.AUT">
					</div>
				</div>
			</div>

			<!-- 2e colonne -->
			<div class="col-sm-6">
				<div class="row">
					<label for="repartition" class="col-sm-4 control-label">Répartition</label>
					<div class="col-sm-8">
						<input id="repartition" type="text" class="form-control"
							ng-model="elfin.CARACTERISTIQUE.CAR3.VALEUR">
					</div>
				</div>
				<div class="row">
						<label for="type" class="col-sm-4 control-label">Destinataire</label>
							<div class="col-sm-8">
								<input id="alias" name="alias" type="text" class="form-control"
									ng-model="elfin.PARTENAIRE.PROPRIETAIRE.VALUE"
									tooltip="elfin.PARTENAIRE.PROPRIETAIRE.VALUE" required>
							</div>
						</div>
				<div class="row">
					<label for="valeur_a_neuf" class="col-sm-4 control-label">Facturé</label>
					<div class="col-sm-8">
						<input id="valeur_a_neuf" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF">
					</div>
				</div>
				<div class="row">
					<label for="valeur" class="col-sm-4 control-label">Somme
						payée</label>
					<div class="col-sm-8">
						<input id="valeur" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.VALEUR">
					</div>
				</div>
				<div class="row">
					<label for="source" class="col-sm-4 control-label">Compte</label>
					<div class="col-sm-8">
						<input id="source" type="text" class="form-control"
							ng-model="elfin.IDENTIFIANT.COMPTE">
					</div>
				</div>
			</div>
		</div>
		</tab> </tabset>
	</div>
</div>
