<div hb-card-header>
	<!-- Custom validation message to be defined here -->
	<span ng-show="elfinForm.manager.$error.required">Le champs <strong>Propriétaire</strong> est obligatoire!</span>
	<span ng-show="elfinForm.destinataire.$error.required">Le champs <strong>Destinataire</strong> est obligatoire!</span>
</div>

<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset><!-- ui.bootstrap AngularJS UI tabset --> <!-- Transaction tab -->
		<tab> <tab-heading>Transaction <!-- <i class="icon-tag"></i> <b>Attributs</b> -->
		</tab-heading>
		<div class="hb-tab">
		<div class="form-group ">
			<!-- 1er bloc 2 colonnes de 5 lignes -->
			<!-- 1ere colonne -->
			<div class="col-sm-6">
					
				<div class="form-group has-feedback" ng-class="getCssHasFeedback(elfinForm.manager)">
					<label for="manager" class="col-sm-4 control-label">Propriétaire</label>
					<div class="col-sm-8">
						<div 
							hb-choose-actor 
							hb-choose-actor-id-name="manager" 
							hb-choose-actor-elfin-form="elfinForm"
							hb-choose-actor-model="searchOwner"
							hb-choose-actor-tooltip="Recherche de propriétaire"
							hb-choose-actor-role="Propriétaire"
							></div>
					</div>
				</div>
			
				<div class="form-group">
					<label for="objectif" class="col-sm-4 control-label">No SAI prestation</label>
					<p class="col-sm-8 form-control-static">{{elfin.IDENTIFIANT.OBJECTIF}}</p>
				</div>
				<div class="form-group">
					<label for="groupe" class="col-sm-4 control-label">Groupe Prestation</label>
					<p class="col-sm-8 form-control-static">{{elfin.CARACTERISTIQUE.CAR1.UNITE}}</p>
				</div>
				<div class="form-group">
					<label for="annee" class="col-sm-4 control-label">Année</label>
					<p class="col-sm-8 form-control-static">{{elfin.IDENTIFIANT.PAR}}</p>
				</div>
				<div class="form-group">
					<label for="source" class="col-sm-4 control-label">Compte</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{elfin.IDENTIFIANT.COMPTE}}</p>
					</div>
				</div>
			</div>

			<!-- 2e colonne -->
			<div class="col-sm-6">
				<div class="form-group">
					<label for="dateFrom" class="col-sm-4 control-label">Date</label>
					<div class="col-sm-4">
<!-- 						<input id="dateFrom" type="text" class="form-control" -->
<!-- 							ng-model="elfin.IDENTIFIANT.DE" > -->
						<div hb-date id="dateFrom" name="dateFrom"
								ng-model="elfin.IDENTIFIANT.DE"></div>							
					</div>
					<label for="auteur" class="col-sm-2 control-label">Auteur</label>
					<div class="col-sm-2">
						<p class="form-control-static">{{elfin.IDENTIFIANT.AUT}}</p>
					</div>
				</div>			

				<div class="form-group">				
					<label for="repartition" class="col-sm-4 control-label">Répartition</label>
					<div class="col-sm-8">
						<input id="repartition" type="text" class="form-control"
							autocomplete="off"
							typeahead="repartition.name as repartition.value for repartition in repartitions | filter:$viewValue | limitTo:8" 
							ng-model="elfin.CARACTERISTIQUE.CAR3.VALEUR" >
					</div>
				</div>

				<div class="form-group">
					<label for="type" class="col-sm-4 control-label">Destinataire</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input id="destinataire" name="destinataire" type="text" class="form-control"
								autocomplete="off"
								typeahead="actor.GROUPE for actor in entrepriseActors | filter:$viewValue | limitTo:8"
								ng-model="elfin.PARTENAIRE.PROPRIETAIRE.VALUE"
								required>
								<span
								class="input-group-btn" tooltip="Recherche d'entreprise"
								 >
								<button class="btn btn-default" type="button" hb-choose-one
									ng-click="hbChooseOne(elfin, 'PARTENAIRE.PROPRIETAIRE.VALUE', entrepriseActors, 'GROUPE', actorChooseOneColumnsDefinition, actorChooseOneTemplate )">
									<i class="glyphicon glyphicon-list-alt"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="valeur_a_neuf" class="col-sm-4 control-label">Facturé</label>
					<div class="col-sm-3">
						<input id="valeur_a_neuf" type="number" class="form-control" ng-blur="copyValeur_a_Neuf2Valeur(elfin.IDENTIFIANT.VALEUR_A_NEUF)"
							ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF" >
					</div>
					<label for="valeur" class="col-sm-2 control-label">Payé</label>
					<div class="col-sm-3">
						<input id="valeur" type="number" class="form-control"
							ng-model="elfin.IDENTIFIANT.VALEUR" >
					</div>
				</div>
				<div class="form-group">
					<label for="groupe" class="col-sm-4 control-label">Groupe Transaction</label>
					<div class="col-sm-8">
						<select id="groupe" name="groupe" class="form-control" chosen
							data-placeholder=" " disable-search="false"
							allow-single-deselect="true"
							ng-model="elfin.GROUPE"
							ng-options="transactionType.name as transactionType.value for transactionType in transactionTypes">
							<option value=''></option>
						</select>							
					</div>
				</div>	
			</div>
		</div>
		</div>
		</tab>
		<!-- Annexes tab -->
		<tab> 
			<tab-heading><div hb-annexes-number></div></tab-heading>
			<div class="hb-tab"><div hb-annexes-component></div></div>
		</tab>		
		 </tabset>
	</div>
</div>
