<table class="table table-condensed table-bordered table-striped"
	ng-show="elfins">
	<thead>
		<tr>
			<th colspan="12"><span class="badge">{{filteredElfins.length}} / {{elfinsCount}}</span> unité{{ elfinsCount | plural }} locative{{ elfinsCount | plural }} trouvée{{ elfinsCount | plural
				}}</th>
		</tr>
		<tr>
			<th rowspan="3" class="col-sm-1" />
			<th colspan="11">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input id="globalSearchField" name="globalSearchField" type="text" class="form-control" ng-model="search.text" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
		</tr>
		<tr>
			<th class="col-sm-1">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.registerNb" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th class="col-sm-4">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.address" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th class="col-sm-4">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.tenant" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
			<th class="col-sm-2">
				<div class="form-group">
					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;">
						<input type="text" class="form-control" ng-model="search.owner" hb-no-dirty-check placeholder="">
					</div>
				</div>
			</th>
	<!-- 			<th class="col-sm-3"> -->
	<!-- 				<div class="form-group"> -->
	<!-- 					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;"> -->
	<!-- 						<input type="text" class="form-control" ng-model="search.place" hb-no-dirty-check placeholder=""> -->
	<!-- 					</div> -->
	<!-- 				</div> -->
	<!-- 			</th>			 -->
	<!-- 			<th class="col-sm-2"> -->
	<!-- 				<div class="form-group"> -->
	<!-- 					<div class="col-sm-12" style="padding-left: 0; padding-right: 0;padding-top: 0;"> -->
	<!-- 						<input type="text" class="form-control" ng-model="search.buildingNb" hb-no-dirty-check placeholder=""> -->
	<!-- 					</div> -->
	<!-- 				</div> -->
	<!-- 			</th>	 -->
		</tr>
		<tr>
			<th class="col-sm-1">
				<a href="" ng-click="predicate = 'IDENTIFIANT.OBJECTIF'; reverse=!reverse">N° de gérance</a>			
			</th>
			<th class="col-sm-4">
				<a href="" ng-click="predicate = 'IDENTIFIANT.ALIAS'; reverse=!reverse">Adresse</a>
			</th>
			<th class="col-sm-4">
				<a href="" ng-click="predicate = 'PARTENAIRE.USAGER.VALUE'; reverse=!reverse">Locataire</a>
			</th>
			<th class="col-sm-2">
				<a href="" ng-click="predicate = 'PARTENAIRE.PROPRIETAIRE.VALUE'; reverse=!reverse">Propriétaire</a>
			</th>

	<!-- 			<th class="col-sm-3"> -->
	<!-- 				<a href="" ng-click="predicate = 'CARACTERISTIQUE.CARSET.CAR[0].VALEUR'; reverse=!reverse">Lieu-dit</a></th> -->
	<!-- 			<th class="col-sm-2"> -->
	<!-- 				<a href="" ng-click="predicate = 'IDENTIFIANT.NOM'; reverse=!reverse">N° de construction</a></th> -->
		</tr>
	</thead>		
	<tbody>
		<tr ng-repeat="elfin in filteredElfins">
			<td>
				<div hb-card-view-link hb-href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}"></div>
			</td>
			<!-- Remark: always empty on tested data -->
			<!-- <td>{{elfin.GROUPE}}</td>  -->
			<!-- Remark: NOM always empty on tested data replaced by VALUE-->
			<td>{{elfin.IDENTIFIANT.OBJECTIF}}</td>
			<td>{{getAddress(elfin.IDENTIFIANT.ORIGINE)}}</td>
			<td>{{elfin.PARTENAIRE.USAGER.VALUE}}</td>			
			<td>{{elfin.PARTENAIRE.PROPRIETAIRE.VALUE}}</td>
	<!-- 				<td>{{elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR}}</td> -->
	<!-- 				<td>{{elfin.IDENTIFIANT.NOM}}</td> -->
		</tr>
	</tbody>
</table>