
<div hb-card-header>
	<!-- Custom validation message to be defined here -->
	<span ng-show="elfinForm.username.$error.required" >Le champs <strong>Nom d'utilisateur</strong> est obligatoire!</span>
	<span ng-show="elfinForm.collaborator_name.$error.required" >Un <strong>collaborateur</strong> doit obligatoirement être associé à un compte utilisateur</span>
	<span ng-show="elfinForm.collaborator_email.$error.required" >Le <strong>collaborateur</strong> associé au compte utilisateur doit avoir un <strong>Email</strong> défini</span>
	<span ng-show="elfinForm.collaborator_email.$error.email" >Le <strong>collaborateur</strong> associé au compte utilisateur doit avoir un <strong>Email</strong> valide</span>
	
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset> <!-- USER tab --> <tab> <tab-heading>Identifications</tab-heading>
		<div class="hb-tab">
			<div class="form-group" >
					<span class="has-feedback"
							ng-class="getCssHasFeedback(elfinForm.nom)">
						<label for="username" class="col-sm-1 control-label">Nom d'utilisateur</label>
						<div class="col-sm-3">
							<input id="username" name="username" type="text" class="form-control"
								ng-model="elfin.IDENTIFIANT.NOM" required
								tooltip="elfin.IDENTIFIANT.NOM">
						</div>
					</span>			
					<span class="has-feedback"
						ng-class="getCssHasFeedback(elfinForm.dateFrom)">
						<label for="date_valid_from" class="col-sm-1 control-label">Valide du</label>
						<div class="col-sm-3">
							<div hb-date id="date_valid_from" name="dateFrom"
								ng-model="elfin.IDENTIFIANT.DE" ></div>
						</div>
					</span>
					<span class="has-feedback"
						ng-class="getCssHasFeedback(elfinForm.dateTo)">
						<label for="date_valid_to" class="col-sm-1 control-label">au</label>
						<div class="col-sm-3">
							<div hb-date id="date_valid_to" name="dateTo"
								ng-model="elfin.IDENTIFIANT.A"></div>
						</div>
					</span>
			</div>
			<div class="form-group">
				<span class="has-feedback">
					<div class="col-sm-12">
						<h4>Roles</h4>
						<pre>{{availableRolesCheckboxModel}}</pre>
						<div class="btn-group">
<!-- 							<label name="keyword{$index}" ng-repeat="availableRole in availableRolesCheckboxModel" class="btn btn-primary" ng-model="availableRole.state"  -->
<!-- 								btn-checkbox >{{availableRole.name}}</label> -->
							<button ng-click="updateUserRoles()" name="keyword{$index}" ng-repeat="availableRole in availableRolesCheckboxModel" class="btn btn-primary" ng-model="availableRole.state" 
								btn-checkbox>{{availableRole.name}}</button> 								 
						</div>
					</div>
				</span>
			</div>
		</div>
		</tab> 
		<tab>
			<tab-heading>Collaborateur</tab-heading>
			<div class="hb-tab" >
				<div class="form-group">
					<label for="nom" class="col-sm-2 control-label">Nom de
						famille</label>
					<div class="col-sm-3">
						<div class="input-group">
							<input id="collaborator_name" type="text" class="form-control" ng-model="selected.collaborator.IDENTIFIANT.NOM" ng-readonly="true" ng-required="true">
							<span class="input-group-btn" tooltip="Recherche de collaborateur">
								<button class="btn btn-default" type="button"
									hb-choose-collaborator
									ng-click="hbChooseCollaborator(selected, 'collaborator')"
									><i class="icon-search" ></i></button>
							</span>
						</div>		
					</div>
				</div>
				<div class="form-group">
					<label for="collaborator_surname" class="col-sm-2 control-label">Prénom</label>
					<div class="col-sm-3">
						<input id="collaborator_surname" type="text" class="form-control" ng-model="selected.collaborator.IDENTIFIANT.ALIAS" ng-readonly="true">
<!-- 						<div class="input-group"> -->
<!-- 							<input id="collaborator_surname" type="text" class="form-control" ng-model="selected.collaborator.IDENTIFIANT.ALIAS" ng-readonly="true"> -->
<!-- 							<span class="input-group-btn" tooltip="Recherche de collaborateur"> -->
<!-- 								<button class="btn btn-default" type="button" -->
<!-- 									hb-choose-collaborator -->
<!-- 									ng-click="hbChooseCollaborator(selected, 'collaborator')" -->
<!-- 									><i class="icon-search" ></i></button> -->
<!-- 							</span> -->
<!-- 						</div>									 -->
					</div>
				</div>
				<div class="form-group">
					<label for="collaborator_group" class="col-sm-2 control-label">Abréviation</label>
					<div class="col-sm-3">
						<input id="collaborator_group" type="text" class="form-control" ng-model="selected.collaborator.GROUPE" ng-readonly="true">
<!-- 						<div class="input-group"> -->
<!-- 							<input id="collaborator_group" type="text" class="form-control" ng-model="selected.collaborator.GROUPE" ng-readonly="true"> -->
<!-- 							<span class="input-group-btn" tooltip="Recherche de collaborateur"> -->
<!-- 								<button class="btn btn-default" type="button" -->
<!-- 									hb-choose-collaborator -->
<!-- 									ng-click="hbChooseCollaborator(selected, 'collaborator')" -->
<!-- 									><i class="icon-search" ></i></button> -->
<!-- 							</span> -->
<!-- 						</div>		 -->
					</div>
				</div>
				<div class="form-group">
					<label for="collaborator_tel" class="col-sm-2 control-label">Téléphone</label>
					<div class="col-sm-3">
						<input id="collaborator_tel" type="text" class="form-control"
							ng-model="selected.collaborator.CARACTERISTIQUE.CAR4.VALEUR"
							ng-readonly="true">
					</div>
				</div>
				<div class="form-group">
					<label for="collaborator_email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-3">
						<input id="collaborator_email" name="collaborator_email" type="email" class="form-control"
							ng-model="selected.collaborator.CARACTERISTIQUE.CAR5.VALEUR"
							ng-readonly="true" ng-required="true">
					</div>
				</div>			
			</div>		
		</tab>
		<tab>
			<tab-heading>Modifier le mot de passe</tab-heading>
			<div class="hb-tab">
				<!-- Password change must be done in a popup and only upon user request.  -->				 
				<div class="form-group">
					<label for="pwd1" class="col-sm-1 control-label">Mot de
						passe</label>
					<div class="col-sm-3">
						<input id="pwd1" type="password" class="form-control"
							ng-model="pwd1" hb-no-dirty-check>
					</div>
				</div>
				<div class="form-group">
					<label for="pwd2" class="col-sm-1 control-label">Répétez le
						mot de passe</label>
					<div class="col-sm-3">
						<input id="pwd2" type="password" class="form-control"
							ng-model="pwd2" hb-no-dirty-check>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<button class="btn btn-default" ng-click="hash(pwd1)">
							<span>Mettre à jour</span>
<!-- 							<i class="icon-save"></i> -->
						</button>
					</div>
				</div>			
			</div>		
		</tab>		
		</tabset>
	</div>
</div>