
<div hb-card-header>
	<!-- Custom validation message to be defined here -->
</div>
<div class="row" style="padding-top: 8px;">
	<div class="col-xs-12">
		<tabset> <!-- USER tab --> <tab> <tab-heading>Identifications</tab-heading>
		<div class="hb-tab">
			<div class="form-group" >
					<span class="has-feedback"
							ng-class="getCssHasFeedback(elfinForm.nom)">
						<label for="nom" class="col-sm-1 control-label">Nom</label>
						<div class="col-sm-3">
							<input id="nom" name="nom" type="text" class="form-control"
								ng-model="elfin.IDENTIFIANT.NOM" required
								tooltip="elfin.IDENTIFIANT.NOM">
						</div>
					</span>			
<!-- 					<span class="has-feedback" -->
<!-- 						ng-class="getCssHasFeedback(elfinForm.dateFrom)"> -->
					<span>
						<label for="date_valid_from" class="col-sm-1 control-label">Valide du</label>
						<div class="col-sm-3">
							<div hb-date id="date_valid_from" name="dateFrom"
								ng-model="elfin.IDENTIFIANT.DE" ></div>
						</div>
					</span>
					<span class="has-feedback"
						ng-class="getCssHasFeedback(elfinForm.dateTo)">
<!-- 					<span> -->
						<label for="date_valid_to" class="col-sm-1 control-label">au</label>
						<div class="col-sm-3">
							<div hb-date id="date_valid_to" name="dateTo"
								ng-model="elfin.IDENTIFIANT.A"></div>
						</div>
					</span>
			</div>					
			<div class="form-group">
				<label for="author" class="col-sm-1 control-label">Acteur</label>
				<div class="col-sm-3"> 
					<div class="input-group">
						<input id="author" type="text" class="form-control" autocomplete="off"
						typeahead="actor.IDENTIFIANT.NOM for actor in collaboratorActors | filter:$viewValue | limitTo:8" 
						ng-model="collaboratorActor.IDENTIFIANT.NOM" tooltip="collaboratorActor.IDENTIFIANT.NOM"> 
						<span class="input-group-btn" tooltip="Recherche de collaborateur">
							<button class="btn btn-default" type="button"
								hb-choose-one
								ng-click="hbChooseOne(collaboratorActor, 'IDENTIFIANT.NOM', collaboratorActors, 'GROUPE', actorChooseOneColumnsDefinition, actorChooseOneTemplate )"
								><i class="icon-search" ></i></button>
						</span>
					</div>							
				</div>
				
			<span class="has-feedback">
				<label for="role" class="col-sm-1 control-label">Rôle</label>
				<div class="col-sm-3">

					<div class="btn-group">
						<label uncheckable ng-repeat="statusType in qualiteList"
							class="btn btn-default" ng-model="elfin.IDENTIFIANT.QUALITE"
							btn-radio="statusType.value">{{statusType}}</label>
					</div>

				</div>
			</span>				
				
				
<!-- Password change must be done in a popup and only upon user request. -->				 
<!-- 			</div>					 -->
<!-- 				<div class="form-group"> -->
<!-- 					<label for="pwd1" class="col-sm-1 control-label">Mot de -->
<!-- 						passe</label> -->
<!-- 					<div class="col-sm-3"> -->
<!-- 						<input id="pwd1" type="password" class="form-control" -->
<!-- 							ng-model="pwd1" required> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="form-group"> -->
<!-- 					<label for="pwd2" class="col-sm-1 control-label">Répétez le -->
<!-- 						mot de passe</label> -->
<!-- 					<div class="col-sm-3"> -->
<!-- 						<input id="pwd2" type="password" class="form-control" -->
<!-- 							ng-model="pwd2" > -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="form-group"> -->
<!-- 					<div class="col-sm-4"> -->
<!-- 						<button class="btn btn-default" ng-click="hash(pwd1)"> -->
<!-- 							<i class="icon-save"></i> -->
<!-- 						</button> -->
<!-- 					</div> -->
<!-- 				</div> -->


			<!-- 				<div class="form-group"> -->
			<!-- 					<label for="societe" class="col-sm-2 control-label">Société</label> -->
			<!-- 					<div class="col-sm-10"> -->
			<!-- 						<input id="societe" type="text" class="form-control" -->
			<!-- 							ng-model="elfin.GROUPE" tooltip="elfin.GROUPE"> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<!-- 				<div class="form-group"> -->
			<!-- 					<label for="tel" class="col-sm-2 control-label">Téléphone</label> -->
			<!-- 					<div class="col-sm-10"> -->
			<!-- 						<input id="tel" type="text" class="form-control" -->
			<!-- 							ng-model="elfin.CARACTERISTIQUE.CAR4.VALEUR" -->
			<!-- 							tooltip="elfin.CARACTERISTIQUE.CAR4.VALEUR"> -->
			<!-- 					</div> -->
			<!-- 				</div> -->

		</div>
		</tab> </tabset>
	</div>
</div>