<div class="card clearfix">
    <!-- Error -->
    <div ng-show="errorMessage" class="notice error"><i class="icon-remove-sign icon-large"></i> {{errorMessage}}</div>
    <!-- Info TODO: should disappear after n seconds: built in with ngStrap alert. -->
    <div ng-show="statusMessage" class="notice info"><i class="icon-info-sign icon-large"></i> {{statusMessage}}</div>

    <div ng-show="!elfin && !errorMessage">
        <h3>Chargement des informations</h3>
        <div class="loading"></div>
    </div>

    <div ng-show="elfin">
    <form name="elfinForm" class="vertical" novalidate> <!--  novalidate prevents HTML5 automated validation  -->
        <div class="col_8">
            <ul class="button-bar ">            
                <li><a ng-click="putElfin(elfin)" href=""><i class="icon-save"></i></a></li>
                <li><a ng-click="reset()" href=""><i class="icon-copy"></i></a></li>
                <li><a ng-click="delElfin(elfin)" href=""><i class="icon-trash"></i></a></li>
                <li><a href=""><i class="icon-paper-clip"></i></a></li>
                <li><a href=""><i class="icon-map-marker"></i></a></li>
                <li><a href=""><i class="icon-print"></i></a></li>
                <li><a href=""><i class="icon-cogs"></i></a></li>
                <li><a href=""><i class="icon-folder-open"></i></a></li>
            </ul>
        </div>

        <div class="col_4 right">
            <i class="icon-tag"></i> {{elfin.CLASSE}}<br/>
            <i class="icon-folder-close"></i> {{elfin.ID_G}}<br/>
            <i class="icon-file"></i> {{elfin.Id}}
        </div>
        <div class="clear"></div>

        <div class="col_12">
            <tabset>
 
                <tab heading="Immeuble">
                    <div class="col_4">
<!--                         <form class="vertical"> -->
                            <label for="goal">Numéro de gérance</label>
                            <input id="goal" type="text" ng-model="elfin.IDENTIFIANT.OBJECTIF" tooltip="elfin.IDENTIFIANT.OBJECTIF">

                            <label for="author">Numéro ECAP</label>
                            <input id="author" type="text" ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR" tooltip="elfin.CARACTERISTIQUE.CARSET.CAR[2].VALEUR">

                            <label for="name">N° de construction</label>
                            <input id="name" type="text" ng-model="elfin.IDENTIFIANT.NOM" tooltip="elfin.IDENTIFIANT.NOM">

                            <label for="address">Adresse</label>
                            <input id="address" type="text" ng-model="elfin.IDENTIFIANT.ALIAS" tooltip="elfin.IDENTIFIANT.ALIAS">
                            
                            <label for="address">Numéro cadastral</label>
                            <input id="address" type="text" ng-model="elfin.CARACTERISTIQUE.CAR4.VALEUR" tooltip="elfin.CARACTERISTIQUE.CAR4.VALEUR">
                            
<!-- 							<label for="address">Lieu-dit</label> -->
<!--                             <input id="address" type="text" ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR"> -->
                            
<!-- 							<label for="address">Remarque</label> -->
<!--                             <input id="address" type="text" size="" ng-model="elfin.DIVERS.REMARQUE"> -->

<!-- centreDeFrais = elfin.IDENTIFIANT.OBJECTIF = Numéro de gérance !? -->

<!-- PARTENAIRE/PROPRIETAIRE/@NOM -->

<!-- elfin.PARTENAIRE['PROPRIETAIRE'].NOM  -->

<!--                             <label for="author">Auteur</label> -->
<!--                             <input id="author" type="text" ng-model="elfin.IDENTIFIANT.AUT"> -->

<!--                             <label for="from">De</label> -->
<!--                             <input id="from" type="text" ng-model="elfin.IDENTIFIANT.DE"> -->

<!--                             <label for="value_new">Valeur à neuf</label> -->
<!--                             <input id="value_new" type="text" ng-model="elfin.IDENTIFIANT.VALEUR_A_NEUF"> -->
<!--                         </form> -->
                    </div>

                    <div class="col_6">
                            <label for="manager" >Propriétaire</label>
                            <input id="manager" type="text" ng-model="elfin.PARTENAIRE.PROPRIETAIRE.VALUE" tooltip="elfin.PARTENAIRE.PROPRIETAIRE.VALUE">
                            <label for="managerName">Nom du propriétaire</label>
                            <input id="managerName" type="text" ng-model="elfin.PARTENAIRE.PROPRIETAIRE.NOM" tooltip="elfin.PARTENAIRE.PROPRIETAIRE.NOM">

                            <label for="alias">Architecte</label>
                            <input id="alias" type="text" ng-model="elfin.PARTENAIRE.FOURNISSEUR.VALUE" tooltip="elfin.PARTENAIRE.FOURNISSEUR.VALUE">

<!--                             <label for="quality">Gérant ?</label> -->
<!--                             <input id="quality" type="text" ng-model="elfin.PARTENAIRE.GERANT.VALUE"> -->

<!--                             <label for="to">A</label> -->
<!--                             <input id="to" type="text" ng-model="elfin.IDENTIFIANT.A"> -->

<!--                             <label for="value">Valeur</label> -->
<!--                             <input id="value" type="text" ng-model="elfin.IDENTIFIANT.VALEUR"> -->
<!--                         </form> -->
                    </div>
                    
                    <div class="col_2">
	                    <div class="btn-group-xs btn-group-justified">
							<a class="btn btn-default" ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE)" ><span class="icon-plus-sign" ></span>Choix</a>
	  						<a class="btn btn-default" ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE.NOM)" ><span class="icon-plus-sign" ></span>Choix</a>	                    
<!-- 							<button type="button" class="btn btn-default" ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE')" ><span class="icon-plus-sign" ></span>Choix</button> -->
<!-- 	  						<button type="button" class="btn btn-default" ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE.NOM')" ><span class="icon-plus-sign" ></span>Choix</button> -->
						</div>
<!--                         <ul class="button-bar"> -->
<!--                             <li><a ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE')"><i class="icon-plus-sign"></i> Choix</a></li> -->
<!--                             <li>{{elfin.PARTENAIRE.PROPRIETAIRE.NOM}}</li> -->
<!--                             <li><a ng-click="choosePopup(elfin, elfin.CLASSE, elfin.PARTENAIRE.PROPRIETAIRE.NOM')"><i class="icon-plus-sign"></i> Choix</a></li> -->
<!--                         </ul> -->
                    </div>                    

<!--                     <div class="col_4"> -->
<!--                         <form class="vertical"> -->
<!--                             <label for="responsible">Responsable</label> -->
<!--                             <input id="responsible" type="text" ng-model="elfin.IDENTIFIANT.RES"> -->

<!--                             <label for="origin">Origine</label> -->
<!--                             <input id="origin" type="text" ng-model="elfin.IDENTIFIANT.ORIGINE"> -->

<!--                             <label for="account">Compte</label> -->
<!--                             <input id="account" type="text" ng-model="elfin.IDENTIFIANT.COMPTE"> -->

<!--                             <label for="by">Par</label> -->
<!--                             <input id="by" type="text" ng-model="elfin.IDENTIFIANT.PAR"> -->
<!--                         </form> -->
<!--                     </div> -->

                    <div class="clear"></div>

                    <div class="col_12">
<!--                         <form class="vertical"> -->
							<label for="address">Lieu-dit</label>
                            <input id="address" type="text" ng-model="elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR" tooltip="elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR">
                            
							<label for="address">Remarque</label>
                            <input id="address" type="text" ng-model="elfin.DIVERS.REMARQUE" tooltip="elfin.DIVERS.REMARQUE">
<!--                         </form> -->
                    </div>

                    <div class="clear"></div>

                    <div class="col_8">
                        <h5>Mots clés</h5>
                    </div>
                    <div class="col_4 right">
                        <ul class="button-bar">
                            <li><a ng-click="addRow(elfin, 'IDENTIFIANT.MOTCLE', { VALUE: 'Nouveau mot clé...' })"><i class="icon-plus-sign"></i> Nouveau</a></li>
                        </ul>
                    </div>

                    <div class="col_12">
<!--                         <form class="vertical"> -->
                            <table class="striped tight sortable">
                                <thead>
                                <tr>
                                    <th>Mot clé</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tr ng-repeat="motcle in elfin.IDENTIFIANT.MOTCLE">
                                    <td><input type="text" ng-model="motcle.VALUE" tooltip="elfin.IDENTIFIANT.MOTCLE"></td>
                                    <td class="right"><a ng-click="removeKeyword($index)"><i class="icon-remove-sign"></i></a></td>
                                </tr>
                            </table>
<!--                         </form> -->
                    </div>
                </tab> 
 
                 <!-- SURFACE -->

                <tab heading="Surfaces locatives"></tab>
 
                 <!-- PRESTATION -->
                <tab heading="Prestations">
                    <table class="striped tight sortable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Utilisateur</th>
                                <th>Rôle</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="mutation in elfin.MUTATIONS">
                            <td>{{mutation.DATE}}</td>
                            <td>{{mutation.UTILISATEUR}}</td>
                            <td>{{mutation.ROLE}}</td>
                        </tr>
                    </table>
                </tab>
 
 
                <!-- CONTRAT -->
                <tab heading="Contrats">
                    <div class="col_4">
                        <h5>Attributs</h5>
<!--                         <form class="vertical"> -->
                            <label for="groupe">Groupe</label>
                            <input id="groupe" type="text" ng-model="elfin.GROUPE">

                            <label for="type">Type</label>
                            <select id="type" chosen  data-placeholder="Choisir un type" ng-model="elfin.TYPE"
                                    ng-options="value as label for (value, label) in elfinTypes">
                            </select>

                            <label for="nature">Nature</label>
                            <input id="nature" type="text" ng-model="elfin.NATURE">
                            <label for="source">Source</label>
                            <input id="source" type="text" ng-model="elfin.SOURCE">
<!--                         </form> -->
                    </div>
                </tab>

                <!-- EQUIPEMENT -->
                <tab heading="Equipement">
                    <h5>Centroïdes</h5>

                    <table class="striped tight sortable">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Xm</th>
                            <th>Ym</th>
                            <th>Zm</th>
                            <th>Rm</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="centroide in elfin.GEOSELECTION.CENTROIDE">
                            <td>
                                <select chosen  data-placeholder="Choisir un type" ng-model="centroide.TYPE"
                                        ng-options="value as label for (value, label) in typeTypes">
                                </select>
                            </td>
                            <td><input type="text" ng-model="centroide.XM"></td>
                            <td><input type="text" ng-model="centroide.YM"></td>
                            <td><input type="text" ng-model="centroide.ZM"></td>
                            <td><input type="text" ng-model="centroide.RM"></td>
                        </tr>
                    </table>

                </tab>
            </tabset>
        </div>
</form>
    </div>

</div>

<div>
    <script type="text/ng-template" id="defaultUploadFileModalPanel.html">
        <div class="modal-header">
            <h3>Téléverser un document</h3>
        </div>
        <div class="modal-body">
            <form action="/uploads" ng-upload="complete(content)">
                <input type="file" name="attachment"></input>
                <input type="submit" value="Téléverser" ng-disabled="$isLoading"></input>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Fermer</button>
        </div>
    </script>
</div>




<div>
    <script type="text/ng-template" id="deleteConfirmModalPanel.html">
        <div class="modal-header">
            <h3>Supprimer un objet</h3>
        </div>
        <div class="modal-body">
			Voulez-vous vraiment supprimer définitivement l'objet {{elfin.CLASSE}} {{elfin.ID_G}}/{{elfin.Id}} ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
    </script>
</div>





