<div class="hb-card clearfix">
	<div class="hb-card-content"
		style="padding-top: 0px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
		<h4
			style="margin-top: 8px; float: right; text-align: right; width: 320px;">
			<i>HyperBird<sup>&nbsp;&reg;</sup></i> <img
				src="/assets/images/hb_bird_small.gif"
				ng-src="/assets/images/hb_bird_125x50.gif"> 5.4
		</h4>
		<div style="margin-top: 8px;">
			<table>
				<tbody>
					<tr>
						<td><img src="/assets/images/ville_ne_sb_logo.png"
							ng-src="/assets/images/ville_ne_sb_logo.png"></td>
						<td style="vertical-align: bottom;">
							<div
								style="margin-bottom: 13px; size: 3.5em; overflow: hidden; white-space: nowrap;">
								<h3>
									Service des <b>Domaines</b>
								</h3>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div hb-dashboard-dom></div>
	</div>
</div>

