<ul class="menu" >

	<li hb-dropdown-menu-items="menuItems.maps" hb-dropdown-menu-label="Plans" hb-dropdown-menu-icon-class="icon-map-marker" hb-dropdown-menu />
	<li hb-dropdown-menu-items="menuItems.collections" hb-dropdown-menu-label="Collections" hb-dropdown-menu-icon-class="icon-list" hb-dropdown-menu />
    <li hb-dropdown-menu-items="menuItems.operations" hb-dropdown-menu-label="Exploitation" hb-dropdown-menu-icon-class="icon-folder-open" hb-dropdown-menu />
    <li hb-dropdown-menu-items="menuItems.management" hb-dropdown-menu-label="Gestion" hb-dropdown-menu-icon-class="icon-tasks" hb-dropdown-menu />
    <li hb-dropdown-menu-items="menuItems.data" hb-dropdown-menu-label="Données" hb-dropdown-menu-icon-class="icon-hdd" hb-dropdown-menu />
    <li hb-dropdown-menu-items="menuItems.manager" hb-dropdown-menu-label="Manager" hb-dropdown-menu-icon-class="icon-cogs" hb-dropdown-menu />

    <li class="dropdown has-menu">
        <a class="dropdown-toggle" href="#"><i class="icon-briefcase"></i> {{activeJob.IDENTIFIANT.NOM}}<span class="arrow">&nbsp;</span></a>
        <ul class="dropdown-menu">
            <li ng-repeat="job in jobs" ><a ng-click="activateJob(job)" ><span class="icon" data-icon="G"></span><span>{{job.IDENTIFIANT.NOM}}</span></a></li>
        </ul>
    </li>

    <li class="right col_3 search-wrapper">
        <input class="search" type="text" placeholder="Recherche" />
        <button class="blue small pill"><i class="icon-search"></i></button>
        <button class="red small" ng-click="changeViewMode()"><i class="icon-desktop"></i></button>
    </li>
</ul>

<!-- TODO: notifications would better float on top of UI -->
<div ng-show="sharedStatusMessage.data || sharedErrorMessage.data" class="grid" ng-style="gridStyle">
	<div class="col_12">
		<div class="notifications clearfix">
			<div ng-show="sharedErrorMessage.data" class="notice error">
				<i class="icon-error-sign icon-large"></i>
				{{sharedErrorMessage.data}}
			</div>		
			<!-- Info TODO: should disappear after n seconds: built in with ngStrap alert. -->
			<div ng-show="sharedStatusMessage.data" class="notice info">
				<i class="icon-info-sign icon-large"></i>
				{{sharedStatusMessage.data}}
			</div>
		</div>
	</div>
</div>

