<div>
	<div class="modal-header">
		<h3 class="modal-title">Entrez le nouveau mot de passe de votre choix</h3>
		<div ng-show="pwdForm.pwd1.$error.required" >Le champs <strong>Mot de passe</strong> est obligatoire!</div>
		<div ng-show="pwdForm.pwd2.$error.required" >Le champs <strong>Répétez le mot de passe</strong> est obligatoire!</div>
		<div ng-show="pwdForm.pwd1.$error.hbEquals || pwdForm.pwd2.$error.hbEquals" >La valeur des deux champs doivent être égales!</div>
	</div>
<!-- 	<div class="modal-body" ui-keypress="{13:'keypressCallback($event)'}"> -->
	<div class="modal-body">
		<form name="pwdForm" class="form-horizontal" role="form" novalidate > <!--  novalidate prevents HTML5 automated validation  -->	
			<div class="form-group has-feedback" ng-class="getCssHasFeedback(pwdForm.pwd1)">
				<label for="pwd1" class="col-sm-6 control-label">Mot de passe</label>
				<div class="col-sm-6">
					<input id="pwd1" name="pwd1" type="password" class="form-control"
						ng-model="model.pwd1" hb-equals="{{model.pwd2}}" required>
				</div>
			</div>
			<div class="form-group has-feedback" ng-class="getCssHasFeedback(pwdForm.pwd2)">
				<label for="pwd2" class="col-sm-6 control-label">Répétez le mot de passe</label>
				<div class="col-sm-6">
					<input id="pwd2" name="pwd2" type="password" class="form-control"
						ng-model="model.pwd2" hb-equals="{{model.pwd1}}" required>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Annuler</button>
		<button class="btn btn-primary" ng-click="ok()" ng-disabled="!pwdForm.$valid">OK</button>
	</div>
</div>