<div hb-list-container hb-elfin-classe='ROLE'>
	<table class="table table-condensed table-bordered table-striped"
		ng-show="elfins">
		<thead>
			<tr>
				<th colspan="6"><span class="badge">{{elfinsCount}}</span> rôle{{ elfinsCount | plural }} trouvé{{
					elfinsCount | plural }}</th>
			</tr>
			<tr>
				<th />
				<th>Type</th>
				<th>Nom</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
<!-- 			<tr ng-repeat="elfin in elfins | orderBy:'IDENTIFIANT.NOM'"> -->
			<tr ng-repeat="elfin in elfins | orderBy:['GROUPE','IDENTIFIANT.NOM']">
				<td>
					<div hb-card-view-link hb-href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}"></div>
				</td>
				<td>{{elfin.GROUPE}}</td>
				<td>{{elfin.IDENTIFIANT.NOM}}</td>
				<td>{{elfin.DIVERS.REMARQUE}}</td>
			</tr>
		</tbody>
	</table>
</div>

