<div hb-list-container hb-elfin-classe='TRANSACTION'>
	<table class="table table-condensed table-bordered table-striped"
		ng-show="elfins">
		<thead>
			<tr>
				<th colspan="6"><span class="badge">{{elfinsCount}}</span> transaction{{ elfinsCount | plural }} trouvée{{ elfinsCount | plural
					}}</th>
			</tr>
			<tr>
				<th />
				<!-- Remark: always empty on tested data -->
				<!-- 			<th>Groupe</th> -->
				<th>Propriétaire</th>
				<th>N° de gérance</th>
				<th>Lieu-dit</th>
				<th>N° de construction</th>
				<th>Adresse</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="elfin in elfins">
				<td>
					<div hb-card-view-link hb-href="/elfin/{{elfin.ID_G}}/{{elfin.CLASSE}}/{{elfin.Id}}"></div>				
				</td>
				<!-- Remark: always empty on tested data -->
				<!-- <td>{{elfin.GROUPE}}</td>  -->
				<!-- Remark: NOM always empty on tested data replaced by VALUE-->
				<td>{{elfin.PARTENAIRE.PROPRIETAIRE.VALUE}}</td>
				<td>{{elfin.IDENTIFIANT.OBJECTIF}}</td>
				<td>{{elfin.CARACTERISTIQUE.CARSET.CAR[0].VALEUR}}</td>
				<td>{{elfin.IDENTIFIANT.NOM}}</td>
				<td>{{elfin.IDENTIFIANT.ALIAS}}</td>
			</tr>
		</tbody>
	</table>
</div>

