<div>
	<div class="modal-header">
		<h3 class="modal-title">Des modifications sont en cours!</h3>
	</div>
	<div class="modal-body" style="height: 160px;">
		<div class="form-group">
				<label class="col-sm-12 control-label" style="padding-left: 0; padding-right: 0;padding-top: 5px;padding-bottom: 5px;">
				Voulez-vous rester sur la page courante afin de pouvoir sauvegarder vos modifications ?
				</label>						
				<label class="col-sm-12 control-label" style="padding-left: 0; padding-right: 0;padding-top: 5px;padding-bottom: 5px;">
				Si vous quittez la page courante sans sauvegarder vos modifications, celles-ci seront perdues.
				</label>
		</div>
		<div class="clearfix"></div>		
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Non</button>		
		<button class="btn btn-primary" ng-click="ok()">Oui</button>
	</div>
</div>
