doctype html
html(ng-app="hb5")
    head
        title Hyperbird 5.4 - GesPatri
        base(href="/")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")

        include stylesheets
        include scripts
    body
        div(ng-include="'/assets/views/menu.html'", ng-controller="MenuController")
        div.col-xs-12.visible-xs.hb-menu-bar-xs-height
        div.col-sm-12.visible-sm.hb-menu-bar-sm-height
        div.col-md-12.visible-md.hb-menu-bar-md-height
        div.col-lg-12.visible-lg.hb-menu-bar-lg-height

        div.container-fluid
            div#views-wrapper.row
                div.col-xs-1.margin
                div.col-lg-10.col-xs-11.card-view
                    div(ng-view)
                div.col-xs-10.map-view.splitViewMargin(style="display: none;", ng-include="'/assets/views/hbMap.html'")
                div.col-lg-1.margin

        div(wc-overlay, wc-overlay-delay="300") Chargement des données