script(type="text/javascript", src="/assets/bower_components/moment/min/moment.min.js")
script(type="text/javascript", src="/assets/bower_components/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/assets/bower_components/angular/angular.js")
script(type="text/javascript", src="/assets/bower_components/angular-i18n/angular-locale_fr-ch.js")
script(type="text/javascript", src="/assets/bower_components/angular-route/angular-route.js")
script(type="text/javascript", src="/assets/bower_components/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-grid/ui-grid.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-validate/dist/validate.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-indeterminate/dist/indeterminate.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-mask/dist/mask.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-event/dist/event.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-scrollpoint/dist/scrollpoint.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-scroll/dist/ui-scroll.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-scroll/dist/ui-scroll-grid.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-uploader/dist/uploader.min.js")
script(type="text/javascript", src="/assets/bower_components/angular-ui-utils/index.js")
script(type="text/javascript", src="/assets/bower_components/angular-filter/dist/angular-filter.min.js")
script(type="text/javascript", src="/assets/bower_components/lodash/dist/lodash.min.js")
script(type="text/javascript", src="/assets/bower_components/restangular/dist/restangular.js")
script(type="text/javascript", src="/assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(type="text/javascript", src="/assets/lib/hbUi.geo/hbUi.geo-0.0.1.min.js")
script(type="text/javascript", src="/assets/lib/hbUi.sse/hbUi.sse-0.0.1.min.js")
script(type="text/javascript", src="/assets/bower_components/chosen/chosen.jquery.js")
script(type="text/javascript", src="/assets/bower_components/angular-chosen-localytics/dist/angular-chosen.min.js")
script(type="text/javascript", src="/assets/bower_components/flow.js/dist/flow.min.js")
script(type="text/javascript", src="/assets/bower_components/ng-flow/dist/ng-flow.min.js")
script(type="text/javascript", src="/assets/bower_components/leaflet-dist/leaflet.js")
script(type="text/javascript", src="/assets/bower_components/leaflet-providers/leaflet-providers.js")
script(type="text/javascript", src="/assets/bower_components/leaflet.draw/dist/leaflet.draw.js")
script(type="text/javascript", src="/assets/lib/leaflet/leaflet.geometryutil.js")
script(type="text/javascript", src="/assets/lib/leaflet/leaflet.snap.js")
script(type="text/javascript", src="/assets/lib/leaflet/Leaflet.Coordinates-0.1.4.src.js")
script(type="text/javascript", src="/assets/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js")
script(type="text/javascript", src="/assets/bower_components/lightbox2/dist/js/lightbox.min.js")
script(type="text/javascript", src="/conf.js")
script(type="text/javascript", src="/assets/dist/hb5-0.1.1.js")
