link(rel="stylesheet", type="text/css", href="/assets/css/chosen/chosen.css")
link(rel="stylesheet", type="text/css", href="/assets/css/chosen/chosen-spinner.css")
link(rel="stylesheet", type="text/css", href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", type="text/css", href="/assets/css/kickstart/kickstart-menus.css", media="all")
link(rel="stylesheet", type="text/css", href="/assets/css/kickstart/fonts/fontawesome/css/font-awesome.min.css", media="all")
link(rel="stylesheet", type="text/css", href="assets/bower_components/leaflet-dist/leaflet.css", media="all")
link(rel="stylesheet", type="text/css", href="/assets/css/leaflet/Leaflet.Coordinates-0.1.4.css", media="all")
link(rel="stylesheet", type="text/css", href="/assets/css/angular-motion/angular-motion.min.css", media="all")
link(rel="stylesheet", type="text/css", href="/assets/css/angular-motion/angular-motion.min.css", media="all")

<!--[if IE 8]>
<link rel="stylesheet" href="/assets/css/leaflet/Leaflet.Coordinates-0.1.4.ie.css"/>
<![endif]-->

link(rel="stylesheet", type="text/css", href="/assets/css/style.css", media="all")
link(rel="stylesheet", type="text/css", href="/assets/dist/hb5-0.1.1.css", media="all")
link(rel="stylesheet", type="text/css", href="/assets/bower_components/angular-ui-grid/ui-grid.css", media="all")
link(rel="stylesheet", type="text/css", href="/assets/bower_components/leaflet.draw/dist/leaflet.draw.css", media="all")
link(rel="stylesheet", type="text/css", href="/assets/bower_components/lightbox2/dist/css/lightbox.css", media="all")
