
<!-- style="padding: 0; margin: 0;" -->
<!-- could pass btn-sm, bth-xs,... to ng-class for size customisation -->
<div class="dropdown">
	<button type="button" class="btn btn-default dropdown-toggle"
		style="width: 100%; padding-left: 0.5em;" type="button"
		data-toggle="dropdown">
		<div class="col-sm-10" style="text-align: left"
			ng-show="ngModelCtrl.$viewValue">{{getOptionName(ngModelCtrl.$viewValue)}}</div>
		<div class="col-sm-10" style="text-align: left"
			ng-show="!ngModelCtrl.$viewValue">
			<em>Sélectionnez&nbsp;</em>
		</div>
<!-- 		<div class="col-sm-10" style="text-align: left" -->
<!-- 			ng-show="!ngModelCtrl.$viewValue || ngModelCtrl.$viewValue === ''"> -->
<!-- 			<em>Sélectionnez&nbsp;</em> -->
<!-- 		</div> -->
		<div class="col-sm-2">
			<span class="caret"></span>
			<span class="sr-only">(Toggle hb-select-single dropdown)</span>
		</div>
	</button>
	<ul class="dropdown-menu" style="width: 100%;" role="menu">
<!-- 		<li role="presentation" class="dropdown-header">titre...</li> -->
		<li ng-show="emptyOption" ng-click="selectOption(emptyOption)"><a role="menuitem" style="color: grey; font-style: italic; font-weight: bold;" tabindex="-1" href="#">{{getOptionName(emptyOption.value)}}</a></li>
		<li ng-repeat="option in options" ng-click="selectOption(option)"><a
			role="menuitem" tabindex="-1" href="#">{{option.name}}</a></li>
	</ul>
</div>

