<ul class="hb-menu-bar menu" >
<!-- <nav class="navbar navbar-default navbar-fixed-top"  role="navigation"> -->
<!-- 	<div class="container-fluid" > -->
		<!--
			ui.bootstrap: dropdown, dropdown-toggle, dropdown-menu 
			htmlkickstart: kickstart-menus.css: menu, has-menu
			htmlkickstart: font-awesome.min.css: icon-*
		 -->
<!-- 		<ul class="nav navbar-nav navbar-left" > -->
	    <li class="search-wrapper">	    
			<div ng-if="!(activeJobCreateUpdateACL === 'SDS' || activeJobCreateUpdateACL === 'DOM')" hb-search ></div>
			<div ng-if="(activeJobCreateUpdateACL === 'SDS')" hb-search-sds></div>
			<div ng-if="(activeJobCreateUpdateACL === 'DOM')" hb-search-dom></div>
	    </li>

		<li hb-dropdown-menu-items="menuItems.maps.elements" hb-dropdown-menu-label="menuItems.maps.label" hb-dropdown-menu-icon-class="icon-map-marker" hb-dropdown-menu />
		<li hb-dropdown-menu-items="menuItems.collections.elements" hb-dropdown-menu-label="menuItems.collections.label" hb-dropdown-menu-icon-class="icon-list" hb-dropdown-menu />
	    <li hb-dropdown-menu-items="menuItems.operations.elements" hb-dropdown-menu-label="menuItems.operations.label" hb-dropdown-menu-icon-class="icon-folder-open" hb-dropdown-menu />
	    <li hb-dropdown-menu-items="menuItems.management.elements" hb-dropdown-menu-label="menuItems.management.label" hb-dropdown-menu-icon-class="icon-tasks" hb-dropdown-menu />
	    <li hb-dropdown-menu-items="menuItems.data.elements" hb-dropdown-menu-label="menuItems.data.label" hb-dropdown-menu-icon-class="icon-hdd" hb-dropdown-menu />
	    <li hb-dropdown-menu-items="menuItems.manager.elements" hb-dropdown-menu-label="menuItems.manager.label" hb-dropdown-menu-icon-class="icon-cogs" hb-dropdown-menu />
<!-- 		</ul> -->
	
<!-- 		<ul class="nav navbar-nav navbar-right" > -->
	    <li class="dropdown has-menu">
	        <a class="dropdown-toggle" href="#"><i class="icon-briefcase"></i> {{activeJob.IDENTIFIANT.NOM}}<span class="arrow">&nbsp;</span></a>
	        <ul class="dropdown-menu">
	            <li ng-repeat="job in jobs" ><a ng-click="activateJob(job)" ><span class="icon" data-icon="G"></span><span>{{job.IDENTIFIANT.NOM}}</span></a></li>
	        </ul>
	    </li>
	    
	    <li class="dropdown has-menu">
			<a class="dropdown-toggle"  href="#" ><i class="glyphicon glyphicon-user" style="font-size: 1em;"></i>&nbsp;{{userDetails.username}} - {{userDetails.name}} {{userDetails.surname}}<span class="arrow">&nbsp;</span></a>
	        <ul class="dropdown-menu">
	        	<li ><a target="_self" href="/logout" >Logout</a></li>
	        	<!-- TODO: implement own password update -->
<!-- 	        	<li ><a ng-click="resetPwd()" href="#">Mettre à jour mon mot de passe</a></li> -->
	        </ul>
	    </li>	    
	
<!-- 	    </ul> -->
<!--     </div> -->
<!-- </nav> -->
</ul>

<!-- TODO: notifications should be displayed in a modal popup -->
<div ng-show="getAlerts.length > 0" class="container hb-alert-panel-fixed-top" >
	<div class="hb-alert-panel-center">
		<div class="hb-card col-sm-12">
			<div>
				<alert ng-repeat="alert in getAlerts" type="alert.type" close="removeAlert($index)">{{alert.message}}</alert>
			</div>				
		</div>
	</div>
</div>

