ul.hb-menu-bar.menu
    li.search-wrapper
        div(ng-if="!(activeJobCreateUpdateACL === 'SDS' || activeJobCreateUpdateACL === 'DOM')", hb-search)
        div(ng-if="(activeJobCreateUpdateACL === 'SDS')", hb-search-sds)
        div(ng-if="(activeJobCreateUpdateACL === 'DOM')", hb-search-dom)

    li(hb-dropdown-menu-items="menuItems.maps.elements", hb-dropdown-menu-label="menuItems.maps.label", hb-dropdown-menu-icon-class="icon-map-marker", hb-dropdown-menu)
    li(hb-dropdown-menu-items="menuItems.collections.elements", hb-dropdown-menu-label="menuItems.collections.label", hb-dropdown-menu-icon-class="icon-list", hb-dropdown-menu)
    li(hb-dropdown-menu-items="menuItems.operations.elements", hb-dropdown-menu-label="menuItems.operations.label", hb-dropdown-menu-icon-class="icon-folder-open", hb-dropdown-menu)
    li(hb-dropdown-menu-items="menuItems.management.elements", hb-dropdown-menu-label="menuItems.management.label", hb-dropdown-menu-icon-class="icon-tasks", hb-dropdown-menu)
    li(hb-dropdown-menu-items="menuItems.data.elements", hb-dropdown-menu-label="menuItems.data.label", hb-dropdown-menu-icon-class="icon-hdd", hb-dropdown-menu)
    li(hb-dropdown-menu-items="menuItems.manager.elements", hb-dropdown-menu-label="menuItems.manager.label", hb-dropdown-menu-icon-class="icon-cogs", hb-dropdown-menu)

    li.dropdown.has-menu
        a.dropdown-toggle(href="#")
            i.icon-briefcase
            | {{activeJob.IDENTIFIANT.NOM}}
            span.arrow
        ul.dropdown-menu
            li(ng-repeat="job in jobs")
                a(ng-click="activateJob(job)")
                    span.icon(data-icon="G")
                    span &nbsp;{{ job.IDENTIFIANT.NOM }}

    li.dropdown.has-menu
        a.dropdown-toggle(href="#")
            i.glyphicon.glyphicon-user(style="font-size: 1em;") &nbsp;
            | {{ userDetails.username }} - {{ userDetails.name }} {{ userDetails.surname }}
            span.arrow
            ul.dropdown-menu
                li
                    a(target="_self", href="/logout") Logout

div.container.hb-alert-panel-fixed-top(ng-show="getAlerts.length > 0")
    div.hb-alert-panel-center
        div.hb-card.col-sm-12
            div(uib-alert, ng-repeat="alert in getAlerts", type="alert.type", close="removeAlert($index)", ng-class="'alert-' + (alert.type || 'warning')") {{ alert.message }}
